apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: extsonomy

resources:
  - ../../base
  - mariadb-deployment.yaml
  - mariadb-service.yaml

configMapGenerator:
  - name: mariadb-init
    files:
      - 00-create-dbs.sql=../../../docker/mysql-init/00-create-dbs.sql
      - 01-schema.sql=../../../bibsonomy-database/src/main/resources/database/bibsonomy-db-schema.sql
      - 02-init.sql=../../../bibsonomy-database/src/main/resources/database/bibsonomy-db-init.sql
      - 03-test-data.sql=../../../bibsonomy-database/src/test/resources/database/insert-test-data.sql
    options:
      disableNameSuffixHash: true

patches:
  - path: rest-api-patch.yaml
