image: maven:3-openjdk-8

variables:
  #MAVEN_CLI_OPTS: "-s .m2/settings.xml --batch-mode"
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"

cache:
  paths:
    - .m2/repository/

build:
  stage: build
  script:
    - mvn clean install -DskipTests -N
  artifacts:
    untracked: true
    expire_in: 1 hour
    expose_as: jars
    paths:
      - target/

test:
  stage: test
  variables:
    MARIADB_ROOT_PASSWORD: root
    MARIADB_USER: bibsonomy
    MARIADB_PASSWORD: ""
  services:
    - mariadb:10.3
  before_script:
    - grep bibsonomy-webapp/src/main/webapp/WEB-INF/project.properties -e biblicious.org | sed s/biblicious.org/mariadb/g > ~/bibsonomy.properties
  script:
    - mvn test --fail-at-end -Dmaven.test.failure.ignore=true
    - mvn jxr:jxr
    - mvn surefire-report:report-only -DoutputDirectory=public
    - mvn site -DgenerateReports=false
  artifacts:
    when: always
    expire_in: 1 hour
    reports:
      junit:
        - bibsonomy-*/target/surefire-reports/TEST-*.xml
    paths:
      - target/
