image: maven:3-openjdk-8

stages:
  - build
  - test

variables:
  #MAVEN_CLI_OPTS: "-s .m2/settings.xml --batch-mode"
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"

cache:
  paths:
    - .m2/repository/
    - target/

build:
  stage: build
  script:
    - mvn clean install -DskipTests

test:
  stage: test
  dependencies:
    - build
  script:
    - mvn $MAVEN_CLI_OPTS test
