image: maven:3.3.3-jdk-8

cache:
  paths:
    - .m2/repository/

build:
  stage: build
  script:
    - mvn clean install -DskipTests
  artifacts:
    untracked: true
    expire_in: 1 hour
    expose_as: jars
    paths:
      - target/

test:
  stage: test
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_USER: bibsonomy
    MYSQL_PASSWORD: password
    MYSQL_DATABASE: test
  services:
    - name: mysql:5
      alias: main-db
    - name: mysql:5
      alias: item-recommender-db
    - name: mysql:5
      alias: tag-recommender-db
  script:
    - mvn test --fail-at-end -Dmaven.test.failure.ignore=true -s misc/scripts/settings.xml -P bibsonomy-test-settings
    # no test html
    #- mvn surefire-report:report-only -Daggregate=true
    #- mvn site
  artifacts:
    untracked: true
    when: always
    expire_in: 1 hour
    reports:
      junit:
        - target/surefire-reports/TEST-*.xml
        - bibsonomy-*/target/surefire-reports/TEST-*.xml
    expose_as: testresults
    paths:
      - target/
