image: tomvoelker/maven-mariadb

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"

cache:
  paths:
    - .m2/repository/
    - target/

build:
  stage: build
  script:
    - mvn clean install $MAVEN_OPTS -DskipTests
  artifacts:
    untracked: true
    expire_in: 1 days
    expose_as: jars
    paths:
      - target/

test:
  stage: test
  variables:
    MARIADB_ROOT_PASSWORD: root
    MARIADB_USER: bibsonomy
    MARIADB_PASSWORD: password
  services:
    - mariadb:10.3
  before_script:
    - mysql --version
    - mysql -h mariadb -u root -p$MARIADB_ROOT_PASSWORD -e "SET GLOBAL time_zone = 'Europe/Paris';"
    - mysql -h mariadb -u root -p$MARIADB_ROOT_PASSWORD -e "SET GLOBAL default_storage_engine='InnoDB';"
    # Setting SQL Modes
    - mysql -h mariadb -u root -p$MARIADB_ROOT_PASSWORD -e "SET GLOBAL sql_mode="STRICT_TRANS_TABLES";"
    - mysql -h mariadb -u root -p$MARIADB_ROOT_PASSWORD -e "SET GLOBAL sql_mode=CONCAT(@@global.sql_mode, ',NO_ZERO_DATE');"
    - mysql -h mariadb -u root -p$MARIADB_ROOT_PASSWORD -e "SET GLOBAL sql_mode=CONCAT(@@global.sql_mode, ',NO_AUTO_CREATE_USER');"
    - mysql -h mariadb -u root -p$MARIADB_ROOT_PASSWORD -e "SET GLOBAL sql_mode=CONCAT(@@global.sql_mode, ',NO_ENGINE_SUBSTITUTION');"
    - mysql -h mariadb -u root -p$MARIADB_ROOT_PASSWORD -e "SET GLOBAL sql_mode=CONCAT(@@global.sql_mode, ',NO_ZERO_IN_DATE');"
    - mysql -h mariadb -u root -p$MARIADB_ROOT_PASSWORD -e "SELECT @@SQL_MODE, @@GLOBAL.SQL_MODE;"

    - mysql -h mariadb -u root -p$MARIADB_ROOT_PASSWORD -e "CREATE DATABASE IF NOT EXISTS bibsonomy_unit_test;"
    - mysql -h mariadb -u root -p$MARIADB_ROOT_PASSWORD -e "CREATE DATABASE IF NOT EXISTS main_db;"
    - mysql -h mariadb -u root -p$MARIADB_ROOT_PASSWORD -e "CREATE DATABASE IF NOT EXISTS item_recommender_db;"
    - mysql -h mariadb -u root -p$MARIADB_ROOT_PASSWORD -e "CREATE DATABASE IF NOT EXISTS tag_recommender_db;"
    - mysql -h mariadb -u root -p$MARIADB_ROOT_PASSWORD -e "GRANT ALL PRIVILEGES ON main_db.* TO '$MARIADB_USER'@'%' IDENTIFIED BY '$MARIADB_PASSWORD';"
    - mysql -h mariadb -u root -p$MARIADB_ROOT_PASSWORD -e "GRANT ALL PRIVILEGES ON item_recommender_db.* TO '$MARIADB_USER'@'%';"
    - mysql -h mariadb -u root -p$MARIADB_ROOT_PASSWORD -e "GRANT ALL PRIVILEGES ON tag_recommender_db.* TO '$MARIADB_USER'@'%';"
    - mysql -h mariadb -u root -p$MARIADB_ROOT_PASSWORD -e "FLUSH PRIVILEGES;"
  script:
    - mvn test $MAVEN_OPTS --fail-never -Dmaven.test.failure.ignore=true -s misc/scripts/settings.xml -P bibsonomy-test-settings
    # no test html
    #- mvn surefire-report:report-only -Daggregate=true
    #- mvn site
  artifacts:
    untracked: true
    when: always
    expire_in: 1 days
    reports:
      junit:
        - target/surefire-reports/TEST-*.xml
        - bibsonomy-*/target/surefire-reports/TEST-*.xml
    expose_as: testresults
    paths:
      - target/

test-scraper:
  stage: test
  only:
    - /^.*scraper.*$/
  script:
    - mvn test $MAVEN_OPTS --fail-at-end -Dmaven.test.failure.ignore=true -pl bibsonomy-scraper -P allTests
  artifacts:
    untracked: true
    when: always
    expire_in: 1 days
    reports:
      junit:
        - target/surefire-reports/TEST-*.xml
        - bibsonomy-*/target/surefire-reports/TEST-*.xml
    expose_as: scrapertestresults
    paths:
      - target/

deploy_biblicious:
  stage: deploy
  script:
    - deploy.sh thewhite
