image: maven:3.3.3-jdk-8

variables:
  #MAVEN_CLI_OPTS: "-s .m2/settings.xml --batch-mode"
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"

cache:
  paths:
    - .m2/repository/

build:
  stage: build
  script:
    - mvn clean install -DskipTests
  artifacts:
    untracked: true
    expire_in: 1 hour
    expose_as: jars
    paths:
      - target/

test:
  stage: test
  variables:
    MARIADB_ROOT_PASSWORD: root
    MARIADB_USER: bibsonomy
    MARIADB_PASSWORD: test
  services:
    - mariadb:10.3
  #before_script:
  #- echo "<settings><profiles><profile><id>bibsonomy-test-settings</id><properties><database.main.url>jdbc:mysql://mariadb:3306/bibsonomy_test?useUnicode=true&amp;characterEncoding=utf-8&amp;mysqlEncoding=utf8</database.main.url><database.main.username>bibsonomy</database.main.username><database.main.password></database.main.password></properties></profile></profiles><activeProfiles><activeProfile>bibsonomy-test-settings</activeProfile></activeProfiles>" > .m2/settings.xml
  #- grep bibsonomy-webapp/src/main/webapp/WEB-INF/project.properties -e biblicious.org | sed s/biblicious.org/mariadb/g > ~/bibsonomy.properties
  #-P bibsonomy-test-settings
  script:
    - mvn test --fail-at-end -Dmaven.test.failure.ignore=true
    # no test html
    #- mvn surefire-report:report-only -Daggregate=true
    #- mvn site
  artifacts:
    untracked: true
    when: always
    expire_in: 1 hour
    reports:
      junit:
        - target/surefire-reports/TEST-*.xml
        - bibsonomy-*/target/surefire-reports/TEST-*.xml
    expose_as: testresults
    paths:
      - target/
