image: maven:3.3.3-jdk-8

build:
  stage: build
  script:
    - mvn clean install -DskipTests
  artifacts:
    untracked: true
    expire_in: 1 hour
    expose_as: jars
    paths:
      - target/

test:
  stage: test
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_USER: bibsonomy
    MYSQL_PASSWORD: password
    MYSQL_DATABASE: test
  services:
    - name: mariadb:10.3
      alias: main-db
    - name: mariadb:10.3
      alias: item-recommender-db
    - name: mariadb:10.3
      alias: tag-recommender-db
  before_script:
    - ls -la misc/scripts
    - cp misc/scripts/settings.xml .m2/settings.xml
  script:
    - mvn test --fail-at-end -Dmaven.test.failure.ignore=true -P bibsonomy-test-settings
    # no test html
    #- mvn surefire-report:report-only -Daggregate=true
    #- mvn site
  artifacts:
    untracked: true
    when: always
    expire_in: 1 hour
    reports:
      junit:
        - target/surefire-reports/TEST-*.xml
        - bibsonomy-*/target/surefire-reports/TEST-*.xml
    expose_as: testresults
    paths:
      - target/
