image: tomvoelker/maven-mariadb

stages:
  - build
  - test
  - report
  - visualize
  - deploy

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"

cache:
  paths:
    - .m2/repository/
    - target/

build:
  stage: build
  script:
    - mvn $MAVEN_OPTS clean org.jacoco:jacoco-maven-plugin:prepare-agent
    - mvn install $MAVEN_OPTS -DskipTests
  artifacts:
    untracked: true
    expire_in: 1 hour
    expose_as: jars
    paths:
      - target/

test:
  stage: test
  variables:
    MARIADB_ROOT_PASSWORD: root
    MARIADB_USER: bibsonomy
    MARIADB_PASSWORD: password
  services:
    - mariadb:10.3
  before_script:
    - mysql --version
    - mysql -h mariadb -u root -p$MARIADB_ROOT_PASSWORD -e "SET GLOBAL time_zone = 'Europe/Paris';"
    - mysql -h mariadb -u root -p$MARIADB_ROOT_PASSWORD -e "SET GLOBAL default_storage_engine='InnoDB';"

    - mysql -h mariadb -u root -p$MARIADB_ROOT_PASSWORD -e "SET GLOBAL sql_mode="STRICT_TRANS_TABLES";"
    - mysql -h mariadb -u root -p$MARIADB_ROOT_PASSWORD -e "SET GLOBAL sql_mode=CONCAT(@@global.sql_mode, ',NO_ZERO_DATE');"
    - mysql -h mariadb -u root -p$MARIADB_ROOT_PASSWORD -e "SET GLOBAL sql_mode=CONCAT(@@global.sql_mode, ',NO_AUTO_CREATE_USER');"
    - mysql -h mariadb -u root -p$MARIADB_ROOT_PASSWORD -e "SET GLOBAL sql_mode=CONCAT(@@global.sql_mode, ',NO_ENGINE_SUBSTITUTION');"
    - mysql -h mariadb -u root -p$MARIADB_ROOT_PASSWORD -e "SET GLOBAL sql_mode=CONCAT(@@global.sql_mode, ',NO_ZERO_IN_DATE');"
    - mysql -h mariadb -u root -p$MARIADB_ROOT_PASSWORD -e "SELECT @@SQL_MODE, @@GLOBAL.SQL_MODE;"

    - mysql -h mariadb -u root -p$MARIADB_ROOT_PASSWORD -e "CREATE DATABASE IF NOT EXISTS bibsonomy_unit_test;"
    - mysql -h mariadb -u root -p$MARIADB_ROOT_PASSWORD -e "CREATE DATABASE IF NOT EXISTS main_db;"
    - mysql -h mariadb -u root -p$MARIADB_ROOT_PASSWORD -e "CREATE DATABASE IF NOT EXISTS item_recommender_db;"
    - mysql -h mariadb -u root -p$MARIADB_ROOT_PASSWORD -e "CREATE DATABASE IF NOT EXISTS tag_recommender_db;"
    - mysql -h mariadb -u root -p$MARIADB_ROOT_PASSWORD -e "GRANT ALL PRIVILEGES ON main_db.* TO '$MARIADB_USER'@'%' IDENTIFIED BY '$MARIADB_PASSWORD';"
    - mysql -h mariadb -u root -p$MARIADB_ROOT_PASSWORD -e "GRANT ALL PRIVILEGES ON item_recommender_db.* TO '$MARIADB_USER'@'%';"
    - mysql -h mariadb -u root -p$MARIADB_ROOT_PASSWORD -e "GRANT ALL PRIVILEGES ON tag_recommender_db.* TO '$MARIADB_USER'@'%';"
    - mysql -h mariadb -u root -p$MARIADB_ROOT_PASSWORD -e "FLUSH PRIVILEGES;"
  script:
    - mvn test org.jacoco:jacoco-maven-plugin:report-aggregate $MAVEN_OPTS --fail-never -Dmaven.test.failure.ignore=true -s misc/scripts/settings.xml -P bibsonomy-test-settings
    # no test html
    #- mvn surefire-report:report-only -Daggregate=true -fn
    #- mvn site
  after_script:
    - cat coverage/target/site/jacoco-aggregate/index.html | grep -o '<tfoot>.*</tfoot>'
  artifacts:
    untracked: true
    when: always
    expire_in: 1 hour
    reports:
      junit:
        - target/surefire-reports/TEST-*.xml
        - bibsonomy-*/target/surefire-reports/TEST-*.xml
    expose_as: testresults
    paths:
      - target/
      - coverage/target

test-scraper:
  stage: test
  rules:
    - if: $CI_COMMIT_BRANCH =~ /^.*scraper.*$/i
      when: manual
  script:
    - mvn test $MAVEN_OPTS --fail-at-end -Dmaven.test.failure.ignore=true -pl bibsonomy-scraper -P allTests
  artifacts:
    untracked: true
    when: always
    expire_in: 1 hour
    reports:
      junit:
        - target/surefire-reports/TEST-*.xml
        - bibsonomy-*/target/surefire-reports/TEST-*.xml
    expose_as: scrapertestresults
    paths:
      - target/

report:
  stage: visualize
  image: tomvoelker/simple-allure-cli
  script:
    - allure generate -c -o target/report allure-results
  needs: ["test"]
  dependencies:
    - test
  artifacts:
    untracked: true
    when: always
    expire_in: 1 hour
    expose_as: allureresults
    paths:
      - target/report

# https://docs.gitlab.com/ee/user/project/merge_requests/test_coverage_visualization.html#maven-example
coverage:
  stage: visualize
  image: registry.gitlab.com/haynes/jacoco2cobertura:1.0.7
  script:
    # convert report from jacoco to cobertura, using relative project path
    - 'python /opt/cover2cover.py coverage/target/site/jacoco-aggregate/jacoco.xml
                        $CI_PROJECT_DIR/bibsonomy-bibtex-parser/src/main/java/
                        $CI_PROJECT_DIR/bibsonomy-common/src/main/java/
                        $CI_PROJECT_DIR/bibsonomy-database/src/main/java/
                        $CI_PROJECT_DIR/bibsonomy-database-common/src/main/java/
                        $CI_PROJECT_DIR/bibsonomy-exporter/src/main/java/
                        $CI_PROJECT_DIR/bibsonomy-importer/src/main/java/
                        $CI_PROJECT_DIR/bibsonomy-layout/src/main/java/
                        $CI_PROJECT_DIR/bibsonomy-logging/src/main/java/
                        $CI_PROJECT_DIR/bibsonomy-marc-parser/src/main/java/
                        $CI_PROJECT_DIR/bibsonomy-model/src/main/java/
                        $CI_PROJECT_DIR/bibsonomy-openaccess/src/main/java/
                        $CI_PROJECT_DIR/bibsonomy-opensocial/src/main/java/
                        $CI_PROJECT_DIR/bibsonomy-pingback/src/main/java/
                        $CI_PROJECT_DIR/bibsonomy-qrcode/src/main/java/
                        $CI_PROJECT_DIR/bibsonomy-recommender/src/main/java/
                        $CI_PROJECT_DIR/bibsonomy-rest-client/src/main/java/
                        $CI_PROJECT_DIR/bibsonomy-rest-client-oauth/src/main/java/
                        $CI_PROJECT_DIR/bibsonomy-rest-common/src/main/java/
                        $CI_PROJECT_DIR/bibsonomy-rest-server/src/main/java/
                        $CI_PROJECT_DIR/bibsonomy-scraper/src/main/java/
                        $CI_PROJECT_DIR/bibsonomy-scrapingservice/src/main/java/
                        $CI_PROJECT_DIR/bibsonomy-search/src/main/java/
                        $CI_PROJECT_DIR/bibsonomy-search-elasticsearch/src/main/java/
                        $CI_PROJECT_DIR/bibsonomy-synchronization/src/main/java/
                        $CI_PROJECT_DIR/bibsonomy-web-common/src/main/java/
                        $CI_PROJECT_DIR/bibsonomy-webapp/src/main/java/
                        $CI_PROJECT_DIR/bibsonomy-wiki/src/main/java/
                         > coverage/target/site/coverage.xml'
  needs: ["test"]
  dependencies:
    - test
  artifacts:
    expire_in: 1 hour
    reports:
      cobertura: coverage/target/site/coverage.xml

deploy_results:
  stage: deploy
  image: ubuntu
  before_script: 
    - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client rsync -y )'
    - eval $(ssh-agent -s)
    - echo "$SSH_DEPLOY" | base64 --decode | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan bertha.cs.uni-kassel.de >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
  script:
    - echo ${CI_COMMIT_SHA:0:8}
    - rsync -a target/report/ bib-static@bertha.cs.uni-kassel.de:/home/bib-static/www/testresults/$CI_COMMIT_BRANCH
    - rsync -a target/report/ bib-static@bertha.cs.uni-kassel.de:/home/bib-static/www/testresults/$CI_COMMIT_BRANCH/{CI_COMMIT_SHA:0:8}
    - rsync -a coverage/target/site/jacoco-aggregate bib-static@bertha.cs.uni-kassel.de:/home/bib-static/www/coverage/$CI_COMMIT_BRANCH
    - rsync -a coverage/target/site/jacoco-aggregate bib-static@bertha.cs.uni-kassel.de:/home/bib-static/www/coverage/$CI_COMMIT_BRANCH/{CI_COMMIT_SHA:0:8}

deploy_biblicious:
  stage: deploy
  rules:
    - if: $CI_COMMIT_TAG == "biblicious"
      when: manual
  script:
    - mvn tomcat7:redeploy $MAVEN_OPTS -Ddeploy-to=biblicious
