image: maven:3-openjdk-8

stages:
  - build
  - test

variables:
  #MAVEN_CLI_OPTS: "-s .m2/settings.xml --batch-mode"
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"

cache:
  paths:
    - .m2/repository/
    - target/
# TODO remove -N below!
build:
  stage: build
  script:
    - mvn clean install -DskipTests -N
  artifacts:
    untracked: true
    expire_in: 1 hour
    expose_as: jars
    paths:
      - target/

test:
  stage: test
  script:
    - mvn test --fail-at-end -Dmaven.test.failure.ignore=true
  artifacts:
    when: always
    expire_in: 1 day
    reports:
      junit:
        - bibsonomy-*/target/surefire-reports/TEST-*.xml
