Download

  Here you can find downloads for BibSonomy.

*--+--+
|<<>>|<<Download>>
|Java client library ${project.version} | {{{download/${project.artifactId}-client-api-${project.version}.tar.gz}${project.artifactId}-client-api-${project.version}.tar.gz}}
|Java client library examples | {{{download/examples-javaclient.tar.gz}examples-javaclient.tar.gz}}
*--+--+
