html, body {
	margin: 0; 
	padding: 0; 
	font-size: 100%; 
}

body {
	color: #000;
	background: #ffffff;
	font-family: Verdana, sans-serif;
}

a:link    {color: #a3004e; text-decoration: none; padding: 1px; }
a:visited {color: #a3004e; text-decoration: none; padding: 1px; }
a:hover   {color: #000;    text-decoration: none; padding: 1px; }

#leftbox a:link, #leftbox a:visited {
	color: #a3004e; 
	text-decoration: none; 
}

.right a:link strong, .right a:visited strong, .right a:link, .right a:visited {
	color: #a3004e; text-decoration: none; padding: 1px; }
/*** Redundancy in this selector and the one below allows Op6 to display links properly ***/

/* .right a:hover strong, .right a:hover {color: #a3004e; padding: 1px; } */

/* #contents a:link, #contents a:visited, #contents a:hover {
	color: #a3004e; text-decoration:  none; padding-top: 0; } */

#footer a:link, #footer a:visited {color: #a3004e; }

#bottom {font-size: 1px; line-height:0; margin:0; padding:0;}


h3 {
	font-size: 1.2em; 
	color: black;
	font-weight: bold;
	margin: 10px 0;
	text-align: center;}

#rightbox h3, .left h3, .right h3 {color: black;}


#header h1 {
	color: #a3004e;
	font-weight: bold;
}

ul {
	color: #000;
	list-style: none;
	list-style-position: outside;
	margin: 0;
	padding: 0 10px 1.5em 10px; } /*** bottom padding instead of margin to avoid Op6 
			"Bottomgap Bug." Please see Big John's explanation of this bug - 
			http://www.positioniseverything.net/op-omnibus/bottomgap.html ***/

/* #contents ul {color: #cde7a8; font-weight: bold; } */

li {padding: 1px;} 



/*** The #header div has a static position ***/

#header {
	margin: 0;
	padding: 0;
	height: 50px; } /*** must be set so the following absolutely positioned divs are 
			    placed correctly on initial load of the page***/ 

#leftbox {
	position: absolute;
	left: 0px;
	width: 215px;
	border-top: 1px solid #000;
	background-color: #ffffff;
	padding-top: 5px;
	top: 71px;
}

#container {
	margin-left: 215px;
	background: #ffffff;
	border-left: 1px solid #000;
}

#navmenu {
	border-left:0px solid #000; border-right:0px solid #000; border-top:1px solid #000; border-bottom:1px solid #000; background-color: white;
	position: relative;
	left: 0;
	top: 0px; padding-left:0; padding-right:0; padding-top:3px; padding-bottom:3px


} /*** IE6 needs this to display the div ***/ 

/* Hide from IE5-Mac \*/
* html #navmenu {height: 20px;}
/* end hide *//*** This hack will make IE5-win display the background color for the nav ***/ 

#navmenu ul {
	display: block;
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
	line-height: 1.2em; } 

#navmenu ul li {
  	font-weight: bold;
  	display: block;
  	float: left;
  	position: relative; /*** IE6 needs this to display the links ***/
	padding: 1px 0;
	margin: 3px 0;
	width: 10em;  
	border-right: 2px solid  #a3004e; }

#navmenu ul li.first {
	margin-left: 0; 
	list-style: none; }

#navmenu ul li.last {
	border-right: none; }

#navmenu a {
	padding: 3px 0;
	color: #000; } 

#navmenu a:hover {
 	color: #a3004e; } 

#navclear {
  	display: block;
	clear: both; }

/*** IE5/Mac has trouble with right positioned boxes due to a secret margin. See  
     - http://www.l-c-n.com/IE5tests/right_pos/index.shtml - Philippe Wittenbergh's page 
     for an explanation of this problem and Sam Foster's page for an explanation of the 
     hack used  - http://www.sam-i-am.com/testsuite/css/mac_ie5_hack.html - ***/
 
#rightbox {
	position: absolute;
	right: 16px;
	margin-right: -15px;
	width: 143px;
	padding-top: 5px;
	background-color: #ffffff;

}

/* hide the following from IE5-Mac \*/
#rightbox {
	right: 0;
	margin-right: 0; }
/* IE5-Mac can see the rest */

#wrapper {
	margin-right: 138px;
	padding-top: 5px; }

/*** Tan hack for IE. Only IE browsers see this selector.
     This replaces the old Tantek hack. Please see Edwardson Tan's page.
     http://www.info.com.ph/~etan/w3pantheon/style/modifiedsbmh.html ***/

* html #wrapper {
	width: 100%; /*** IE5.5 needs this value to eliminate a horizontal scrollbar ***/
	w\idth: auto; } /*** resets the value for IE6 and IE5-Mac ***/

.left {
	float: left;
	margin-left: 6px;
	width: 43%;
	padding: 5px 5px 5px 0;
	background: #ffffff; 
}

html>body .left {margin-left: 12px; } /*** IE doubles the margin on the float. This sets
					the margin to the correct width for others ***/

.right {
	float: right;
	margin-right: 6px;
	width: 43%;
	padding: 5px 5px 5px 0;
	background: #ffffff; 
}

html>body .right {margin-right: 12px; } /*** IE doubles the margin on the float. This sets
					the margin to the correct width for others ***/

.clear {
	clear: both;
	margin: 0;
	padding: 0; 
}

#contents {
    border: 2px solid black;
	background-color: #FFFFFF;
	margin: 8px 149px 5px 10px;
	margin-right: 149px;
	margin-left: 10px;*/
	color: black;
	padding: 3px;
	position: relative; } /*** IE6 needs this to display the div ***/

#footer {
	background: #FFFFFF;
	margin-top: 1.5em;
	margin-right: 139px;
	border-top: 1px dashed #888; 
} 

/**************
	Bookmarks 
**************/

/* gesamtes Bookmark */
li.bm {
	margin-bottom:0.5em;
	line-height:1.1em;
}

/* Titel/Description */
.bmdesc {
	font-size: 110%;
}

/* erweiterte Beschreibung */
.bmext {
	font-size: 80%; 
}

/* Meta-Angaben */
.bmmeta {
	color: #555555;
	font-size: 80%;
}

/* Tags */
.bmtags {
	font-size: 80%;
}


/* Tag-sizes for bibsonomy::tag page */

.tags_first {
	font-size: 170%;
	line-height:1.5em;
}

.tags_second {
	font-size: 150%;
 	line-height:1.4em;
}


.tags_third {
	font-size: 130%;
 	line-height:1.3em;	
}

.tags_fourth {
	font-size: 110%;
 	line-height:1.2em;	
}

.tags_fifth {
	font-size: 90%;
 	line-height:1.1em;	
}

/* Tag-sizes for bibsonomy::relations page */

.upperconcept {
	font-size: 120%;
	line-height: 1.2em;
}

.lowerconcept {
	font-size: 75%;
	line-height: 1.1em;
}