.centeredImage {
  text-align:center;
  margin-top:0px;
  margin-bottom:0px;
  padding:0px;
}


.cluster0 {
  border-left-width:0.5em;
  border-left-style:solid;
  padding-left:0.5em;
  border-color:#80f080;	
}

.cluster1 {
  border-left-width:0.5em;
  border-left-style:solid;
  padding-left:0.5em;
  border-color:#f0f0f0;
}

.cluster2 {
  border-left-width:0.5em;
  border-left-style:solid;
  padding-left:0.5em;
  border-color:#a0a0f0;
}

.cluster3 {
  border-left-width:0.5em;
  border-left-style:solid;
  padding-left:0.5em;
  border-color:#8080f0;
}

.cluster4 {
  border-left-width:0.5em;
  border-left-style:solid;
  padding-left:0.5em;
  border-color:#5050f0;
}

.cluster5 {
  border-left-width:0.5em;
  border-left-style:solid;
  padding-left:0.5em;
  border-color:#4050a0;
}

.cluster6 {
  border-left-width:0.5em;
  border-left-style:solid;
  padding-left:0.5em;
  border-color:#605080;
}

.cluster7 {
  border-left-width:0.5em;
  border-left-style:solid;
  padding-left:0.5em;
  border-color:#905050;
}

.cluster8 {
  border-left-width:0.5em;
  border-left-style:solid;
  padding-left:0.5em;
  border-color:#e08050;  
}

.clusterSettings0 {
  border-left-width:0.5em;
  border-left-style:solid;
  padding-left:0.5em;
  border-color:#80f080;
}

.clusterSettings1 {
  border-left-width:0.5em;
  border-left-style:solid;
  padding-left:0.5em;
  border-color:#f0f0f0;
}

.clusterSettings2 {
  border-left-width:0.5em;
  border-left-style:solid;
  padding-left:0.5em;
  border-color:#a0a0f0;
}

.clusterSettings3 {
  border-left-width:0.5em;
  border-left-style:solid;
  padding-left:0.5em;
  border-color:#8080f0;
}

.clusterSettings4 {
  border-left-width:0.5em;
  border-left-style:solid;
  padding-left:0.5em;
  border-color:#5050f0;
}

.clusterSettings5 {
  border-left-width:0.5em;
  border-left-style:solid;
  padding-left:0.5em;
  border-color:#4050a0;
}

.clusterSettings6 {
  border-left-width:0.5em;
  border-left-style:solid;
  padding-left:0.5em;
  border-color:#605080;
}

.clusterSettings7 {
  border-left-width:0.5em;
  border-left-style:solid;
  padding-left:0.5em;
  border-color:#905050;
}

.clusterSettings8 {
  border-left-width:0.5em;
  border-left-style:solid;
  padding-left:0.5em;
  border-color:#e08050;
}
