.clusterLeftItemCloud {
	font-size:100%;
	overflow:hidden;
	text-align:justify;
	float:left;
	width:47%;
}

.clusterRightItemCloud {
	font-size:100%;
	overflow:hidden;
	text-align:justify;
	float:right;
	width:47%;
}


/*--------------------------------------------------------------------------*/
/* user specific layouts                                                    */  
/*--------------------------------------------------------------------------*/
.usertiny a, .usertiny {
	color: #8D9964 ! important;
	font-size: 85%;
}

.usernormal a, .usernormal {
	color: #8C9963 ! important;
	font-size: 95%;
}

.userlarge a, .userlarge {
    color: #383d27 ! important;
    font-size: 105%;
}

.userhuge a, .userhuge {
	color: #2F3321 ! important;
	font-size: 115%;
}

.usercloud {
	overflow: hidden;
	text-align: justify;
	font-size: 70%;
}

.usercloud li {
	display: inline;
	padding: 0em .1em 0em .1em;
	line-height: 1.5em;
}

.usercloud a,.taglist a {
	color: #069;
}

.usercloud a:hover,.taglist a:hover {
	color: #000000;
	text-decoration: none;
}

.centeredImage {
  text-align:center;
  margin-top:0px;
  margin-bottom:0px;
  padding:0px;
}


.cluster0 {
  border-left-width:0.5em;
  border-left-style:solid;
  padding-left:0.5em;
  border-color:#80f080;	
}

.cluster1 {
  border-left-width:0.5em;
  border-left-style:solid;
  padding-left:0.5em;
  border-color:#f0f0f0;
}

.cluster2 {
  border-left-width:0.5em;
  border-left-style:solid;
  padding-left:0.5em;
  border-color:#a0a0f0;
}

.cluster3 {
  border-left-width:0.5em;
  border-left-style:solid;
  padding-left:0.5em;
  border-color:#8080f0;
}

.cluster4 {
  border-left-width:0.5em;
  border-left-style:solid;
  padding-left:0.5em;
  border-color:#5050f0;
}

.cluster5 {
  border-left-width:0.5em;
  border-left-style:solid;
  padding-left:0.5em;
  border-color:#4050a0;
}

.cluster6 {
  border-left-width:0.5em;
  border-left-style:solid;
  padding-left:0.5em;
  border-color:#605080;
}

.cluster7 {
  border-left-width:0.5em;
  border-left-style:solid;
  padding-left:0.5em;
  border-color:#905050;
}

.cluster8 {
  border-left-width:0.5em;
  border-left-style:solid;
  padding-left:0.5em;
  border-color:#e08050;  
}

.clusterSettings0 {
  border-left-width:0.5em;
  border-left-style:solid;
  padding-left:0.5em;
  border-color:#80f080;
}

.clusterSettings1 {
  border-left-width:0.5em;
  border-left-style:solid;
  padding-left:0.5em;
  border-color:#f0f0f0;
}

.clusterSettings2 {
  border-left-width:0.5em;
  border-left-style:solid;
  padding-left:0.5em;
  border-color:#a0a0f0;
}

.clusterSettings3 {
  border-left-width:0.5em;
  border-left-style:solid;
  padding-left:0.5em;
  border-color:#8080f0;
}

.clusterSettings4 {
  border-left-width:0.5em;
  border-left-style:solid;
  padding-left:0.5em;
  border-color:#5050f0;
}

.clusterSettings5 {
  border-left-width:0.5em;
  border-left-style:solid;
  padding-left:0.5em;
  border-color:#4050a0;
}

.clusterSettings6 {
  border-left-width:0.5em;
  border-left-style:solid;
  padding-left:0.5em;
  border-color:#605080;
}

.clusterSettings7 {
  border-left-width:0.5em;
  border-left-style:solid;
  padding-left:0.5em;
  border-color:#905050;
}

.clusterSettings8 {
  border-left-width:0.5em;
  border-left-style:solid;
  padding-left:0.5em;
  border-color:#e08050;
}
