body {
	background-color: #666;
}

a {
	color: #282879;
}

a:hover {
	text-decoration: none;
	color: #C1002A;
}

.post:hover {
	background-color: #fff3f6 !important;
}

.newsbox {
	background-color: #FFF3F6;
}

#container {
	top: 14px;
	min-height: 1px;
}

#logoimage {
    display: block;
    margin-top: 0px;
    position: absolute;
    z-index: 555;
}

#headerlogoimage {
	height: 90px;
}

#logo {
	top: 7px;
	font-size: 34px;
}

#logoSubtitle {
	top: 45px;
	line-height: 2.1ex;
}

#logo, #logoSubtitle {
	left: 92px;
}

#logo, #logo a {
	color: #333333;
}

#logoSubtitle {
	color: #4B4B4B;
}

#header {
	background: #FFFFFF;
	/*background-color: #EDEFF7;*/
	border-bottom: 2px solid black;
	height: 80px;
}

#infoline, #infoline a {
	color: black;
}

#language, #language a {
	color: #4B4B4B;
}

#language a:hover {
	text-decoration: none;
	color: #C1002A;
}


#search {
    font-size: 18px;
}

#navigation, #navigation2 {
    background:  url("/resources_puma/image/imagesprite_v.png") repeat scroll 0 -57px ;
    color: white;
}

#navigation2 .signoff {
    background-image: url("/resources_puma/image/signoff_white.png");
}

#navigation > ul {
	margin-left: 1px;
}

#navigation ul li a { 
	color: white;
}

#navigation ul li.active { 
	color: #4B4B4B;
}

#navigation > ul li:hover, #navigation .pulldown:hover {
    color: #EDEFF7;
}
#navigation ul li.pulldown span,
#navigation ul li.pulldown > a,
#navigation ul li.pulldown.active:hover span,
#navigation ul li.pulldown.active:hover > a {
	background-image: url("/resources_puma/image/pulldown-marker-medium_white.png");
}

#navigation ul li.pulldown.active span,
#navigation ul li.pulldown.active > a {
	background-image: url("/resources/image/pulldown-marker-000000.png");
}


#navigation .pulldown > span {
    color: white;
}

#navigation .pulldown.active > span {
    color: inherit;
}
    
#navigation > ul > li > a:hover {
    color: #EDEFF7;
}

#navigation > ul ul li a, #navigation > ul li table a {
	color: black;
}

#navigation > ul ul li a, #navigation > ul li table {
	font-size: inherit;
	font-weight: bold;
}

#navigation2 a {
    color: #EDEFF7;
}	

#postcontainer {
	border: 1px solid #bcc3db;
	border-top: 0;
	border-right: 0;
	border-bottom: 0;
	top: 172px;
}

#container.noPageNavigation #postcontainer {
	border-bottom: 1px solid #bcc3db;
}

#container,
#container.noPageNavigation {
	background-color: #C6C6C6;
}


#footercontainer {
	border: 1px solid #bcc3db;
	border-top: 0;
}

#headercontainer {
	top: 112px;
}

input[type="text"], input[type="password"], input[type="file"], textarea, select {
    border: 1px solid #bcc3db;
    font-size: 100%;
}

input#inpf {
	font-size: 14px;
}

.tab_content, .tab .selected {
    border: 1px solid #bcc3db;
}

.tab .selected {
	border-bottom: none;
}

.tab_content {
	margin: 2ex 0ex;
}

.bookmarksContainer ul.posts, .publicationsContainer ul.posts {
	border: none;
}

#bookmarksheader .header, #publicationsheader .header {
    border: none;
}

#bookmarksfooter .footer, #publicationsfooter .footer {
    border: none;
}

#bookmarksheader .header, #publicationsheader .header, #panelheader .header {
	color: #4B4B4B;
}

.pgroup .private {
    background-color: #4B4B4B;
}

.tab .selected a {
	color: #4B4B4B;
}

.fsOuter {
	padding: 2ex;
}

.fsOuter, .fsInner, .fsVisible {
    background-color: #F8F8F8;
    border: 1px solid #bcc3db;
}

.tab .selected, .tab .ui-state-active {
	border-color: #BCC3DB;
}

#citation .citationHint a,
.tab .selected a, .tab .ui-state-active a {
	color: #848484;
}

div.ui-tabs ul.ui-tabs-nav li.ui-tabs-selected {
    border: 1px solid #bcc3db;
}

div.ui-tabs ul.ui-tabs-nav li.ui-tabs-selected a:hover {
    color: #282879;
}

.reqinput {
    background-color: #EDEFF7;
}

div.help > a, div.help > b {
    color: #4B4B4B;
}

ul#gold_menu li a {
    background-color: #4B4B4B;
    border: 1px solid #bcc3db;
    color: white !important;
}

ul.newMenu li a {
    background-color: #4B4B4B;
    border: 1px solid #bcc3db;
    color: white !important;
}

#pumageneral {
    font-size: 130%;
    font-weight: normal;
    margin-bottom: 4ex;
    margin-top: 3ex;
    text-align: center;
}
#wrap_btn {
    float: none;
    margin: auto;
    width: 510px;
}
#wrap_advantages {
    margin-bottom: 10px;
    margin-top: 3ex;
    min-height: 175px;
    text-align: center;
    width: 100%;
}
#desc_advantages {
    color: #4B4B4B;
    font-weight: normal;
    height: 5ex;
    padding: 2ex 3em;
    text-align: center;
}

#groupsList tr:hover:not(.groupsNewChar) {
    background-color: #CABEA6;
    color: #000000;
}

#groupsList tr:hover:not(.groupsNewChar) td > a {
    color: #000000;
}

#sidebox {
    background-color: #EDEFF7;
}


#sidebar a, #sidebar a:link, #sidebar a:visited {
    color: #282879 !important;
}

#sidebar a:hover {
	text-decoration: none;
	color: #C1002A !important;
}


.tagnormal a, .taghuge {
    color: #282879 !important;
}

.taglarge a, .taglarge {
    color: #394f89 !important;
}

.tagnormal a, .tagnormal {
    color: #4863ad !important;
}

.tagtiny a,.tagtiny {
	color: #6083e5 ! important;
}

.dd .ddChild a.selected {
    background-color: inherit;
}

.dd .ddChild a.selected:hover {
    background-color: #66CCFF;
}


div.grippie {
    border-color: #bcc3db;
}



#loginParts_LDAP:hover .loginHelp {
	display: block;
	background-image: url("http://puma.uni-kassel.de/t3pics/mufuka_beidseitig-ueberlagert400.png");
	background-repeat: no-repeat;
	background-position: 50% 130px;
}

.loginHelp {
	height: 350px;
	width: 410px;
	
}

#loginParts_LDAP .loginHelp {
	display: none;
}

#loginParts_INTERNAL:hover .loginHelp {
	display: none;
}

#loginParts_INTERNAL .loginHelp {
	display: none;
}

#loginParts_HTTPBASIC:hover .loginHelp {
	display: none;
}

#loginParts_HTTPBASIC .loginHelp {
	display: none;
}

#loginParts_OPENID:hover .loginHelp {
	display: none;
}

#loginParts_OPENID .loginHelp {
	display: none;
}

.socializer .addContainer {
        position: static;
}
.systemName,
h4.textPage,
h3.textPage {
	color: #4B4B4B;
}

.post .action .litem:hover,
#resultlist .litem:hover,
#pageOptions .litem:hover {
    color: #C1002A;
}