<?xml version="1.0" encoding="UTF-8"?>
<!--

     
     BibSonomy Recommender Webapp - Example remote recommender implementation
      
     Copyright (C) 2006 - 2008 Knowledge & Data Engineering Group, 
                               University of Kassel, Germany
                               http://www.kde.cs.uni-kassel.de/
     
     This program is free software; you can redistribute it and/or
     modify it under the terms of the GNU General Public License
     as published by the Free Software Foundation; either version 2
     of the License, or (at your option) any later version.
    
     This program is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU General Public License for more details.
     
     You should have received a copy of the GNU General Public License
     along with this program; if not, write to the Free Software
     Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

-->

<web-app version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>Sample Tag Recommender Servlets for BibSonomy</display-name>

	<servlet>
		<description>Servlet dispatching tag recommender queries.</description>
		<display-name>TagReccomenderServlet</display-name>
		<servlet-name>TagRecommenderServlet</servlet-name>
		<servlet-class>org.bibsonomy.recommender.servlets.TagRecommenderServlet</servlet-class>
		<init-param>
			<description></description>
			<param-name>recommender</param-name>
			<param-value>org.bibsonomy.recommender.tags.simple.SimpleContentBasedTagRecommender</param-value>
		</init-param>
	</servlet>

    <context-param>
  		<param-name>TagRecommender</param-name>
  		<!-- 
	    <param-value>org.bibsonomy.recommender.tags.simple.SimpleContentBasedTagRecommender</param-value>
	     -->
	    <param-value>mypackage.MyTagRecommender</param-value>
	</context-param>
<!-- 
	<servlet-mapping>
		<servlet-name>TagRecommenderServlet</servlet-name>
		<url-pattern>/TagRecommenderServlet</url-pattern>
	</servlet-mapping>
 -->
	<servlet-mapping>
		<servlet-name>TagRecommenderServlet</servlet-name>
		<url-pattern>/TagRecommenderServlet/*</url-pattern>
	</servlet-mapping>

</web-app>
