apiVersion: apps/v1
kind: Deployment
metadata:
  name: bibsonomy-rest-api-v2
spec:
  template:
    spec:
      containers:
        - name: rest-api
          env:
            - name: SECURITY_PERMITDOCS
              value: "true"
          envFrom:
            - secretRef:
                name: PREVIEW_DB_SECRET
