body {
	background-color: #F7EFED;
}

a {
    color: #DF430D;
}

#logoimage {
    display: block;
    margin-top: -10px;
    position: absolute;
    z-index: 55;
}

#headerlogoimage {
	height: 116px;
}

#logo, #logoSubtitle {
	left: 115px;
}

#logo, #logo a, #logoSubtitle {
	color: black;
}

#header {
	background-color: #F7EFED;
	border-bottom: 2px solid black;
}

#infoline, #infoline a {
	 color: black;
}

#language, #language a {
	 color: black;
}


#navigation, #navigation2 {
    background-color: #CABEA6;
}

#navigation > ul {
	margin-left: 2px;
}

#postcontainer {
	border: 1px solid #DBC3BC;
	border-top: 0;
	border-bottom: 0;
}

#container.noPageNavigation #postcontainer {
	border-bottom: 1px solid #DBC3BC;
}

#container.noPageNavigation {
	background-color: #F7EFED;
}


#footercontainer {
	border: 1px solid #DBC3BC;
	border-top: 0;
}

#headercontainer {
	border-left: 1px solid #DBC3BC;
	border-right: 1px solid #DBC3BC;
}

input[type="text"], input[type="password"], input[type="file"], textarea, select {
    border: 1px solid #DBC3BC;
}

.tab_content, .tab .selected {
    border: 1px solid #DBC3BC;
}

.tab .selected {
	border-bottom: none;
}

.tab_content {
	margin: 2ex 0ex;
}

.bookmarksContainer ul.posts, .publicationsContainer ul.posts {
	border: none;
}

#bookmarksheader .header, #publicationsheader .header {
    border: none;
}

#bookmarksfooter .footer, #publicationsfooter .footer {
    border: none;
}

#bookmarksheader .header, #publicationsheader .header, #panelheader .header {
	color: #DF430D;
}

#navigation ul li.active { 
	color: #DF430D;
}

.pgroup .private {
    background-color: #DF430D;
}

.tab .selected a {
	color: #DF430D;
}

.fsOuter {
	padding: 2ex;
}

.fsOuter, .fsInner, .fsVisible {
    background-color: #F8F8F8;
    border: 1px solid #DBC3BC;
}

.reqinput {
    background-color: #F7EFED;
}

div.help > a, div.help > b {
    color: #DF430D;
}

ul#gold_menu li a {
    background-color: #DF430D;
    border: 1px solid #DBC3BC;
    color: white !important;
}


