body {
	background-color: #F7EFED;
}

a {
	color: #872708;
}

#container {
	top: 14px;
}

#logoimage {
    display: block;
    margin-top: 0px;
    position: absolute;
    z-index: 55;
}

#headerlogoimage {
	height: 90px;
}

#logo {
	top: 7px;
	font-size: 34px;
}

#logoSubtitle {
	top: 45px;
	line-height: 2.1ex;
}

#logo, #logoSubtitle {
	left: 92px;
}

#logo, #logo a {
	color: black;
}

#logoSubtitle {
	color: #666;
}

#header {
	background-color: #F7EFED;
	border-bottom: 2px solid black;
	height: 80px;
}

#infoline, #infoline a {
	 color: black;
}

#language, #language a {
	 color: black;
}


#search {
    font-size: 18px;
}

#navigation, #navigation2 {
    background-color: #DF430D;
    color: white;
}

#navigation2 .signoff {
    background-image: url("/resources_puma/image/signoff_white.png");
}

#navigation > ul {
	margin-left: 1px;
}

#navigation ul li a { 
	color: #F7EFED;
}

#navigation ul li.active { 
	color: #DF430D;
}

#navigation > ul li:hover, #navigation .pulldown:hover {
    color: #F7EFED;
}

#navigation ul li.pulldown {
    background-image: url("/resources_puma/image/pulldown-marker-medium_white.png");
}

#navigation .pulldown > span {
    color: #F7EFED;;
}

#navigation .pulldown.active > span {
    color: inherit;
}
    
#navigation > ul > li > a:hover {
    color: #F7EFED;
}

#navigation > ul ul li a, #navigation > ul li table a {
	color: black;
}

#navigation > ul ul li a, #navigation > ul li table {
	font-size: inherit;
	font-weight: bold;
}

#navigation2 a {
    color: #F7EFED;
}	

#postcontainer {
	border: 1px solid #DBC3BC;
	border-top: 0;
	border-bottom: 0;
	top: 172px;
}

#container.noPageNavigation #postcontainer {
	border-bottom: 1px solid #DBC3BC;
}

#container.noPageNavigation {
	background-color: #F7EFED;
}


#footercontainer {
	border: 1px solid #DBC3BC;
	border-top: 0;
}

#headercontainer {
	border-left: 1px solid #DBC3BC;
	border-right: 1px solid #DBC3BC;
	top: 112px;
}

input[type="text"], input[type="password"], input[type="file"], textarea, select {
    border: 1px solid #DBC3BC;
    font-size: 100%;
}

input#inpf {
	font-size: 14px;
}

.tab_content, .tab .selected {
    border: 1px solid #DBC3BC;
}

.tab .selected {
	border-bottom: none;
}

.tab_content {
	margin: 2ex 0ex;
}

.bookmarksContainer ul.posts, .publicationsContainer ul.posts {
	border: none;
}

#bookmarksheader .header, #publicationsheader .header {
    border: none;
}

#bookmarksfooter .footer, #publicationsfooter .footer {
    border: none;
}

#bookmarksheader .header, #publicationsheader .header, #panelheader .header {
	color: #DF430D;
}

.pgroup .private {
    background-color: #DF430D;
}

.tab .selected a {
	color: #DF430D;
}

.fsOuter {
	padding: 2ex;
}

.fsOuter, .fsInner, .fsVisible {
    background-color: #F8F8F8;
    border: 1px solid #DBC3BC;
}

div.ui-tabs div.ui-tabs-panel {
    border: 1px solid #DBC3BC;
}

div.ui-tabs ul.ui-tabs-nav li.ui-tabs-selected {
    border: 1px solid #DBC3BC;
}

div.ui-tabs ul.ui-tabs-nav li.ui-tabs-selected a:hover {
    color: #872708;
}

.reqinput {
    background-color: #F7EFED;
}

div.help > a, div.help > b {
    color: #DF430D;
}

ul#gold_menu li a {
    background-color: #DF430D;
    border: 1px solid #DBC3BC;
    color: white !important;
}

ul.newMenu li a {
    background-color: #DF430D;
    border: 1px solid #DBC3BC;
    color: white !important;
}

#pumageneral {
    font-size: 130%;
    font-weight: normal;
    margin-bottom: 4ex;
    margin-top: 3ex;
    text-align: center;
}
#wrap_btn {
    float: none;
    margin: auto;
    width: 510px;
}
#wrap_advantages {
    margin-bottom: 10px;
    margin-top: 3ex;
    min-height: 175px;
    text-align: center;
    width: 100%;
}
#desc_advantages {
    color: #DF430D;
    font-weight: normal;
    height: 5ex;
    padding: 2ex 3em;
    text-align: center;
}

#groupsList tr:hover:not(.groupsNewChar) {
    background-color: #CABEA6;
    color: #000000;
}

#groupsList tr:hover:not(.groupsNewChar) td > a {
    color: #000000;
}

#sidebox {
    background-color: #F7EFED;
}


#sidebar a, #sidebar a:link, #sidebar a:visited {
    color: #2D1A13;
}

#sidebar a, #sidebar a:link, #sidebar a:visited {
    color: #2D1A13;
}

.tagnormal a, .taghuge {
    color: #2D1A13 !important;
}

.taglarge a, .taglarge {
    color: #894F39 !important;
}

.tagnormal a, .tagnormal {
    color: #AD6348 !important;
}

.tagtiny a,.tagtiny {
	color: #E58360 ! important;
}

.dd .ddChild a.selected {
    background-color: inherit;
}

.dd .ddChild a.selected:hover {
    background-color: #66CCFF;
}


div.grippie {
    border-color: #DBC3BC;
}



#loginParts_LDAP:hover .loginHelp {
	display: block;
	background-image: url("http://puma.uni-kassel.de/t3pics/mufuka_beidseitig-ueberlagert400.png");
	background-repeat: no-repeat;
	background-position: 50% 130px;
}

.loginHelp {
	height: 350px;
	width: 410px;
	
}

#loginParts_LDAP .loginHelp {
	display: none;
}

#loginParts_INTERNAL:hover .loginHelp {
	display: none;
}

#loginParts_INTERNAL .loginHelp {
	display: none;
}

#loginParts_HTTPBASIC:hover .loginHelp {
	display: none;
}

#loginParts_HTTPBASIC .loginHelp {
	display: none;
}

#loginParts_OPENID:hover .loginHelp {
	display: none;
}

#loginParts_OPENID .loginHelp {
	display: none;
}

.socializer .addContainer {
        position: static;
}
