@CHARSET "UTF-8";

body {
	padding: 0;
	margin: 0;
	font: 0.9em Arial, Helvetica, sans;
	background-color: #F7EFED;
}

#logoimage {
	display: block;
    margin-top: 0px;
    position: absolute;
	z-index: 555;
}

h1 {
	position: absolute;
	top: 0px;
	left: 45px;
	margin: 0;
	padding: 0;
	font-size: 1.2em;
	margin-top: 1.1em;
	margin-left: 0.3em;
}

h1 a {
	color: #000000;
}

a {
	color: #872708;
	text-decoration: none;
}


#menu li a {
	background: #CBCBCB;
    border-radius: 5px 5px 0 0;
    color: #000000;
    display: block;
    font-size: 0.8em;
    font-weight: bold;
    margin-top: 0.65em;
    padding: 5px 10px;
    text-decoration: none;
    text-transform: uppercase;
}

#menu li a.active {
	
	background: #DF430D;
	color: #FFFFFF;
}

#menu #nav_search {
	
	width: 20px;
	background: #CBCBCB url('../image/mobile/search_inactive.png') center center no-repeat;
}

#menu #nav_search.active {

	background: #DF430D url('../image/mobile/search_active.png') center center no-repeat;
}

#toolbar {
	background: #DF430D;
    clear: both;
    padding: 5px;
}


#resources-toggle a.active, #resources-toggle #bookmark-add, #login-bar a.active, #post-toggle a.active  {
	background: #CBCBCB;
	color: #000000;
}


#search-bar input[type="text"] {
	
	font-size: 0.8em;
	padding: 3px;
	width: 65%;
	border: 2px solid #CBCBCB;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#search-bar input[type="submit"] {
	
	font-size: 0.8em;
	padding: 3px;
	width: 15%;
	background-color: #CBCBCB;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.ptags a {
	padding-left: 17px;
	padding-right: 8px;
	background: url('../image/mobile/tag.png') center left no-repeat;
	text-decoration: none;
	color: #872708;
}

.ptitle  a {
	font-size: 1.4em;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}

#footer {
	
	background: #DF430D;
	color: #FFFFFF;
	padding: 5px;
	font-size: 0.8em;
}




