body {
	background-color: #FBF7F4;
	min-width: 990px;
	max-width: 1400px;
}

#main {
	border: 0px solid #DF430D;

}

#main_header {
	background-color:#DF430D;
	height:70px;
	margin-left:50px;
	padding-left:30px;
}

#headerlogoimage {
	width: 86px;
	position:absolute;
	margin-left:-6px;
	margin-top:-12px;
	display: block;
}

#nice_tnav {
	background-color:  #ecf9f6;
}

#nice_tnav ul {
	padding-left:81px
}

a, a:link, a:visited {
	color:#DF430D;
}

h2 {
	color:#DF430D;
}

.listhButtons a:hover {
background-color:#DF430D;
border:1px solid #6F6F6F;
color:#FFFFFF;
}


.sidebarroundcorner {
background-color:#9ADFCF;
float:right;
padding:3px;
width:23%;
margin-top: 2ex;
margin-right:2ex;
}

#path_menu a {
	color: #DF430D;
}

#path_menu a:hover {
	color: #000000;
}

#general {
	width:100%;
}

.sidebarBoxInner {
	padding: 5px;
	background-color: #FBF7F4;
	width: 100%;
	padding: 0px;
}

.sidebarBoxOuter {
	background-color: #9adfcf; 
	margin-top: 10px;
	margin-bottom: 10px;
}

ul#sidebar {
	margin:0.5ex 0 0 0;	
}

ul#tagbox {
	margin:0;	
}
#helpbox {
	background-color: #DF430D; 
	display: none;
}

.btnHomepage {
 	padding-left:5px;
	padding-right:5px;
}

#wrap_btn {
	 float: right;
	 width: 510px
}

#wrap_advantages {
	width: 100%; 
	min-height: 175px; 
	margin-top: 10px; 
	margin-bottom: 10px;
}

#advantages li {
	list-style-type: circle; 
	list-style-position: outside; 
	margin-left: 1.3em;	
}

#desc_advantages {
	padding: 2ex 3em;
	text-align: center;
	/*font-size: 80%;*/
	font-weight: bold;
	color: #DF430D;
	height: 5ex;
}

.hidebox {
	height: 13px;
}

.togglehelp {
	float: right;
	font-weight: bold;
	cursor: pointer;
}

#navitogglehelp {
	padding-right:5px;
}

#sidebarroundcorner {
	float: right;
	width: 23%;
	padding: 0px;
	background-color: #FBF7F4;
}

.aboutMeIMG {
	position:inherit !important;
	left:auto !important;
	float:right !important;
	
}

p {
	width: auto !important;
}

.boxcontent {
	padding: 0.5ex;
/*	font-size: 80%; */
}

.boxheadline {
	font-weight: bold;
	margin-bottom: 0.5ex;
/*	font-size: 80%; */
}

#pumageneral {
		font-size: 80%;
}

#bookmarkbibtexoptions {
	clear: both;
}

.bookbox a {
	color: #000000;
}

.bmtitle a {
	color: #DF430D;	
}

