body {
	background-color: #F7EFED;
}


#logoimage {
    display: block;
    margin-top: -10px;
    position: absolute;
    z-index: 55;
}

#headerlogoimage {
	height: 116px;
}

#logo, #logoSubtitle {
	left: 115px;
}

#logo, #logo a, #logoSubtitle {
	color: black;
}

#header {
	background-color: #F7EFED;
	border-bottom: 2px solid black;
}

#infoline, #infoline a {
	 color: black;
}

#language, #language a {
	 color: black;
}


#navigation, #navigation2 {
    background-color: #DBC3BC;
}

#navigation > ul {
	margin-left: 2px;
}

#postcontainer {
	border: 2px solid #DBC3BC;
	border-top: 0;
	border-bottom: 0;
	top: 187px;
}

#container.noPageNavigation #postcontainer {
	border-bottom: 2px solid #DBC3BC;
}

#container.noPageNavigation {
	background-color: #F7EFED;
}


#footercontainer {
	border: 2px solid #DBC3BC;
	border-top: 0;
}

#headercontainer {
	border: 2px solid #DBC3BC;
	border-top: 0px;
}

input[type="text"], input[type="password"], input[type="file"], textarea, select {
    border: 1px solid #DBC3BC;
}

.tab_content, .tab .selected {
    border: 1px solid #DBC3BC;
}