body {
	background-color: #F7EFED;
}

a {
	color: #872708;
}

#container {
	top: 14px;
}

#logoimage {
    display: block;
    margin-top: 0px;
    position: absolute;
    z-index: 555;
}

#headerlogoimage {
	height: 90px;
}

#logo {
	top: 7px;
	font-size: 34px;
}

#logoSubtitle {
	top: 45px;
	line-height: 2.1ex;
}

#logo, #logoSubtitle {
	left: 92px;
}

#logo, #logo a {
	color: black;
}

#logoSubtitle {
	color: #666;
}

#header {
	background-color: #F7EFED;
	border-bottom: 2px solid black;
	height: 80px;
}

#infoline, #infoline a {
	 color: black;
}

#language, #language a {
	 color: black;
}


#search {
    font-size: 18px;
}

#navigation, #navigation2 {
    background-color: #DF430D;
    color: white;
}

#navigation2 .signoff {
    background-image: url("/resources_puma/image/signoff_white.png");
}

#navigation > ul {
	margin-left: 1px;
}

#navigation ul li a { 
	color: #F7EFED;
}

#navigation ul li.active { 
	color: #DF430D;
}

#navigation > ul li:hover, #navigation .pulldown:hover {
    color: #F7EFED;
}
#navigation ul li.pulldown span,
#navigation ul li.pulldown > a,
#navigation ul li.pulldown.active:hover span,
#navigation ul li.pulldown.active:hover > a {
	background-image: url("/resources_puma/image/pulldown-marker-medium_white.png");
}

#navigation ul li.pulldown.active span,
#navigation ul li.pulldown.active > a {
	background-image: url("/resources/image/pulldown-marker-000000.png");
}


#navigation .pulldown > span {
    color: #F7EFED;
}

#navigation .pulldown.active > span {
    color: inherit;
}
    
#navigation > ul > li > a:hover {
    color: #F7EFED;
}

#navigation > ul ul li a, #navigation > ul li table a {
	color: black;
}

#navigation > ul ul li a, #navigation > ul li table {
	font-size: inherit;
	font-weight: bold;
}

#navigation2 a {
    color: #F7EFED;
}	

#postcontainer {
	border: 1px solid #DBC3BC;
	border-top: 0;
	border-right: 0;
	border-bottom: 0;
	top: 172px;
}

#container.noPageNavigation #postcontainer {
	border-bottom: 1px solid #DBC3BC;
}

#container.noPageNavigation {
	background-color: #F7EFED;
}


#footercontainer {
	border: 1px solid #DBC3BC;
	border-top: 0;
}

#headercontainer {
	top: 112px;
}

input[type="text"], input[type="password"], input[type="file"], textarea, select {
    border: 1px solid #DBC3BC;
    font-size: 100%;
}

input#inpf {
	font-size: 14px;
}

.tab_content, .tab .selected {
    border: 1px solid #DBC3BC;
}

.tab .selected {
	border-bottom: none;
}

.tab_content {
	margin: 2ex 0ex;
}

.bookmarksContainer ul.posts, .publicationsContainer ul.posts {
	border: none;
}

#bookmarksheader .header, #publicationsheader .header {
    border: none;
}

#bookmarksfooter .footer, #publicationsfooter .footer {
    border: none;
}

#bookmarksheader .header, #publicationsheader .header, #panelheader .header {
	color: #DF430D;
}

.pgroup .private {
    background-color: #DF430D;
}

.tab .selected a {
	color: #DF430D;
}

.fsOuter {
	padding: 2ex;
}

.fsOuter, .fsInner, .fsVisible {
    background-color: #F8F8F8;
    border: 1px solid #DBC3BC;
}

.tab .selected, .tab .ui-state-active {
	border-color: #DBC3BC 
}

#citation .citationHint a,
.tab .selected a, .tab .ui-state-active a {
	color: #872708;
}

div.ui-tabs ul.ui-tabs-nav li.ui-tabs-selected {
    border: 1px solid #DBC3BC;
}

div.ui-tabs ul.ui-tabs-nav li.ui-tabs-selected a:hover {
    color: #872708;
}

.reqinput {
    background-color: #F7EFED;
}

div.help > a, div.help > b {
    color: #DF430D;
}

ul#gold_menu li a {
    background-color: #DF430D;
    border: 1px solid #DBC3BC;
    color: white !important;
}

ul.newMenu li a {
    background-color: #DF430D;
    border: 1px solid #DBC3BC;
    color: white !important;
}

#pumageneral {
    font-size: 130%;
    font-weight: normal;
    margin-bottom: 4ex;
    margin-top: 3ex;
    text-align: center;
}
#wrap_btn {
    float: none;
    margin: auto;
    width: 510px;
}
#wrap_advantages {
    margin-bottom: 10px;
    margin-top: 3ex;
    min-height: 175px;
    text-align: center;
    width: 100%;
}
#desc_advantages {
    color: #DF430D;
    font-weight: normal;
    height: 5ex;
    padding: 2ex 3em;
    text-align: center;
}

#groupsList tr:hover:not(.groupsNewChar) {
    background-color: #CABEA6;
    color: #000000;
}

#groupsList tr:hover:not(.groupsNewChar) td > a {
    color: #000000;
}

#sidebox {
    background-color: #F7EFED;
}


#sidebar a, #sidebar a:link, #sidebar a:visited {
    color: #2D1A13;
}

#sidebar a, #sidebar a:link, #sidebar a:visited {
    color: #2D1A13;
}

.tagnormal a, .taghuge {
    color: #2D1A13 !important;
}

.taglarge a, .taglarge {
    color: #894F39 !important;
}

.tagnormal a, .tagnormal {
    color: #AD6348 !important;
}

.tagtiny a,.tagtiny {
	color: #E58360 ! important;
}

.dd .ddChild a.selected {
    background-color: inherit;
}

.dd .ddChild a.selected:hover {
    background-color: #66CCFF;
}


div.grippie {
    border-color: #DBC3BC;
}



#loginParts_LDAP:hover .loginHelp {
	display: block;
	background-image: url("http://puma.uni-kassel.de/t3pics/mufuka_beidseitig-ueberlagert400.png");
	background-repeat: no-repeat;
	background-position: 50% 130px;
}

.loginHelp {
	height: 350px;
	width: 410px;
	
}

#loginParts_LDAP .loginHelp {
	display: none;
}

#loginParts_INTERNAL:hover .loginHelp {
	display: none;
}

#loginParts_INTERNAL .loginHelp {
	display: none;
}

#loginParts_HTTPBASIC:hover .loginHelp {
	display: none;
}

#loginParts_HTTPBASIC .loginHelp {
	display: none;
}

#loginParts_OPENID:hover .loginHelp {
	display: none;
}

#loginParts_OPENID .loginHelp {
	display: none;
}

.socializer .addContainer {
        position: static;
}
.systemName,
h4.textPage,
h3.textPage {
	color: #DF430D;
}



#openAccessClassificationSelect div.help {
	float:none;
}


.oa-publishers {
}

.oa-publisher {
	font-weight: bold;
	padding-left: 3px;	
}

.oa-conditions {
	list-style: disc inside;
	padding-left: 1em;
}
	
.oa-green {
	border-left: 5px solid green;	
}
.oa-yellow {
	border-left: 5px solid yellow;	
}
.oa-red {
	border-left: 5px solid red;	
}
.oa-blue {
	border-left: 5px solid blue;	
}
.oa-white {
	border-left: 5px solid white;	
}

.classificationSelect {
	width: 20%;
    border-right: medium none;
    border-top: medium none;
    margin: 0.5ex;
 }

div.classificationInput {
	width: 2.5em;
	font-weight: normal;
	display: inline-block;
}


#swordresponse {
	display: inline;
	padding-left: 2em;
	font-size: 90%;
}

.ajaxresponse0 {
	color: red; 
	font-weight: bold;
}

.ajaxresponse1 {
	color: green;
}


#oasherparomeocontainer, openAccessClassificationContainer{
	padding: 0.4ex 0.7em;
	margin-top: 1ex; 
	margin-bottom: 1ex; 
}

#oasherparomeocontainer {
	background-color: #EFDBCE; 
}


#divClassificationContainerName {
	display: none;
	background-color: #00ffff;
}

#divClassificationListName {
	display: none;
	background-color: #ffff00;;
}

#divClassificationSelectName {
	display: none;
	background-color: #ff00ff;;
}

input[type="button"].ajaxButton {
	color: #DF430D;
	font-weight: normal;
	margin: 0.2ex;
	padding-top: 0px;
	padding-bottom: 0px;
	border: none;
	font-size: 80%;
	cursor: pointer;
}

#pumaSword input[type="button"].ajaxButton {
	color: #000000;
	border: 2px solid #EFAC95;
	margin-top: 2ex;
	margin-bottom: 2ex;
	font-size: 100%;
}
 

#pumaSword input[type="button"].ajaxButton.oadisabledsend2repositorybutton {
	color: #ccc;
	border: 1px dotted #ccc;
}

#openAccessClassificationSelect input[type="button"].ajaxButton:hover {
	color: #438f38;
}

#openAccessClassificationList input[type="button"].ajaxButton:hover {
	color: #000000;
}

#pumaSword input[type="button"].ajaxButton:hover {
	background-color: #DCC;
	color: black; 
}

.refererButton {
   float: right;
   font-size:20px;
   width:350px;
   height:35px;
   background-color:#DDDDDD;
   border-color:#EEEEDD;
   border-style: dashed;
   border-width:3px;
   text-align: center;
   padding-top: 8px;
}

#pumaSword input[type="button"].ajaxButton.oadisabledsend2repositorybutton:hover {
	background-color: transparent;
	color: #ccc; 
	cursor: default;
	
}

.classificationListItemContainer {
	clear:left;
}
	
.classificationListItem {
	margin-top: 2px;
	font-weight: normal;
	display: inline;
	float:left;
 }

.classificationListItemDescriptionContainer {
  color: #444;
  margin-left: 7em;
}

.classificationListItemDescription {
  display: inline;
}

.classificationListItemRemove {
	display: inline;
}

#openAccessClassificationList {
	margin-bottom: 1.5ex;
}
#openAccessClassificationSelect {
	margin-top: 0.5ex;
	margin-bottom: 0.5ex;
}

#openAccessContainer h4 {
	margin-top: 1ex;
	margin-bottom: 1.5ex;
}

#openAccessContainer .fsLabel {
	width: 16em;
}

.clearboth {
	clear:both;
}

.tagnormal a, .tagnormal {
    color: #222222 !important;
}

#saveMetadataButton {
	color: green;
	font-weight: bold;
	border:1px solid #EFAC95;
	padding: 1px 3px;
}

#saveMetadataButton.dataChanged {
	color: red;
}

#saveMetadataButtonContainer {
	clear: both;
}

input#authorcontractconfirm {
	margin: 2px;
	
}

#authorcontractconfirmcontainer {

}

#openAccessMetaDataContainer .fsInput {
	width: 60%;
}

#oasherparomeopublisher {
	font-weight: bold;
	margin: 2ex 0;
}


#oasherparomeo {
	margin: 2ex 0;
}

.oadescription {
	font-size: 90%;
	color: #444444;
	margin-bottom: 1.5ex;
}

.scroller {
	border: 1px solid #EFAC95;
}

#oaRepositorySentInfo {
	float: right;
	font-weight: bold;
	font-size: 90%;
	margin-top: 0.6ex;
	padding: 5px;
	
}

#oaRepositorySent {
	margin-top: 1.5ex;
}

#oaRepositorySentHeader {
	font-weight: bold;
}

#sendMetadataMarker {
	padding-left:0.5em;
	display: inline;
	color: green;
}

#sendMetadataMarker.highlight {
	color: red;
}



.license_headline {
	font-weight: bold;
    color: #DF430D;
    font-size: 114%;
    margin: 2ex 10px 10px 0;
    padding: 0;
}

#license {
	float:left;
	width:97%; 
	margin-left:10px; 
	margin-top:10px; 
	margin-bottom: 2ex; 
	padding: 3ex;
	padding-bottom:13px;
	background-color: white;
	border: 1px solid #333;
}

#license_header {
	padding-bottom: 2ex;
}

#license_logo {
	float: left;
}

#license_headline0 {
	float:none; 
	font-size: 150%; 
	text-align: center; 
	padding-top: 1ex;
}

#license hr {
	clear: left; 
	margin-bottom: 2ex;
}

#license_data {
}

#license_data .license_headline {
	margin-bottom: 3ex;
}

#license_data input {
	font-size: 140%;
	width: 97%;
}


#license_data .lfdesc {
	clear: left;
    display: inline;
    float: left;
	vertical-align: text-bottom;
	height: 4ex;
	padding-left: 2ex;
}

#license_data .lfval {
	margin-left: 16em;
	vertical-align: text-bottom;
	height: 4ex;
}

#license_signature {
	width: 80%;
	margin-left: 10%;
	margin-top: 14ex; 
	margin-bottom: 21ex; 
}

.signatureline {
	float: left;
	border-top: 1px solid black;
	padding-top: 2px;
	margin-left: 7%; 
	margin-right: 7%;
	width: 36%; 
}

#license_sendinfo {
	margin-top: 3ex;
}
