body {
	background-color: #F7EFED;
}

#container {
	top: 14px;
}

#logoimage {
    display: block;
    margin-top: -9px;
    position: absolute;
    z-index: 55;
}

#headerlogoimage {
	height: 100px;
}

#logo {
	top: 0px;
}

#logoSubtitle {
	top: 45px;
	line-height: 2ex;
}

#logo, #logoSubtitle {
	left: 100px;
}

#logo, #logo a {
	color: black;
}

#logoSubtitle {
	color: #666;
}

#header {
	background-color: #F7EFED;
	border-bottom: 2px solid black;
	height: 80px;
}

#infoline, #infoline a {
	 color: black;
}

#language, #language a {
	 color: black;
}


#navigation, #navigation2 {
    background-color: #CABEA6;
}

#navigation > ul {
	margin-left: 1px;
}

#postcontainer {
	border: 1px solid #DBC3BC;
	border-top: 0;
	border-bottom: 0;
	top: 172px;
}

#container.noPageNavigation #postcontainer {
	border-bottom: 1px solid #DBC3BC;
}

#container.noPageNavigation {
	background-color: #F7EFED;
}


#footercontainer {
	border: 1px solid #DBC3BC;
	border-top: 0;
}

#headercontainer {
	border-left: 1px solid #DBC3BC;
	border-right: 1px solid #DBC3BC;
	top: 112px;
}

input[type="text"], input[type="password"], input[type="file"], textarea, select {
    border: 1px solid #DBC3BC;
    font-size: 100%;
}

input#inpf {
	font-size: 14px;
}

.tab_content, .tab .selected {
    border: 1px solid #DBC3BC;
}

.tab .selected {
	border-bottom: none;
}

.tab_content {
	margin: 2ex 0ex;
}

.bookmarksContainer ul.posts, .publicationsContainer ul.posts {
	border: none;
}

#bookmarksheader .header, #publicationsheader .header {
    border: none;
}

#bookmarksfooter .footer, #publicationsfooter .footer {
    border: none;
}

#bookmarksheader .header, #publicationsheader .header, #panelheader .header {
	color: #DF430D;
}

#navigation ul li.active { 
	color: #DF430D;
}

.pgroup .private {
    background-color: #DF430D;
}

.tab .selected a {
	color: #DF430D;
}

.fsOuter {
	padding: 2ex;
}

.fsOuter, .fsInner, .fsVisible {
    background-color: #F8F8F8;
    border: 1px solid #DBC3BC;
}

.reqinput {
    background-color: #F7EFED;
}

div.help > a, div.help > b {
    color: #DF430D;
}

ul#gold_menu li a {
    background-color: #DF430D;
    border: 1px solid #DBC3BC;
    color: white !important;
}

#pumageneral {
    font-size: 130%;
    font-weight: normal;
    margin-bottom: 4ex;
    margin-top: 3ex;
    text-align: center;
}
#wrap_btn {
    float: none;
    margin: auto;
    width: 510px;
}
#wrap_advantages {
    margin-bottom: 10px;
    margin-top: 3ex;
    min-height: 175px;
    text-align: center;
    width: 100%;
}
#desc_advantages {
    color: #DF430D;
    font-weight: normal;
    height: 5ex;
    padding: 2ex 3em;
    text-align: center;
}

#groupsList tr:hover:not(.groupsNewChar) {
    background-color: #CABEA6;
    color: #000000;
}

#groupsList tr:hover:not(.groupsNewChar) td > a {
    color: #000000;
}

#sidebox {
    background-color: #F7EFED;
}


#sidebar a, #sidebar a:link, #sidebar a:visited {
    color: #2D1A13;
}

#sidebar a, #sidebar a:link, #sidebar a:visited {
    color: #2D1A13;
}

.tagnormal a, .taghuge {
    color: #2D1A13 !important;
}

.taglarge a, .taglarge {
    color: #894F39 !important;
}

.tagnormal a, .tagnormal {
    color: #AD6348 !important;
}

.tagtiny a,.tagtiny {
	color: #E58360 ! important;
}

.dd .ddChild a.selected {
    background-color: inherit;
}

.dd .ddChild a.selected:hover {
    background-color: #66CCFF;
}


.loginHelp {
    background-color: Salmon;
    color: black;
    height: 300px;
    position: absolute;
    width: 300px;
    background-color: #FFFFFF;
    border: 2px solid #666666;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 5px 0;
    opacity: 0.95;
    margin-top: 8px;
	font-size: 120%;
	padding: 10px;
	text-align: left;
}

#sidebar, #sidebarheader {
	z-index: 9;
}

#loginParts_LDAP:hover .loginHelp {
	display: block;
	background-image: url("http://www.ub.uni-kassel.de/uploads/pics/mufuka_oRand_02.gif");
	background-repeat: no-repeat;
	background-position: 50% 150px;
}

#loginParts_LDAP .loginHelp {
	display: none;
}

#loginParts_INTERNAL:hover .loginHelp {
	display: none;
}

#loginParts_INTERNAL .loginHelp {
	display: none;
}

#loginParts_HTTPBASIC:hover .loginHelp {
	display: none;
}

#loginParts_HTTPBASIC .loginHelp {
	display: none;
}

#loginParts_OPENID:hover .loginHelp {
	display: none;
}

#loginParts_OPENID .loginHelp {
	display: none;
}

