#logoimage {
	display: block;
	margin-top: 20px;
	margin-left: 20px;
	position: absolute;
	max-height: 100px;
	z-index: 555;
}

#logoSubtitle {
	display: none;
}

#headerlogoimage {
	margin-top: 1em;
	margin-left: 1em;
}

#logo {
	top: 36px;
	font-size: 28px;
}

#logo, #logoSubtitle {
	left: 242px;
}

body, #header {
	background: rgb(195,198,199); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(195,198,199,1) 0%, rgba(241,241,242,1) 37%, rgba(195,198,199,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(195,198,199,1)), color-stop(37%,rgba(241,241,242,1)), color-stop(100%,rgba(195,198,199,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(195,198,199,1) 0%,rgba(241,241,242,1) 37%,rgba(195,198,199,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(195,198,199,1) 0%,rgba(241,241,242,1) 37%,rgba(195,198,199,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(195,198,199,1) 0%,rgba(241,241,242,1) 37%,rgba(195,198,199,1) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(195,198,199,1) 0%,rgba(241,241,242,1) 37%,rgba(195,198,199,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3c6c7', endColorstr='#c3c6c7',GradientType=1 ); /* IE6-9 */
}

#header {
	height: 110px;
}

#search {
	margin-left: 1em;
	font-size: 18px;
}

#navigation {
	padding-left: 5.5em;
}

#navigation, #navigation2, #navigation2 a {
	color: white;
}

#navigation2 .signoff {
	background-image: url("/resources_puma/image/signoff_white.png");
}

#navigation ul li.pulldown span,
#navigation ul li.pulldown > a,
#navigation ul li.pulldown.active:hover span,
#navigation ul li.pulldown.active:hover > a {
	background-image: url("/resources_puma/image/pulldown-marker-medium_white.png");
}

#navigation > ul > li > a {
	color: white;
}

#sidebar {
	background-color: transparent;
}

#headercontainer, #postcontainer, .upperMinimizedPostcontainer {
	margin-left: 3em;
}

#postcontainer.lowerMinimizedPostcontainer {
	margin-left: 0em;
}

#legalnotices {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	padding: 1em 1em 1em 10em;
	text-align: inherit;
}