#adminList {
	list-style-position:inside;	
	margin: 1px 0;
}

#admin hr{
border-color:#AAAAAA -moz-use-text-color -moz-use-text-color;
border-style:solid none none;
border-width:1px 0 0;
}

.adminNavi {
	font-weight: bold; 
	background: #eee; 
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	margin: 10px 10px 10px 10px;
	padding: 0px 10px 0px 10px;
}



