#outerBox {
	padding: 1em;	
}

.indexProperties {
	margin-bottom: 1em;
}

.indexProperties table {
	border-spacing: 0px 0px;
}

.indexProperties table th {
	border-top: 1px solid black;
}

.indexProperties table th:last-child {
	border-right: 1px solid black;
}

.indexProperties table td, th {
	padding: 0.5em;
	border: 1px solid black;
	border-right: none;
	border-top: none;
}

.indexProperties .inactiveIndex td {
	color: rgb(127, 127, 127);
}

.indexProperties table tr td:first-child {
	background: #ccc;
}

.indexProperties table tr td:last-child {
	border-right: 1px solid black !important;
}

.incativeIndex {
	color: #CCC;
}

.indexProperties tr:first-child {
	background: #369;
	color: #fff;
}

.bluebox{
	border: 1px solid #006699;
	padding: 15px;
	margin-top: 15px;
	margin-bottom: 20px;
	width: 804px;
}