
.Hint{
	display: block;
	font-weight:bold;
    padding:10px;
	color: black;
	text-decoration:none;
	text-align: left;
	width: 100%;
	position: absolute;
	margin-left: 5px;
	
	    
}
.Hint a{
    text-decoration:underline;
    margin-right: 2px;
    margin-left: 2px;
    width: 10px;
}
.red{
	border: 1px solid #FF9999;
	background-color: #FF9999;
}
.green{
	border: 1px solid #99FF99;
	background-color: #99FF99;
}

.invisible{
	visibility: hidden;
}
.applyBtn{
	display:block;
    border: 1px solid #c6c6c6;
    font-weight:bold;
    color:black;       
    white-space:nowrap;
    background-color:#eee;
    text-decoration:none;
    cursor: hand;
    padding: 3px;
    margin: 2px;  
}
.applyBtn:hover{
	border: 2px solid #c6c6c6;
}

.postList ul{
	padding:0px;
	margin:0px;
	list-style-type: none;
	
}
.postList li{
	display: inline-table;  
	margin-left: 3px; 
	/*padding: 0px;*/ 
	/*position:relative;*/ 
}

.myHeader{
	background-color: #eee; 
	text-align: center;
	font-weight:bold;
	border: 1px solid #ccc;
	margin: 5px;
	height: 29px;
	line-height: 29px;
	padding: 2px;
}

.postDesc{
	font-size: 90%;
	width: 100%;
	white-space:nowrap;
	height: 29px;
	line-height: 29px;
	text-align: left;
	margin-left:5px;
}

.postDescDisable{
	font-size: 90%;
	width: 100%;
	white-space:nowrap;
	color: #808080;
	height: 29px;
	line-height: 29px;
	text-align: left;
	margin-left:5px;
}

.selectAllCheckbox{
	background-color: #eee;
	border: 1px solid #ccc;
	height: 29px;
	line-height: 29px;
	text-align: center;
}
.checkboxes{
	height: 29px;
	line-height: 29px;
	text-align: center;
}