body {
  padding-bottom:40px;
  color:#5a5a5a;
}
.navbar-wrapper {
  position:absolute;
  top:0;
  right:0;
  left:0;
  z-index:20;
  > .container {
    padding-right:0;
    padding-left:0;
  }
  .navbar {
    padding-right:15px;
    padding-left:15px;
    .container {
      width:auto;
    }
  }
}
.carousel {
  height:500px;
  margin-bottom:60px;
  .item {
    height:500px;
    background-color:#777777;
  }
}
.carousel-caption {
  z-index:10;
}
.carousel-inner > .item > img {
  position:absolute;
  top:0;
  left:0;
  min-width:100%;
  height:500px;
}
.marketing .col-lg-4 {
  margin-bottom:20px;
  text-align:center;
  p {
    margin-right:10px;
    margin-left:10px;
  }
}
.marketing h2 {
  font-weight:normal;
}
.featurette-divider {
  margin:80px 0;
}
.featurette-heading {
  font-weight:300;
  line-height:1;
  letter-spacing:-1px;
}
