.bookmarkList {
	list-style-type: disc;
}

.helpList {
	list-style-type: disc;
	list-style-position: inside;
	margin-left: 2em;
}

.details {
	display: none;
}

.hand {
	cursor: pointer;	
}

input[type=button] {
	margin: 0.2em;
} 

p {
	width: 100%;
}
 
h2 {
	margin: 5px 0px 10px 5px;
	border-bottom: solid #eee 2px;
}

.secondTD {
	padding-bottom: 5px;
	vertical-align: top;
}

.personalData td {
	width: 200px;
	padding-bottom: 5px;
	vertical-align: top;
}

#wikiArea p, dl {
    padding-left: 1.2em;
}

.align {
	margin-left: 25px;
}	

.entry {
font-size:14px;
line-height:14px;
text-decoration:none;
}
.entry_title {
font-weight: bold;
color:#478080;
}
.entry_author {
}

.entry_journal, .entry_booktitle {
font-style: italic;
color:#478080;
}

.imageContainer {
max-width: 200px;
text-align: center;
display:inline-block;
margin: 5px 5px 5px 5px;
}

.groupImage {
max-width: auto;
text-align: center;
margin: 0 auto;
text-align:center;
}


