.bookmarkList {
	list-style-type: disc;
}

.helpList {
	list-style-type: disc;
	list-style-position: inside;
	margin-left: 2em;
}

.details {
	display: none;
}

.hand {
	cursor: pointer;
}

#cv-tags .tagcloud li a {
	margin: 0.3em;
	display: inline-block;
}

#publications div.publication {
	padding-bottom: 0.5em;
}

#publications div.publication:last-of-type {
	padding-bottom: 0em;
}

input[type=button] {
	margin: 0.2em;
}

.secondTD {
	padding-bottom: 5px;
	vertical-align: top;
}

.personalData td {
	width: 200px;
	padding-bottom: 5px;
	vertical-align: top;
}

#wikiArea p, dl {
    padding-left: 1.2em;
}

.align {
	margin-left: 25px;
}	

.entry {
font-size:14px;
line-height:14px;
text-decoration:none;
}
.entry_title {
font-weight: bold;
color:#478080;
}
.entry_author {
}

.entry_journal, .entry_booktitle {
font-style: italic;
color:#478080;
}

.imageContainer {
max-width: 200px;
text-align: center;
display:inline-block;
margin: 5px 5px 5px 5px;
}

.groupImage {
max-width: auto;
text-align: center;
margin: 0 auto;
text-align:center;
}

.success {
/*	background-color: LightGreen; */
}

.error {
	background-color: red;
	color: black;
	display: inline-block;
	padding: 5px;
}

/************* username color *****************/
.userlist_username_orange {
	color: #ECBA34;
}

a.userlist_username_orange:hover {
	color: #ECBA34;
}
