/*
 * Stylesheet for /cv_page
 * @author Philipp Beau
 */
 
.personalData {
}
 
hr.line {
	margin-left: 25px;
	border-style: solid;
	border-color: #EEEEEE;
	border-width: 2px 0px 0px 0px;
}

table.innerTable {
	font-family: "Times New Roman";
	font-size: 80%;
}

td.button {
	width:15px;
}

.secondTD {
	padding-bottom: 5px;
	vertical-align: top;
}

.personalData td {
	width: 300px;
	padding-bottom: 5px;
	vertical-align: top;
}

.aboutMeIMG {
}

table tr {
	padding-top: 0px;
}
.align {
	margin-left: 25px;
	padding-top: 2px;
}	

p {
	width: 600px;	
}

table.innerTable {
	font-family: "Times New Roman";
	font-size: 80%;
}

.entry {
font-family:Arial,Helvetica,"sans serif";
font-size:13px;
line-height:14px;
text-decoration:none;
}
.entry_title {
font-weight: bold;
color:#478080;
font-family:Arial,Helvetica,"sans serif";
font-size:13px;
line-height:14px;
text-decoration:none;
}
.entry_author {
font-family:Arial,Helvetica,"sans serif";
font-size:13px;
line-height:14px;
text-decoration:none;
}

.entry_journal, .entry_booktitle {
font-style: italic;
color:#478080;
font-family:Arial,Helvetica,"sans serif";
font-size:13px;
line-height:14px;
text-decoration:none;
}


h2 {
	margin: 5px 0px 10px 5px;
}


