/* TODO: fsform.css overrides .ui-state-hover for all ui widgets */
li.ui-state-hover {
	font-weight: normal;
}

#goldstandard .discussion_all {
	margin-top: 1em;
}

#review_info_rating {
	margin-left: 0.5em;
	text-align: center;
	display: table;
	border-collapse: collapse;
	width: 630px;
}

.sidebarcontainer #review_info_rating {
	width: 90%;
	margin: 5%;
}
.sidebarcontainer #ratingDistribution, .sidebarcontainer #ratingAvg {
	display: inline ;
}

#postReview, #review_info_rating {
	margin-bottom: 1.0em;
}

#ratingDistribution, #ratingAvg {
	display: table-cell;
	width: 50%;
	font-size: 85%;
}

#replyReview, #replyForm, #editcomment, #createReview {
	margin-bottom: 1em;
}

#ratingAvg {	
	vertical-align: middle
}

#ratingAvg div {
	margin: auto;
}

.info span {
	 margin-right: 0.3em;
}

.stars-off-1, .stars-on-1 {
    position: relative;
    height: 16px;
    background: url(../jquery/plugins/ui/plugins/stars/jquery.ui.stars.gif) repeat-x 0 -32px;
}

.stars-off-1 {
	display: inline-table;
	width: 80px;
}
 
.stars-on-1 {
    position: absolute;
    background-position: 0 -48px;
}

/* this is a hack for firefox */
#ratingAvg .stars-off-1 {
	text-align: left !important;	
}

.ratingAvgInfo {
	color: #555;
	clear:left;
}

.commentPicture {
	width: 30px;
	padding-right: 5px;
	float:left;
}

.review.info, .comment.info {
	color: #555;
	font-size: 80%;
}

.review.details, .comment.details {
	display: table-cell;
}

.review.info a, .comment.info a {
	font-weight: bold;
}

ul.discussionitemMenu {
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	border-bottom: 1px solid #ccc;
	font-size: 80%;
	display: block;
}

ul.discussionitemMenu li {
	display: inline;
	padding-left: 0.25em;
	padding-right: 0.25em;
}

ul.subdiscussionItems ul.subdiscussionItems {
	margin-top: 0.75em;
	margin-left: 35px;
}

ul.discussionitemMenu li {
	border-left: 1px solid grey;
	padding-right: 0.4em;
	padding-left: 0.4em;
}

ul.discussionitemMenu li:first-child {
	border-left: none;
}

.review.text, .comment.text {
	font-size: 90%;
	white-space: pre-wrap;
}

.fsform {
	margin-top: 0.5em;
}

/** TODO: merge and move to style.css */
ul.newMenu {
	float: right;
}

ul.newMenu li {
	display: inline;
	padding: 3px;
	margin-right: 5px;	
}

ul.newMenu li a {
	background-color: rgb(0, 104, 153);
	color: white !important;
	padding: 3px 5px 3px 5px;
	font-size: 80%;
	border: 1px solid black;
}

ul.newMenu li a:hover {
	background-color: rgb(233, 233, 233);
	color: rgb(96, 96, 96) !important;
}

#ratingDistributionGraph {
	/* this border-left-color is used for bars color in graph if style is set to dashed */	
/*
	border-left-style: dashed; 
	border-left-color: #EDC240;
	border-left-width: 0;
*/	
}