.topic {
	font-size: 230%;
	font-weight: bold;
	padding: 0;
	margin: 20px 0px 15px 0px;
	text-align: center;
}

div.explanation {
	text-align: justify;
	margin-left: 40px;
	margin-right: 40px;
    padding: 10px 10px 0px 10px;
}

div.explanation a {
	color: black;
	text-decoration: underline;
}

div.explanation a:visited {
	color: black;
	text-decoration: underline;
}

div.linkbox {
	text-align: center;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 1em;
	margin-bottom: 1em;
	color: white;
	background-color: #0000CC;
	padding: 5px;
}

div.linkbox2 {
	margin-left: 40px;
	margin-right: 40px;
}

div.linkbox a {
	font-weight: bold;
	font-size: 120%;
	text-decoration: none;
	color: white;
	padding: 2px 15px 2px 15px;
	white-space: nowrap;
}

div.linkbox a:hover {
	background-color: #f4f4f4;
	color: black;
}

#credits {
	font-size: 100%;
	margin-left: 40px;
	margin-right: 40px;
	padding: 10px 10px 30px 10px;
}

#credits a {
	color: black;
	text-decoration: underline;
}

#credits a:visited {
	color: black;
	text-decoration: underline;
}

#logos {
	text-align: center;
	margin: 30px 30px 20px 30px;
}

#logos a {
	padding-left: 15px;
	padding-right: 15px;
	white-space: nowrap;
}

#logos img {
	border: 0;
	vertical-align: top;
}

a.link {
	color: white;
	font-weight: bold;
	text-decoration: none; 
	padding: 0px 10px 0px 10px;
}

a.link:hover {
	background-color: #f4f4f4;
	color: black;
}


#tagcloudy .tag_agents-application-ontologies {color: #00e000;}
#tagcloudy .tag_applications-1 {color: #0000ff;}
#tagcloudy .tag_applications-2 {color: #0000f0;}
#tagcloudy .tag_formal-languages-1 {color: #ff0000;}
#tagcloudy .tag_formal-languages-2 {color: #f00000;}
#tagcloudy .tag_foundational-issues-storage-and-retrieval {color: #0000e0;}
#tagcloudy .tag_learning {color: #e00000;}
#tagcloudy .tag_ontologies-and-natural-language {color: #00c000;}
#tagcloudy .tag_ontology-alignment {color: #00a000;}
#tagcloudy .tag_query-processing-1 {color: #00ff00;}
#tagcloudy .tag_query-processing-2 {color: #00f000;}
#tagcloudy .tag_search {color: #c00000;}
#tagcloudy .tag_semantic-web-services-1 {color: #0000c0;}
#tagcloudy .tag_semantic-web-services-2 {color: #0000b0;}
#tagcloudy .tag_user-interfaces-and-personalization {color: #0000a0;}

.tag_agents-application-ontologiesb {background-color: #00e000;}
.tag_applications-1b {background-color: #0000ff;}
.tag_applications-2b {background-color: #0000f0;}
.tag_formal-languages-1b {background-color: #ff0000;}
.tag_formal-languages-2b {background-color: #f00000;}
.tag_foundational-issues-storage-and-retrievalb {background-color: #0000e0;}
.tag_learningb {background-color: #e00000;}
.tag_ontologies-and-natural-languageb {background-color: #00c000;}
.tag_ontology-alignmentb {background-color: #00a000;}
.tag_query-processing-1b {background-color: #00ff00;}
.tag_query-processing-2b {background-color: #00f000;}
.tag_searchb {background-color: #c00000;}
.tag_semantic-web-services-1b {background-color: #0000c0;}
.tag_semantic-web-services-2b {background-color: #0000b0;}
.tag_user-interfaces-and-personalizationb {background-color: #0000a0;margin-bottom: 5px;}


#topics {
	font-size: 100%; 
	color: white;
	margin: 40px;
}

#topics .track {
  color: black; 
  padding: 0px 10px 0px 10px;
  font-face: bold;
}

#tagcloudy {
	text-align: justify;
	background: #f4f4f4;
	margin: 40px;
    padding: 10px;
}
#tagcloudy li {
  display:inline;  
}
#tagcloudy a {
	text-decoration: none;
	font-family: sans-serif;
	white-space: nowrap;
}

#tagcloudy a:hover {
	text-decoration: underline;
}