#groupExploreContent {
  .filter-list {
    .btn.active {
      background-color: @main-color;
    }

    .filter-entries {
      button {
        overflow: hidden;
        text-overflow: ellipsis;

        .filter-button-label {
          padding-right: 5px;
        }
      }
    }

    .show-more-link:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .search-filter-selection {
    max-height: 230px;
    margin-top: 5px;
    overflow: hidden;
    overflow-y: scroll;
    padding-right: 5px;
  }

  .custom-loader {
    width: 100%;
    height: 120px;
    padding: 10px 0;
    text-align: center;

    .spinner {
      animation: rotator 1.4s linear infinite;
    }

    @keyframes rotator {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(270deg); }
    }

    .path {
      stroke-dasharray: 187;
      stroke-dashoffset: 0;
      transform-origin: center;
      animation:
              dash 1.4s ease-in-out infinite,
              colors (1.4s*4) ease-in-out infinite;
    }

    @keyframes colors {
      0% { stroke: @main-color; }
      25% { stroke: @main-color-light; }
      50% { stroke: @main-color; }
      75% { stroke: @main-color-light; }
      100% { stroke: @main-color; }
    }

    @keyframes dash {
      0% { stroke-dashoffset: 187; }
      50% {
        stroke-dashoffset: 46.75;
        transform:rotate(135deg);
      }
      100% {
        stroke-dashoffset: 187;
        transform:rotate(450deg);
      }
    }
  }

  .sidebar {
    h4 {
      border: none;
    }
  }
}

#groupExplorePublications {
  .posts {
    .media-heading {
      margin: 5px 0;
    }

    .post {
      padding: 0 20px 5px;
      height: auto;
      border: none;
    }

    .post:nth-child(even) {
      background-color: #eee;
    }
  }
}
