@CHARSET "UTF-8";
/*****************************************************************************
 * style file for the postBookmark form (possibly also for the postBibTeX)
 ****************************************************************************/
#fsform {
    width:100%;
}

#tagField {
}

.fsLegend {
    text-align:left;
    width:auto;
    font-weight:normal;
}

.fsOuter {
    border: 1px solid #069;
    background-color: #eee; 
    position:relative;
    padding: 0px 10px 10px 10px;
}

.fsInner {
    border: 1px solid #069;
    background-color: #eee;
    position:relative;
    margin:8px 0px 0px 0px;
}

.fsLabel {
    width: 20%;
    float: left;
    display: block;
    clear: left;
    margin-right: 1em;
    text-align: right;
    font-weight: bold;
    font-size: 80%;
    vertical-align: top;
}

.fsSuggestion {
    margin: 0 0 1px 1em;
    left: 20%;
    position: relative;
    font-size: 80%;
    width: 75%;
}

.fsInput {
    width: 75%;
    margin: 0 0 1px 0px;
    left:0px;
}

.tagInput {
    width: 75%;
}

#fsReloadButton {
	display: block;
	float: right;
	width: 20px;
	height: 20px;
}

.fsConfirm {
}

.fsWaitingText {
	font-style: italic;
}