@@CHARSET "UTF-8";

#fsform {
    width:100%;
}

.fsHelp {
	margin-left: 10px;	
}

.fsLegend {
    text-align:left;
    width:auto;
    font-weight:normal;
}
.fsOuter, .fsInner, .fsVisible {
    border: 1px solid #069;
    background-color: #eee; 
    position: relative;
}
.fsOuter, .fsInner{
	min-width: 650px;
}
.fsOuter {
    padding: 0 10px 10px 10px;
}
.fsInner, .fsHidden, .fsVisible {
    margin: 8px 0 0 0;
}

.fsHidden {
	border: none;
    margin-left: 1px;
}

.fsHidden > div {
	display: none;
}

.fsLabel {
    text-align: right;
}

.fsFloatLabel, .fsLabel {
    font-weight: bold;
    font-size: 80%;
}

.fsFloatInput {
	margin-left: 10px;
    margin-right: 5px;
}

.fsInput, #inpf, .fsFloatInput {
    margin-bottom: 2px;
}

.fsRow {
   position: relative; 
   clear: both;
}

.fsLabel {
  padding-right: 5px;
  width: 20%;
  float: left;
}
#copytags, .fsSuggestion, .fsInput, .tagInput, #suggested {
  float: left;
  width: 73%;
}

.fsSmall {
  max-width: 15em;
}

#tagField {
  float: left;
  width: 73%; /* 2% space for reload button */   
}

.fsSuggestion {
    font-size: 80%;
    margin-left: 20%;
    padding-left: 1em;
    margin-top: 0px;
    padding-top: 0px;
}

#fsReloadButton {
    float: right;
	width: 20px;
	height: 20px;
}

.fsConfirm {
}

.fsWaitingText {
	font-style: italic;
}

#suggestionBox{
	color:#fff;
	z-index:999;
	border:1px solid #006699;
	border-left:3px solid #006699;	
}

.suggestionBoxContent{
	padding:3px;
	background-color:#006699;
}

.suggestionDetails{
	font-size:10px;
}

.selectedSuggestionEntry{
	background-color:#006699;
	cursor:pointer;
	color:#fff;
}

.evenSuggestionEntry{
	background-color:#fff;
	color:#006699;
}

.oddSuggestionEntry{
	background-color:#eee;
	color:#006699;
}

.dissError{
	display:none;
}

div.grippie {
	background:#006699 url(resources/image/resize_grip.png) no-repeat scroll center 2px;
	border-color:#006699;
	border-style:solid;
	border-width:0pt 1px 1px;
	cursor:s-resize;
	height:5px;
	overflow:hidden;
}
