@CHARSET "UTF-8";
/*****************************************************************************
 * style file for the postBookmark form (possibly also for the postBibTeX)
 ****************************************************************************/
#fsform {
/*
    float: left;
    display: block;
    clear: left;
*/
    width:100%;
}

#tagField {
}

.fsLegend {
    text-align:left;
    width:auto;
    font-weight:normal;
}

.fsOuter {
    border: 1px solid #069;
    background-color: #eee; 
    position:relative;
    padding: 0px 10px 10px 10px;
}

.fsInner {
    border: 1px solid #069;
    background-color: #eee;
    position:relative;
    margin:8px 0px 0px 0px;
}

.fsInnerLabel {
    width:6em;
    float: left;
    display: block;
    clear: left;
    margin-right: 1em;
    text-align: right;
    font-weight: bold; 
}

.fsLabel {
    width: 10em;
    float: left;
    display: block;
    clear: left;
    margin: 0px;
    margin-right: 1em;
    text-align: right;
    font-weight: bold; 
}

.fsSuggestion {
    margin: 0 0 1px 0px;
    left: 7em;
    position: relative;
}

.fsInput {
    width: 75%;
    margin: 0 0 1px 0px;
    left:0px;
}

.fsText {
    width: 75%;
}

.tagInput {
    width: 75%;
}

.fsReloadButton {
	display: block;
	float: right;
	width: 1em;
	height: 1em;
}

.fsConfirm {
}

.fsWaitingText {
	font-style: italic;
}