ul#sidebar .goldstandard {
	padding-left: 20px;
}

ul#sidebar .goldstandard .goldstandard_references ul {
	padding-left: 25px;	
}

ul#sidebar .goldstandard .goldstandard_references ul li {
	list-style-type: disc !important;
}

div#goldstandard {
	padding-left: 20px;
	padding-top: 15px;
	padding-bottom: 10px;
}

div#goldstandard textarea {
	width: 95%;
	padding: 5px;
}

h2#gold_title {
	margin-bottom: 0px;
	font-size: 135%;
}

#gold_resources_links {
	float: left;
	width: 45%;
}

div#gold_refs, div#postUsers, div#gold_exports {
	clear: both;	
}

div#gold_references, div#gold_referencedBy {
	margin-top: 15px;
}

div#gold_references ol, div#gold_referencedBy ol {
	list-style: upper-roman;
}

#gold_authorsEditors {
	font-size: 85%;
	color: grey;
}

.gold_info {
	font-weight: bold;	
}

#gold_abstract, #gold_resources {
	margin-top: 15px;
}

ul#gold_menu {
	float: right;/*
	position: relative;
	text-align: right;*/
}

ul#gold_menu li {
	display: inline;
	padding: 3px;
	margin-right: 5px;	
}

ul#gold_menu li a {
	background-color: rgb(0, 104, 170);
	color: white !important;
	padding: 3px 5px 3px 5px;
	font-size: 80%;
	border: 1px solid black;
}

ul#gold_menu li a:hover {
	background-color: rgb(233, 233, 233);
	color: rgb(96, 96, 96) !important;
}

#gold_resources_pdf {
	float: left;	
}

#gold_references {
	clear: both;
}


#gold_exports. #postUsers {
	margin-top: 15px;
}

#gold_exports div.ui-tabs-panel {
	border: 1px solid rgb(233, 233, 233);
	clear: both;
}

#gold_exports ul.ui-tabs-nav li, #gold_exports ul.ui-tabs-nav {
	margin: 0;
	padding: 0;
}

#gold_exports ul.ui-tabs-nav li a:hover, #gold_exports ul.ui-tabs-nav li.ui-tabs-selected a  {
	background-color: rgb(255, 255, 255) !important;
	color: rgb(0, 0, 0) !important;
}

#gold_exports ul.ui-tabs-nav li.ui-tabs-selected a {
	border-bottom-color: rgb(255, 255, 255) !important;
}

#gold_exports ul.ui-tabs-nav li a {
	border: 1px solid rgb(233, 233, 233);
	background-color: rgb(233, 233, 233);
	color: rgb(96, 96, 96);
}

#gold_resources #gold_resources_links {
	margin-right: 15px;
}

#goldstandard #gold_resources_links ul , #goldstandard #gold_refs ul, #goldstandard #postUsers ul {
	list-style: disc;
	margin-left: 20px;
}

#goldstandard #gold_resources_pdf ul {
	margin-left: 20px;
}