.resources {
	clear: both;
	margin: 5px 5px 5px 5px;
}

h2 {
	clear: both;
	margin: 5px 0px 10px 5px;
	border-bottom: solid #eee 2px;
}

.imageContainer {	
max-width: 200px;
text-align: center;
float: left;
margin: 5px 5px 5px 5px;
}

.imageCapture {
text-align: center;
}

.groupImage {
max-width: auto;
text-align: center;
margin: 0 auto;
}
