.bookmarkList {
        list-style-type: disc;
}


.resources {
        clear: both;
        margin: 5px 5px 5px 5px;
}

h2 {
        clear: both;
        margin: 5px 0px 10px 5px;
        border-bottom: solid #eee 2px;
}

.hand {
        cursor: pointer;
}


.align {
        margin-left: 25px;
        padding-top: 2px;
}


.details {
        display: none;
}


.imageContainer {
max-width: 200px;
text-align: center;
float: left;
margin: 5px 5px 5px 5px;
}

.imageCapture {
text-align: center;
}

.groupImage {
max-width: auto;
text-align: center;
margin: 0 auto;
}

.entry {
font-size:14px;
line-height:14px;
text-decoration:none;
}
.entry_title {
font-weight: bold;
color:#478080;
}
.entry_author {
}

.entry_journal, .entry_booktitle {
font-style: italic;
color:#478080;
}