/*
 * Stylesheet for /groups
 * @author Folke Eisterlehner
 */
 
/* the introductory text about groups */
#groupIntro {
	text-align: justify;
} 

/* the navigation-alphabet on top of the list */
#linkedAlphabet a {
  margin-right: .5em;
}

/*----------------------------------------------------------------------------
 * Buttons - derived from listhButtons in style.css 
 *--------------------------------------------------------------------------*/
.groupsButtons {
	float: right;
	margin-right: 0 ! important;
	padding: 0;
}

.groupsButtons a {
	border: 1px solid #6F6F6F;
	background-color: #EEEEEE;
	color: #5F5F5F;
	padding-left: 2px;
	padding-right: 2px;
	margin: 0;
}

.groupsButtons a:hover {
	border: 1px solid #6F6F6F;
	background-color: #006699;
	color: #FFFFFF;
}


/*----------------------------------------------------------------------------
 * the table which holds the groups list
 *--------------------------------------------------------------------------*/
#groupsList {
	border-collapse: collapse;
	/*border-spacing: 20px;*/
}

#groupsList .characterColumn {
	background-color: #EEEEEE;
}

/* row in table which only shows the corresponding character in the alphabet */
#groupsList .groupsNewChar {
	background-color: #EEEEEE;
}

#groupsList .groupsNewChar a {
}

#groupsList .groupName {
	width: 10em;
}

#groupsList .groupDescription {
}
