#help-main img {
	width: 100%;
}

#help-sidebar {
	background-color: #f2f2f2;
	padding: 15px;
	border-radius: 15px;
	margin-right: 45px;
}

#help-sidebar > h3:first-child {
	margin-top: 0px;
}

#help-main > h1:first-child {
	margin-top: 0px;
}