.HistTable li{
display: table-cell;  
margin: 5px; 
padding: 5px; 
vertical-align: top; 
position:relative; 
}

.diffNumText{
	white-space: nowrap;
    cursor: default;
    padding: 1px 20px;
    border: 0;
    height: 25px;
    width: 275px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
    -moz-box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
    -webkit-box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
    -webkit-background-clip: padding-box;
    outline: 0;    
}
.diffNumText:hover{
	text-decoration: none;
}