.HistTable{
	padding:0; 
	margin:0;
	/*box-shadow: 1px 1px 5px #000000;*/
}

.HistTable li{
display: table-cell;  
margin: 5px; 
padding: 5px; 
vertical-align: top; 
position:relative; 
}

.no-bullet{
	list-style-type: none;
}
.diffNumText{
	font-size:90%;
	white-space: nowrap;
    cursor: default;
    padding: 1px 10px;
    border: 0;
    height: 25px;
    width: 275px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
    -moz-box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
    -webkit-box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
    -webkit-background-clip: padding-box;
    outline: 0;    
}
.diffNumText:hover{
	text-decoration: none;
}

.invisible{
	visibility: hidden;
}

hr.fancy-line { 
    border: 0; 
    height: 1px;
    position: relative;
    margin: 0.5em 0; /* Keep other elements away from pseudo elements*/
}
hr.fancy-line:before {
    top: -0.5em;
    height: 1em;
}
hr.fancy-line:after {
    content:'';
    height: 0.5em;   /* half the height of :before */
    top: 1px;        /* height of hr*/
}

hr.fancy-line:before, hr.fancy-line:after {
    content: '';
    position: absolute;
    width: 100%;
}

hr.fancy-line, hr.fancy-line:before {
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 75%);
    background: -webkit-gradient(radial, center center, 0px, center center, 75%, color-stop(0%,rgba(0,0,0,0.1)), color-stop(75%,rgba(0,0,0,0)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
}

hr.fancy-line:after {
    background: #f4f4f4;
}

hr.fancy-line-bolder:after {
    background: #eeeeee;
}

.red_background{
	background:#ffe6e6;
}
.underline{
	text-decoration: underline;
}
.selected{
	color: black;
	font-weight: bold;
}
#compareChoose{
	text-decoration: none;
}
#compareChoose:hover{
	text-decoration: none;
	cursor: default;
}

.Hint{
	display: block;
	font-weight:bold;
    padding:10px;
	color: black;
	font-size: 120%;
	text-decoration:none;
	text-align: left;
	width: 50%;
	/*position: absolute;*/
}

.Hint li{
	display:inline-block;
}

.Hint a{
    text-decoration:underline;
    margin-right: 2px;
    margin-left: 2px;
	width: 10px;
}

.red{
	border: 1px solid #FF9999;
	background-color: #FF9999;
}

