/*****************************************************************************
 * Temporarly styling elements for the login header element
 ****************************************************************************/
 .login {
 	float: left;
 }
 
#loginSelect_msdd {
	margin-left: 1em;
}