@CHARSET "UTF-8";

#fullscreen {
	min-width:800px !important;
}

#innercontent {
	font-size: 110%;
	background: #fff; 
	padding-left: 40px;
}

/*
 * subcolumns 
 */
 
.subcolumns {
	width: 100%;
	overflow: hidden;
	padding-bottom: 1em
}

.c20l, c20r {
	width: 20%;
} 

.c80l, .c80r {
	width: 80%;
}

.c33l, .c33r {
	width: 33.333%;
}

.c66l, .c66r {
	width: 66.666%;
}

.c50l, .c50r {
	width: 50%;
}
.c20l, .c33l, .c50l, .c66l, .c80l {
	float: left;
}

.c20r, .c33r, .c50r, .c66r, .c80r {
	float: right;
	margin-left: -5px;
}

.subcr {
	padding: 0 0 0 1em;
}

.subcl {
	padding: 0 1em 0 0;
}

.morecontent span {
    display: none;
}

.td-top td {
	min-width: 100px;
	font-size: 95% !important;
}


.bibtexpreviewimage {

}

/** FIXME: convert to less and use color variable main-color */
.bibtexpreviewimage .pre_pic {
	width: 220px;
	padding: 0;
	margin: 0;
}

.bibtexpreviewimage a {
	width: 220px;
	text-align: left;
	padding: 0;
	margin: 0;
	position:relative;
	display:block;
	background:#fff;
	border:1px solid #a9a9a9;
	margin-bottom:20px;
	-webkit-box-shadow:0 3px 8px rgba(0,0,0,0.3);
	-moz-box-shadow:0 3px 8px rgba(0,0,0,0.3);
	box-shadow:0 3px 8px rgba(0,0,0,0.3);
}

.btn > span {
	display: none;
} 

a.btn {
	margin-right: 6px;
}

.renameBtn, .okBtn {
	margin-right: 3px;
}

.renameDocForm {
	margin-top: 5px;
	height: 25px;
}


input.renameDocInput {
	width: 130px;
	float: left;
	border: 1px solid #fff;
}

 input.renameDocInput:hover,
 input.renameDocInput:focus {
	border: 1px #006699 solid !important;
}


.renameBtn {
	background: url("/resources/image/post_actions.png");
	background-position: 0 -159px;
	width: 20px;
	height: 18px;
	border: none;
	cursor: pointer;
}

.okBtn {
	background: url("/resources/image/post_actions.png");
	background-position: 0 -1269px;
	width: 20px;
	height: 18px;
	border: none;
	cursor: pointer;
}

.removeDocBtn { 
	display:block;
	float: left;
	background: url("/resources/image/post_actions.png");
	background-position: 0 -275px; 
	background-repeat: no-repeat;
	width: 13px; 
	height: 18px; 
}
.okBtn:hover {

	background-position: 69px -1269px;
}


.downloadBtn {
	
	background: url("/resources/image/post_actions.png");
	background-position: 0 -1221px;
	width: 16px;
	height: 22px;
	border: none;
	text-decoration: none;
}


.downloadQRBtn {
	background: url("/resources/image/post_actions.png");
	background-position: 0 -1247px;
	width: 20px;
	height: 22px;
	border: none;
	text-decoration: none;
	margin-right: 0 !important;
}
.downloadQRBtn:hover {
	background-position: 69px -1247px;
}
.renameBtn:hover {
		background-position: 0 -120px;
}

.downloadBtn:hover {
	background-position: 69px -1221px;
}


.renameDocForm > * {
	float: left;
	display: block;
}

li.document {
	
	border-left: 4px #fff solid;;
}

li.document.active {
	border-left: 4px #006699 solid;
}

.preview_meta .removeDoc {
	background: url("/resources/image/post_actions.png");
	background-position: 0 -275px; width: 13px; height: 18px;
}

.preview_meta p {
	padding: 0;
	margin: 0;
}

.preview_meta p.publication_action_buttons {
	padding: 0;
	margin: 0;
	text-align: left;
	position:relative; 
	z-index:100;
	padding: 2px;	
	clear: left;
}

.preview_meta .removeDoc span, 
.preview_meta .renameDoc span {
	display: none;	
}

#innercontent .title {
	margin-top: -5px;
	margin-left: -40px;
	padding-top: 5px;
	padding-left: 40px;
	/*background: url("/resources/image/publication.png") top left no-repeat;*/
	/*background-position: 0px -57px;*/
}

#innercontent .title h1 {
	font-size: 150% !important; 
	padding: 0; 
	margin: 0;
}

.headerLogo.image {
	display:none;
}

#innercontent h4, h3 {
	margin: 1.5em 0 0.5em 0;
	
}

.removeDocLink:hover {background-position: 0 -237px;}
.removeDocLink span {display:none;}

.taglist li {
	display: inline;
	float: left; 
	height: 30px !important;
}

.taglist .tagitem:hover,.taglist .tagitem:focus,.taglist .tagitem:active { 
	color: #006699; 
	text-decoration: underline; 
}

.taglist .tagitem {
	background: transparent url("/resources/image/bg_tag_left.png") top left no-repeat;
	height:20px;
	font-size: 13px;
	line-height: 20px;
	padding: 2px 1px 3px 1.5em;
}

.taglist span.tagitem_rightborder {
	background: transparent url("/resources/image/bg_tag_right.png") top right no-repeat;
	font-size: 13px;
	line-height: 20px;
	font-family: 'Arial', sans-serif;
	height:20px;
	padding: 2px 3px 3px 0;
	margin: 0.5em 0.5em 0.5em 0;
}

.taglist .comma {
	display: none;
}


#fullscreen h4 {
	margin-left: -0.5em !important;
}

#linkBox {
	font-size: 90% !important;
}

div#titletext {
	width: auto;
	margin-left: 78px;
	display: block;
}

.communitypost div#titletext {
	width: auto;
	min-width: 454px;
	margin-left: 0;
	display: block;
}

div#ownerAvatar,
.ownerAvatar {
	display: block;
	float:left; 
	width: 66px; 
	height: 66px;
	border: 1px solid #a9a9a9; 
	
	overflow: hidden;
}

.ownerAvatar {
	margin-right: 2em;
}

div#ownerAvatar span,
div.ownerAvatar span {
	display: block;
	font-size: 11px;
	color: #eee; 
	background-color: rgba(12, 82, 135, 0.66); 
	text-align: center;
	padding: 1px;
	margin: 1px; 
	height: 11px; 
	position:relative; 
	line-height: 11px; 
	top: 51px; 
	overflow: hidden; 
	z-index: 2;
	width: 62px;
}
div#ownerAvatar a:hover,
div#ownerAvatar a:focus,
div#ownerAvatar a:active {
	text-decoration: none !important;
}
div#ownerAvatar a img,
div.ownerAvatar a img {
	width: 64px; 
	padding: 1px;
	overflow:hidden;
	position:relative;
	top: -15px;
	z-index: 1;
}

.addUrl:before, .addDocument:before {
	content:"+ ";
}

a.addDocumentImg.addDocument:before {
	content:"";
}

.addDocument {
	display: block;
	line-height: 13px;
	padding: 5px 3px 3px 3px;
	margin: 2px 0;
}

#abstract {
	text-align:justify
}

#previewSelectBullets {
	display: block;
	text-align: center;
	
}

#previewSelectBullets a.bullet {
	display: inline;
	margin: 2px;
	text-decoration: none;
}

#previewSelectBullets a.bullet span {
	line-height: 21px;
	font-size: 21px;
	background: transparent url("/resources/image/previewSelectBullets.png") -1px -1px no-repeat;
}

#previewSelectBullets a.bullet.active span {
	background-position: 0 -30px;
}

.pubmetainfo {
	float: right;
}

.pubmetainfo li {
	display: inline;
	margin-left: 1em;
}