/* TODO: move to other css file? */
#reviewsbox {
	margin-left: 1em;
	margin-top: 2em;
	margin-bottom: 2em;
}

#review_info_rating {
	margin-left: 0.5em;
	text-align: center;
	display: table;
	border-collapse: collapse;
}

#postReview, #review_info_rating {
	margin-bottom: 1.0em;
}

#ratingDistribution, #ratingAvg {
	display: table-cell;
	width: 50%;
	font-size: 85%;
}

#ratingAvg {	
	vertical-align: middle
}

#ratingAvg div {
	margin: auto;
}

#ratingDistribution {
	margin-left: 0.1em;
	margin-right: 1em;
	max-width: 315px;
}

#reviewlist li div.reviewinfo {
	margin-bottom: 0.3em;
}

#reviewlist li div.helpfulContainer {
	margin-top: 0.2em;
	padding-top: 0.1em;
}

#reviewlist li div.helpfulContainer form {
	margin-left: 0.2em;
	margin-right: 0.2em;
}

#reviewlist li {
	margin-bottom: 1.2em;	
}

#reviewlist li div.reviewer {
	font-size: 0.8em;
	margin-top: 0.5em;
}

#reviewlist li div.helpfulinfo, #reviewlist li div.helpfulContainer {
	margin-bottom: 0.3em;
	font-size: 0.9em;
}

#reviewlist li div.reviewText {
	clear: both;
	margin-top: 0.5em;
}

.stars-off-1, .stars-on-1 {
    position: relative;
    height: 16px;
    background: url(../jquery/plugins/ui/plugins/stars/jquery.ui.stars.gif) repeat-x 0 -32px;
}

.stars-off-1 {
	display: inline-table;
	width: 80px;
}
 
.stars-on-1 {
    position: absolute;
    background-position: 0 -48px;
}

/*
.stars-off-2, .stars-on-2 {
    position: relative;
    height: 32px;
    background: url(../image/stars-big.png) repeat-x 0 0px;
}

.stars-off-2 {
	width: 160px;
}

.stars-on-2 {
    position: absolute;
    background-position: 0 -32px;
}*/

#reviewlist li form.helpful {
	display: inline;
}

#reviewlist li form.helpful input:hover {
	cursor: pointer;
}

#toggleReviews {
	clear:both;
	width: 100%;
	text-align: center;
}

#toggleReviews a {
	background-color: rgb(0, 104, 170);
	color: white !important;
	width: 100%;
	font-size: 80%;
	padding: 2px 20px 2px 20px;
	border: 1px solid black;
}

#toggleReviews a:hover {
	background-color: rgb(233, 233, 233);
	color: rgb(96, 96, 96) !important;
}

.ratingAvgInfo {
	color: #555;
	clear:left;
}

.reviewMeta {
	color: #555;
	font-size: 80%;
	margin-top: 6px;
}

.reviewMeta > span {
	margin-left: 3px;	
}