/* elements for spammertag page */
.logbox {
	height:100px;
	width:300px;
	overflow: auto;
	font-family: Arial, Helvetica, sans-serif;	
	overflow-x: hidden;
	overflow-y: hidden;	
	background-color: #E5F3FA;
	border: 1px solid #069;
	font-size: 0.8em;
	padding: 2px;
}
#ajax_tooltipObj{
	z-index:1000000;
	text-align:left;
}
#ajax_tooltipObj div{
	position:relative;
}
#ajax_tooltipObj .ajax_tooltip_arrow{	/* Left div for the small arrow */
	background-image:url('../image/arrow.png');
	width:20px;
	position:absolute;
	left:0px;
	top:0px;
	background-repeat:no-repeat;
	background-position:center left;
	z-index:1000005;
	height:60px;
}
#ajax_tooltipObj .ajax_tooltip_content{
	border:2px solid #069;	/* Border width */
	left:18px;	/* Same as border thickness */
	top:0px;
	position:absolute;
	width: 450px;	 /*Width of tooltip content */
	background-color:#FFF;	/* Background color */
	padding:5px;	/* Space between border and content */
	font-size:0.9em;	/* Font size of content */
	overflow:auto;	/* Hide overflow content */
	z-index:1000001;
}