.sphere {
	margin: 1%;
}

.sphere_header {
	font-size: 110%;
	font-weight: bold;
	color: #006699;
	width: 100%;
	border-bottom: 1px solid #D3DFE2;
	margin-bottom: 1ex;
}

.sphere_users {
	margin-left: 1em;
	float: left;
}

.sphere_tag_cloud {
	width: 34%;
	float: left;
}

.sphere_control {
	width: 65%;
	text-align: right;
	margin-left: 2em;
	margin-bottom: 1em;
	margin-top: 0em;
}

.sphere_resources {
	display: none;
}

.sphere_user_list {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

.left_sphere_list_entry {
	width: 64%;
}

.sphere_user_list li {
	display: inline;
	line-height: 1.5em;
	padding: 0 0.1em;
}

.sphere_image_container {
	float: left;
	text-align: center;
	margin-bottom: 2px;
	margin-right: 5px;
}

.sphere_image_container * img {
	height: 60px;
}

.sphere_sidebar_heading {
	font-size: 110%;
	font-weight: bold;
}

.sphere_footer {
	clear: both;
	margin-bottom: 2ex;
}

.sphere_image_container .imageCapture {
	font-size: 80%;
}

.addContainer {
	position: absolute; 	
	margin-right: 2px;
	left: -174px!important; 
	top: 37px;
	
}

.addSpheres {
	position: relative; 
	overflow: visible;
}


#sphereList {
	margin: 0!important; 
	padding:0!important;
	padding-left: 10px!important; 
	padding-right: 10px!important; 
	padding-top: 5px!important; 
	padding-bottom: 5px!important; 
	border-width: thin; 
	list-style-type: circle!important; 
	list-style-position: inside!important; 
	background-color: #EEEEEE; 
	border-style: solid; 
	border-color: #006699;
	font-size: 95%;
	
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    
    -khtml-border-top-left-radius: 10px;
    -khtml-border-top-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    -khtml-border-bottom-left-radius: 10px;
    
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
	
}

#addNewSphere {
	margin-left: 5px; 
	vertical-align: middle;
}