@CHARSET "UTF-8";

body {
	background-color: #c6c6c6;
	font-size: 12px;
	font-family: Arial, sans-serif;
} 


ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

a {
	color: #006699;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


#container {
	position: absolute;
	top: 20px;
	bottom: 20px;
	left: 20px; 
	right: 20px;
    background-color: white;	
}

#legalnotices {
	position: absolute;
	text-align: right;
	bottom: 2px;
	right: 15px;
	font-size: 90%;
}

#header {
	background-color: #006699;
	height: 94px;
}

#logoimage {
	display:none
}

#logo {
	position: absolute;
	top: 10px;
	left: 30px;
	color: white;
	font-size: 38px;
}

#logo .bib {
	font-weight: bold;
}

#logo .sonomy {
}		
	
#logo a {
	color: white;
}

#logoSubtitle {
	position: absolute;
	top: 54px;
	left: 30px;
	color: white;
	text-transform: uppercase;
	display: none;
}


#search {
	position: absolute;
	top: 54px;
	left: 30px;
	height:3.5ex;
	width: 50em;
	padding: 2px;
}

#specialsearch {
	display: inline;
}

#search .descriptiveLabel {
	color: #bbb;
}

#infoline {
	font-size: 90%;
	color: white;
	right: 0px;
	top: 1.8ex;
	position: absolute;
	margin-right: 7em;
}

#infoline ul li {
	width: auto;
	float: left;
	list-style: none;
	background-image: url("/resources/image/dot.png");
	background-repeat: no-repeat;
	background-position: 0 .5em;
	padding-left: .5em;
	padding-right: .3em;
}

#infoline ul li:first-child {
	width: auto;
	float: left;
	margin-left: 1ex;
	background-image: none;
}


#infoline a {
	color: white;
	text-decoration: none;
}

#infoline a.profile {
	text-decoration: underline;
}

#language {
	color: white;
	right: 1.2ex;
	top: 0px;
	position: absolute;
	font-size: 130%;
	margin-top: 0.8ex;
	text-transform: uppercase;
}
	
#language ul li {
	width: auto;
	float: left;
	list-style: none;
	padding-left: 2px;
	background-image: url("/resources/image/dot.png");
	background-repeat: no-repeat;
	background-position: 0 .5em;
	padding-left: .3em;
	padding-right: .2em;
}

#language ul li:first-child {
	background-image: none;
}

#language a {
	color: white;
	text-decoration: none;
}

#language ul li a.active {
	font-weight: bold;
}

#poststats {
	position: absolute;
	top: 6ex;
	right: 2ex;
	text-align: right;
	color: white;
	font-size: 90%;
}

#poststats a {
	text-decoration: none;
	color: white;
}

#poststats span.amount {
	font-weight: bold;
}


#navigation, #navigation2 {
	background-color: #c6c6c6;
	height: 31px;
}

#navigation ul li, #navigation2 ul li {
	float: left;
	width: auto;
	list-style: none;
	padding: 1ex 3ex;
	font-weight: bold;
}
	
#navigation ul li.active, #navigation2 ul li.active {
	color: #006699;
	text-decoration: none;
	background-color: white;
	padding-bottom: 0;
	height:25px;
}

#navigation ul li.active a, #navigation2 ul li.active a {
	color: #006699;
}

#navigation ul li.pulldown, #navigation2 ul li.pulldown {
	background-image: url("/resources/image/pulldown-marker-000000.png");
	background-repeat: no-repeat;
	background-position: 95% 1.8ex;
}

#navigation ul li a, #navigation2 ul li a {
	color: black;
	text-decoration: none;
}

#navigation {
}

#navigation2 {
	float: right;
}

#navigation2 ul li {
	background-image: url("/resources/image/abmelden.jpg");
	background-repeat: no-repeat;
	background-position: 0 0.9ex;
	padding-left: 3ex;
}

#intro {
	display: none;
}

/*****************************************************************************/
/* BEGIN SIDEBAR                                                             */
/*****************************************************************************/
#sidebar {
	position: absolute;
	width: 250px;
	right: 0px;
	top: 0px;
	z-index: 40;
	background-color: #e4e4e4;
}

#sidebarnavi {
	height: 60px;
	background-color: #e4e4e4;
}

#newsbox {
	background-color: #FFF69B;
}

#sidebox {
	background-color: #D8EBAE;
}

#sidebar ul {
	list-style: none;
	font-size: 95%;
	margin: 3px 0;
	padding: 5px;
}

/* hack to fix IE/Win's broken rendering of block-level anchors in lists */
#sidebar li {
	border-bottom: 1px solid #ccc;
}

/* fix for browsers that don't need the hack */
html>body #sidebar li {
	border-bottom: none;
}
/* --- tag cloud -----------------------------------------------------------*/
.tagcloud {
	overflow: hidden;
	text-align: center;
}

.tagcloud li {
	display: inline;
	padding: 0em .1em 0em .1em;
	line-height: 1.5em;
	font-size: 90%;
}

.tagcloud a,.taglist a {
	color: #069;
}

.tagcloud a:hover,.taglist a:hover {
	color: #000000;
	text-decoration: none;
}

.tagtiny a,.tagtiny {
	color: #8D9964 ! important;
	padding-right:10px;
}

.tagnormal a,.tagnormal {
	color: #8C9963 ! important;
	padding-right:10px;
}

.taglarge a,.taglarge {
	color: #383d27 ! important;
	padding-right:10px;
}

.taghuge a,.taghuge {
	color: #2F3321 ! important;
	padding-right:10px;
}
/*****************************************************************************/
/* END SIDEBAR                                                               */
/*****************************************************************************/


.post {
	clear: left;
	padding: 8px;
	background-color: #ffffff;
	position: relative;
}
	
.post:hover {
	background-color: #ffffc6 !important;
}

.post .image {
	width: 100px;
	text-align: center;
	padding-top: 15px;
	background-color: white;
	left: 3px;
	bottom: 3px;
	top: 3px;
	position: absolute;
}
.post .mimetype_pdf {
}

.post .title,  .post .desc, .post .authors {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
  	-o-text-overflow: ellipsis;  /* necessary for opera 9+10 */
}

.post .title {
	font-size: 120%;
	font-weight: bold;
	margin-left: 110px;
	margin-right: 24px;
}

.post .title a{
	color: #000000;
}

.post .desc {
	font-size: 90%;
	margin-left: 110px;
}

.post .meta {
	font-size: 90%;
	margin-left: 110px;
}

.post .authors {
	font-size: 90%;
	margin-left: 110px;
}

.post .usersaves {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	background-image: url("/resources/image/dreieck_or.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 33px;
	height: 34px;
	padding-top: 2px;
	text-align: center;
	margin-top: 3px;
	margin-right: 3px;
}

.post .usersaves a {
	color: #aaaaaa;
	font-weight: bold;
	padding-right: 3px;
	padding-left: 16px;
	font-size: 90%;
}

	
.post .action {
	display: block;
	margin-top: 1ex;
	position: absolute;
	bottom: 1ex;
	left: 116px;
	background-color: inherit;
	
}


.post .action .item {
    background-repeat: no-repeat;
	background: url("/resources/image/postactions_black.png");
    display: block;
    float: left;
	height: 30px; 
    width: 30px;
}

.post .action .edit{
    background-position: 0px 0px;
}
	
.post .action .delete{
    background-position: -23px 0px;
}

.post .action .cummunity{
    background-position: -52px 0px;
}

.post .action .discuss{
    background-position: -117px 0px;
}

.post .action .bibtex{
    background-position: -151px 0px;
}

.post .action .doi{
    background-position: -205px 0px;
}

.post .rating {
	margin-top: 1ex;
	position: absolute;
	bottom: 2ex;
	right: 2ex;
}

.post .footer {
	clear: both;
}

.post .tags {
	margin-left: 110px;
	margin-top: 1ex;		
	margin-bottom: 5ex;		
/*	bottom: 1ex;
	left: 118px;
	position: absolute;
	right: 1ex;
*/			
}

.post .tags a {
	padding: 0.5ex;
	margin-right: 2px;
	margin-bottom: 0.5ex;
	color: black;
	display: inline-block;
	padding: 0.3ex 0.5ex;
	font-size: 100%
}

.post .tags a {
	background-color: #eeeeee;
}

.post .tags a:hover {
	background-color: #c8dc8d;
}

.post .time {
	display: inline;
	margin-left: 110px;
}

.post .user {
	display: inline;
}

.post .group {
	display: inline;
	padding-left: 0.5ex;
	
}

.post .group .private {
	font-weight: bold;
	background-color: #006699;
	padding: 0 3px;
	color: #ffffff;
}

.post.odd {
	background-color: #f8f8f8;
}		

.post.even {
	background-color: white;
}


.post .image .preview {
    border: 1px solid #DDDDDD;
    box-shadow: 0px 0px 6px #999999;
}

.post .overlay {
	position: absolute;
	left: -2px;
	top: -1px;
	z-index: 2;
}

.stars-off-0\.75 {
    float: left;
    position: relative;
    width: 60px;
}

.stars-off-0\.75, .stars-on-0\.75 {
    background: url("/resources/image/stars.gif") repeat-x scroll 0 -24px transparent;
    height: 12px;
}

.stars-on-0\.75 {
    background-position: 0 -36px;
    position: absolute;
}

.reviewInfo {
	padding-left: 0.5ex;
	font-size: 90%;
	color: #999999;	
}


#bookmarks {
	width: 50%;
	float: left;
	padding-left: 0ex;
	background-color: #c6c6c6;
}

	
#publications {
	width: 50%;
	float: left;
	padding-left: 0ex;
	background-color: #c6c6c6;
	margin-left: 0px;
}

#bookmarksheader .header, #publicationsheader .header {
	text-transform: uppercase;
	color: #006699;
	font-weight: bold;
	font-size: 120%;
	padding-left: 121px;
	height: 40px;
    padding-top: 20px;
	background: url("/resources/image/icons.png");
    background-repeat: no-repeat;
    margin: 0;
	background-color: #ffffff;
}

#bookmarksheader .config, #publicationsheader .config {
	height: 30px;
	width: 30px;
	background: url("/resources/image/icons.png");
    background-repeat: no-repeat;
	background-position: 0px -235px;
	margin-top: 10px;
	margin-right: 10px;
	float: right;
}

#bookmarksheader .config a, #publicationsheader .config a {
	height: 30px;
	width: 30px;
}

#bookmarksheader .header {
	padding-left: 122px;
	background-position: 27px 2px;
	border-right: 1px solid #c6c6c6;
}    

#publicationsheader .header {
	border-left: 1px solid #c6c6c6;
	padding-left: 122px;
    background-position: 27px -61px;
}	

#bookmarks .posts {
	background-color: #ffffff;
	border-right: 1px solid #c6c6c6;
}

#publications .posts {
	background-color: #ffffff;
	border-left: 1px solid #c6c6c6;
}

#bookmarks .desc, #publications .desc {
	color: #666666;
	font-style: italic;
}

#publications .authors {

}

.post .tags a.edittags img.editimage {
	border: 0;
	padding: 0;
	margin: 0;
}

.post .tags a.edittags {
	background: none;
	color: #006699;
}

.post .tags a.edittags:hover {
	background: none;
	color: #006699;
}

.post .tags a.systemtags {
	background: none;
}

.post .tags a.systemtags:hover {
	background: none;
}

.post .tags .editimage {
	height: 13px;
    vertical-align: text-top;
}

#headercontainer {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 125px;
	height: 60px;
	padding-right: 250px;
	background-color: #c6c6c6;
	overflow: scroll;
	overflow-x:hidden;
	
}

#sidebarheader {
	position: absolute;
	width: 250px;
	right: 0px;
	top: 0px;
	z-index: 40;
	background-color: #e4e4e4;
	background-color: white;
	padding-right: 0;
}



#bookmarksheader {
	width: 50%;
	float: left;
	padding-left: 0ex;
	background-color: #ffffff;
}

	
#publicationsheader {
	width: 50%;
	float: left;
	padding-left: 0ex;
	background-color: #ffffff;
	margin-left: 0px;
}


#sidebar {
	position: absolute;
	width: 250px;
	right: 0px;
	top: 0px;
	z-index: 40;
	background-color: #e4e4e4;
}

#postcontainer {
	position: absolute;
	left: 0px;
	bottom: 10px;
	top: 185px;
	padding-right: 250px;
	overflow: scroll;
	overflow-x:hidden;
	background-color: #E4E4E4;
	right: 0;
}

#sidebarnavi {
	height: 60px;
	background-color: #e4e4e4;
}
	
.sidebarnavi_entry {
    background: url("/resources/image/tabactions.jpg");
    height: 60px; 
    width: 55px;
    position: absolute;
    border-right: 1px solid #c6c6c6;    
}

.sidebarnavi_entry a {
    height: 60px; 
    width: 55px;
    display: block;
}

.sidebarnavi_entry_01 {
    background-position: 0px 0px;
    left: 0px;
}

.sidebarnavi_entry_02 {
    background-position: -58px 0px;
    left: 56px;
}

.sidebarnavi_entry_03 {
    background-position: -114px 0px;
    left: 112px;
}

.sidebarnavi_entry_04 {
    background-position: -172px 0px;
    left: 168px;
}

.sidebarnavi_entry_05 {
    background-position: -228px 0px;
    left: 224px;
}

.sidebarnavi_entry_06 {
    background-position: -284px 0px;
    left: 280px;
}

#pageNavigation {
	clear: both;
	bottom: 0px;
	background-color: #eaeaea;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 22px;
}

#pageNavigation .pageNavigation {
    float: left;
	width: 50%;
}

#pageNavigation .pageNavigation.bookmarks .innerPageNavigation {
	border-right: 1px solid #c6c6c6;
}

#pageNavigation .pageNavigation.publications  .innerPageNavigation{
	border-left: 1px solid #c6c6c6;
}

#pageNavigation .pageNavigation .innerPageNavigation {
	text-align: center;
	padding: 4px 0;
}

#pageNavigation .pageNavigation .pageNavigationButton {
	display: inline;
	vertical-align:top;
}

#pageNavigation .pageNavigation .directPageAccess {
	display: inline;
	color: #555;
	padding-left: 1em;
	padding-right: 1em;
	vertical-align:middle;
}

#pageNavigation .pageNavigation .directPageAccess a {
	padding-left: 0.5ex;	
	padding-right: 0.5ex;	
	color: #555;
}

#pageNavigation .pageNavigation .directPageAccess a.active {
	color: #fff;
}

#pageNavigation .pageNavigation prev2 {
}

#pageNavigation .pageNavigation prev {
}

#pageNavigation .pageNavigation next {
}

#pageNavigation .pageNavigation next2 {
}

#sidebarnavi ul {
	display: none;
}

#newsbox {
	background-color: #FFF69B;
}
#sidebox {
	background-color: #D8EBAE;
}


.hiddenElement {
	display: none !important;
}

/* login css code */
/*
 * Temporarly styling elements for the login header element
 */
.login {
	float: left;
}

#loginSelect_msdd {
	margin-left: 1em;
}

/* dd.css - to be cleaned */
	/************** Skin 1 *********************/
.dd { /*display:inline-block !important;*/
	text-align: left;
	background-color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
}

.dd .ddTitle {
	background: #f2f2f2;
	border: 1px solid #c3c3c3;
	padding: 3px;
	text-indent: 0;
	cursor: default;
	overflow: hidden;
	height: 16px;
}

.dd .ddTitle span.arrow {
	background: url(dd_arrow.gif) no-repeat 0 0;
	float: right;
	display: inline-block;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.dd .ddTitle span.ddTitleText {
	text-indent: 1px;
	overflow: hidden;
	line-height: 16px;
}

.dd .ddTitle span.ddTitleText img {
	text-align: left;
	padding: 0 2px 0 0
}

.dd .ddTitle img.selected {
	padding: 0 3px 0 0;
	vertical-align: top;
}

.dd .ddChild {
	position: absolute;
	border: 1px solid #c3c3c3;
	border-top: none;
	display: none;
	margin: 0;
	width: auto;
	overflow: auto;
	overflow-x: hidden !important;
	background-color: #ffffff;
}

.dd .ddChild .opta a,.dd .ddChild .opta a:visited {
	padding-left: 10px
}

.dd .ddChild a {
	display: block;
	padding: 2px 0 2px 3px;
	text-decoration: none;
	color: #000;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
}

.dd .ddChild a:hover {
	background-color: #66CCFF;
}

.dd .ddChild a img {
	border: 0;
	padding: 0 2px 0 0;
	vertical-align: middle;
}

.dd .ddChild a.selected {
	background-color: #66CCFF;
}

.hidden {
	display: none;
}

.dd .borderTop {
	border-top: 1px solid #c3c3c3 !important;
}

.dd .noBorderTop {
	border-top: none 0 !important
}

/************** Skin 2 *********************/
.dd2 { /*display:inline-block !important;*/
	text-align: left;
	background-color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
}

.dd2 .ddTitle {
	background: transparent url(../images/msDropDown.gif) no-repeat;
	padding: 0 3px;
	text-indent: 0;
	cursor: default;
	overflow: hidden;
	height: 36px;
}

.dd2 .ddTitle span.arrow {
	background: transparent url(../images/icon-arrow.gif) no-repeat 0 0;
	float: right;
	display: inline-block;
	width: 27px;
	height: 27px;
	cursor: pointer;
	top: 5px;
	position: relative;
	right: 2px;
}

.dd2 .ddTitle span.ddTitleText {
	text-indent: 1px;
	overflow: hidden;
	line-height: 33px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	_position: relative;
	_top: 4px
}

.dd2 .ddTitle span.ddTitleText img {
	text-align: left;
	padding: 0 2px 0 0;
}

.dd2 .ddTitle img.selected {
	padding: 0 2px 0 0;
	vertical-align: top;
}

.dd2 .ddChild {
	position: absolute;
	border: 1px solid #c3c3c3;
	border-top: none;
	display: none;
	margin: 0;
	width: auto;
	overflow: auto;
	overflow-x: hidden !important;
	background-color: #ffffff;
	font-size: 14px;
}

.dd2 .ddChild .opta a,.dd2 .ddChild .opta a:visited {
	padding-left: 10px
}

.dd2 .ddChild a {
	display: block;
	padding: 3px 0 3px 3px;
	text-decoration: none;
	color: #000;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
}

.dd2 .ddChild a:hover {
	background-color: #66CCFF;
}

.dd2 .ddChild a img {
	border: 0;
	padding: 0 2px 0 0;
	vertical-align: middle;
}

.dd2 .ddChild a.selected {
	background-color: #66CCFF;
}

.dd2 .borderTop {
	border-top: 1px solid #c3c3c3 !important;
}

.dd2 .noBorderTop {
	border-top: none 0 !important
}

/************* use sprite *****************/
.dd .ddChild a.sprite,.dd .ddChild a.sprite:visited {
	background-image: url(../icons/sprite.gif);
	background-repeat: no-repeat;
	padding-left: 24px;
}

.dd .ddChild a.calendar,.dd .ddChild a.calendar:visited {
	background-position: 0 -404px;
}

.dd .ddChild a.shoppingcart,.dd .ddChild a.shoppingcart:visited {
	background-position: 0 -330px;
}

.dd .ddChild a.cd,.dd .ddChild a.cd:visited {
	background-position: 0 -439px;
}

.dd .ddChild a.email,.dd .ddChild a.email:visited {
	background-position: 0 -256px;
}

.dd .ddChild a.faq,.dd .ddChild a.faq:visited {
	background-position: 0 -183px;
}

.dd .ddChild a.games,.dd .ddChild a.games:visited {
	background-position: 0 -365px;
}

.dd .ddChild a.music,.dd .ddChild a.music:visited {
	background-position: 0 -146px;
}

.dd .ddChild a.phone,.dd .ddChild a.phone:visited {
	background-position: 0 -109px;
}

.dd .ddChild a.graph,.dd .ddChild a.graph:visited {
	background-position: 0 -73px;
}

.dd .ddChild a.secured,.dd .ddChild a.secured:visited {
	background-position: 0 -37px;
}

.dd .ddChild a.video,.dd .ddChild a.video:visited {
	background-position: 0 0;
}

/* for login.tagx */
.dd .ddTitle span.arrow {
	background: url(/resources/image/dd_arrow.png) no-repeat 0 0;
	float: right;
	display: inline-block;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.loginVisible {
	display: block;
}

.loginInvisible {
	display: none;
}

/* end of login css code */
