@CHARSET "UTF-8";

body {
	background-color: #c6c6c6;
	font-size: 12px;
	font-family: Arial, sans-serif;
} 

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

a {
	color: #006699;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a img { 
	border:0; 
}

#container {
	position: absolute;
	top: 20px;
	bottom: 40px;
	left: 20px; 
	right: 20px;
    background-color: white;	
	min-width: 1015px;
}

#legalnotices {
	position: absolute;
	text-align: right;
	bottom: 2px;
	right: 15px;
	font-size: 90%;
}

#header {
	background-color: #006699;
	height: 94px;
}

#fullscreen {
	margin-left: 8px;
	margin-right: 8px;
}

#logoimage {
	display:none
}

#logo {
	position: absolute;
	top: 10px;
	left: 30px;
	right: 300px; /* needed for opera */ /* FIXME: disturbs quick login */
	color: white;
	font-size: 38px;
}

#logo .bib {
	font-weight: bold;
}

#logo .sonomy {
}		
	
#logo a {
	color: white;
}

.systemName {
    color: #006699;
    float: left;
    font-family: Verdana,Arial,sans-serif;
    font-size: 70px;
    font-weight: bold;
    margin-top: 30px;
    height: 120px;
    margin-right: 20px;
}


.systemAbout {
	padding-top: 2ex;
}

.systemRegister {
	margin-bottom: 2ex;
}

.systemRegister h2 {
	font-size: 120%;
	margin-top: 1ex;
	margin-bottom: .5ex;
}

#fullscreen .systemInfoClear {
	clear:left;
}
	
.systemRecent {
	clear: left; 
	padding-top: 1.5em; 

}

#logoSubtitle {
	position: absolute;
	top: 54px;
	left: 30px;
	color: white;
	text-transform: uppercase;
}

.descriptiveLabel {
	color: #bbb;
}

#infoline {
	font-size: 90%;
	color: white;
	right: 0px;
	top: 1.8ex;
	position: absolute;
	margin-right: 7em;
}

#infoline a {
	color: white;
	text-decoration: none;
}

#infoline a.profile {
	text-decoration: underline;
}

#language {
	color: white;
	right: 1.2ex;
	top: 0px;
	position: absolute;
	font-size: 130%;
	margin-top: 0.8ex;
	text-transform: uppercase;
}
	
#language ul li {
	width: auto;
	float: left;
	list-style: none;
	padding-left: 2px;
	background-image: url("/resources/image/dot.png");
	background-repeat: no-repeat;
	background-position: 0 .5em;
	padding-left: .3em;
	padding-right: .2em;
}

#language ul li:first-child {
	background-image: none;
}

#language a {
	color: white;
	text-decoration: none;
}

#language ul li a.active {
	font-weight: bold;
}

#language a:hover, #infoline a:hover {
	text-decoration: underline;	
}

#poststats {
	position: absolute;
	top: 6ex;
	right: 2ex;
	text-align: right;
	color: white;
	font-size: 90%;
}

#poststats a {
	text-decoration: none;
	color: white;
}

#poststats span.amount {
	font-weight: bold;
}


#navigation, #navigation2 {
	background-color: #c6c6c6;
	height: 31px;
}

/* ***************************************************************************
 * navigation dropdown menu
 * ***************************************************************************/ 
#navigation > ul {
	list-style: none;
	font-weight: bold;
	margin-bottom: 10px;
	/* Clear floats */
	float: left;
}

#navigation > ul li {
	float: left;
	position: relative;
}

#search {
    font-size: 20px;
    bottom: 4px;
    margin-left: 2em;
    white-space: nowrap;
    display: inline;
    position: absolute;
}

#search > ul, #search > ul > li {
	display: inline;
}

#search > ul > li.hidden, .initiallyHidden {
	display: none;
}

#search > ul li ul {
	margin-top: -4px;
	font-style: italic;
	font-size: 14px;	
} 

#search > ul ul > li {
	padding: 3px 6px;
} 

#search li.pdSubHeader {
	
}

#search > ul li:hover ul li.pdSubHeader:hover {
	background: transparent;
	color: black;
	text-decoration: none;
	cursor: default;
}

#search li.pdSubitems {
	padding-left: 2em;
}

#navigation > ul > li {
	margin-right: 10px;
	padding: 4px;
} 
	
#navigation > ul a, #navigation > ul > li {
	display: block;
	padding: 5px;
	text-decoration: none;
}

#navigation .pulldown > span, #navigation > ul > li > a {
	display: block;
	padding-top: 3px;
	padding-bottom: 4px;
}

#navigation > ul li:hover, #navigation .pulldown:hover {
	color: #fff;
	background: #333;
}

#navigation > ul li:hover > a { /* FIXME: sollte das nicht durch die vorherige Regel abgedeckt sein? */ 
	color: #fff;
}

/*--- DROPDOWN ---*/
#navigation > ul ul, #navigation > ul table, #search > ul ul {
	background: #f0f0f0; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
/*	background: rgba(198,198,198,0); */ /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */ 
	list-style: none;
	position: absolute;
	left: -9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
	border-bottom: 2px solid #c6c6c6;
	margin-top: 5px;
}

#navigation > ul ul, #navigation > ul table {
	margin-top: 5px;
}	
		
#search > ul ul {
	margin-top: -3px;
}

#navigation > ul table {
	border-left: 2px solid #c6c6c6;
	border-right: 2px solid #c6c6c6;
}

#navigation * {
	z-index: 50;
}
#search * {
	z-index: 51;	
}

#navigation > ul ul li, #search > ul ul li {
	float: none;
	color: #000;	
}

/* Stop text wrapping and creating multi-line dropdown items */
#navigation > ul ul a, #navigation > ul table a, #search > ul ul li {
	white-space: nowrap; 
}
/* Display the dropdown on hover */
#navigation > ul li:hover ul, #navigation > ul li:hover table, #search > ul li:hover ul { 
	left: 0; /* Bring back on-screen when needed */
}
/* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
#navigation > ul li:hover a { 
	text-decoration: underline;
}

#navigation > ul li.pulldown ul, #search > ul li ul {
	background: #f0f0f0;
	border-left: 2px solid #c6c6c6;
	border-right: 2px solid #c6c6c6;
}

/* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
#navigation > ul li:hover ul a, #navigation > ul li:hover table a, #search > ul li:hover ul a { 
	text-decoration: none;
}
/* Here we define the most explicit hover states--what happens when you hover each individual link. */
#navigation > ul li:hover * a:hover, #search > ul li:hover ul li:hover { 
	background: #333;
	text-decoration: underline;
	color: #fff;
	cursor: pointer;
}
#navigation > ul table td {
	padding: 0;
} 

#navigation ul li.active {
	color: #006699; 
	text-decoration: none;
	background-color: white;
}

#navigation ul li.active:hover {
	background-color: #333333;
}

#navigation > ul > li.active:hover a:hover {
	color: white;
}

#navigation ul li.active a {
	color: #000;
}

#navigation>ul>li>a:hover {
	color: #fff;
}

#navigation>ul>li>table td:hover a {
	color: white;
}

#navigation > ul > li.active a {
	color: #red;
}


#navigation ul li.pulldown {
	background-image: url("/resources/image/pulldown-marker-000000.png");
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 13px; 
}

#navigation ul li a, #navigation2 a {
	color: black;
	text-decoration: none;
}

.pulldown .nicedropmenudiv {
	padding-top: 12px;
}

#navigation {
}

#navigation2 {
	float: right;
}


#navigation2 a {
	display: block;
	width: auto;
	list-style: none;
	padding: 1ex 3ex;
	font-weight: bold;
}

#navigation2 .signoff {
	background-image: url("/resources/image/signoff.png");
	background-repeat: no-repeat;
	background-position: 0 0.9ex;
	padding-left: 3ex;
}


.smallform {
	display: inline;
	margin: 0px;
	padding: 0px;
}

#specialsearch {
	display: inline;
}


#intro {
	display: none;
}

/*****************************************************************************/
/* BEGIN INFOBOX                                                             */
/*****************************************************************************/
#infobox {
	background-color: #ccd8e8;
	background-image: url("/resources/image/infobox_bg.png");
	background-repeat: no-repeat;
}

#infobox .header {
	padding: 0.5em 0 0 15px;
	margin: 0;
}

#infobox .content {
	padding: 15px;
}

#infobox .content a, #infobox .content a:link, #infobox .content a:visited {
	text-decoration: underline;
}
/*****************************************************************************/
/* END INFOBOX                                                               */
/*****************************************************************************/


/*****************************************************************************/
/* BEGIN SIDEBAR                                                             */
/*****************************************************************************/
#sidebar {
	position: absolute;
	width: 300px;
	right: 0px;
	top: 0px;
	z-index: 40;
	background-color: #e4e4e4;
}

.sidebar_h {
	font-size: 120%;
	color: #334d55;
	margin: 0px;
	padding: 5px;
	font-weight: bold;
}

.sidebar_hh {
	font-size: 120%;
	color: #334d55;
	margin: 0px;
	padding: 5px;
	font-weight: bold;
}


#sidebar a, #sidebar a:link, #sidebar a:visited {
	color: #2F3321;
	text-decoration: none;
}

.floatul li {
	display: inline;	
}


/** used for collapsing/uncollapsing sidebar entries */
.toggler {
	margin-right: .3em;
	cursor: pointer;
	color: #069;
}

#newsbox {
	background-color: #FFF69B;
}

#sidebox {
	background-color: #D8EBAE;
}

#sidebar ul {
	list-style: none;
	font-size: 95%;
	margin: 3px 0;
	padding: 5px;
}

#sidebar ul {
	margin: 0px;
}

/* --- side bar navigation  ------------------------------------------------*/
#sidebarnavi {
	height: 60px;
	background: url("/resources/image/sidebarnav_bg.png");
	/*background-color: #e4e4e4;*/
}

.sidebarnavi_entry {
    background: url("/resources/image/tabactions.png");
    height: 60px; 
	width: 14.286%;
    position: absolute;
    border-left: 1px solid #c6c6c6;
}

.sidebarnavi_entry_active:hover {
	background-color: #e4e4e4;
}

.sidebarnavi_entry a {
    height: 60px; 
    display: block;
    outline: none;
    text-decoration: none;
	color: #ea8b6f;
}

.sidebarnavi_entry a:hover  {
	color: #ff0000;
}

.sidebarnavi_info {
	/** shows additional information in the side bar navigation */
	margin-right: 5px;
	position: absolute;
	font-weight: bold;
	right: 0px;
}

.sidebarnavi_entry_01 {
    border-left: 0;
    background-position: -9px -90px;
    left: 0px;
}

.sidebarnavi_entry_01_inactive {
    border-left: 0;
    background-position: -9px -192px;
    left: 0px;
}

.sidebarnavi_entry_01:hover {
    border-left: 0;
    background-position: -9px 10px;
    left: 0px;
}

.inbox_full {
    background-position: -8px -140px;
}

.inbox_full:hover {
    background-position: -8px -40px;
}

.sidebarnavi_entry_02 {
	background-position: -86px -91px;
	left: 14.2857%;
}

.sidebarnavi_entry_02:hover {
	background-position: -86px 9px;
}

.sidebarnavi_entry_02_inactive {
	background-position: -86px -194px;
	left: 14.2857%;
}

.sidebarnavi_entry_03 {
    background-position: -50px -91px;
    left: 28.5714%;
}

.sidebarnavi_entry_03:hover {
    background-position: -50px 9px;
}

.sidebarnavi_entry_03_inactive {
    background-position: -50px -193px;
    left: 28.5714%;
}

.sidebarnavi_entry_04 {
    background-position: -279px -89px;
    left: 42.8571%;
}

.sidebarnavi_entry_04:hover {
    background-position: -279px 10px;
}

.sidebarnavi_entry_04_inactive {
    background-position: -279px -193px;
    left: 42.8571%;
}

.sidebarnavi_entry_05 {
	background-position: -236px -90px;
	left: 57.1429%;
}

.sidebarnavi_entry_05:hover {
	background-position: -236px 10px;
}

.sidebarnavi_entry_05_inactive {
	background-position: -236px -194px;
	left: 57.1429%;
}

.sidebarnavi_entry_06 {
    background-position: -318px -89px;
	left: 71.4286%;
}

.sidebarnavi_entry_06:hover {
    background-position: -318px 9px;
}

.sidebarnavi_entry_06_inactive {
    background-position: -318px -89px;
	left: 71.4286%;
}

.sidebarnavi_entry_07 {
    background-position: -363px -89px;
	left: 85.7143%;
}

.sidebarnavi_entry_07:hover {
    background-position: -363px 9px;
}

.sidebarnavi_entry_07_inactive {
    background-position: -363px -89px;
	left: 85.7143%;
}


/* hack to fix IE/Win's broken rendering of block-level anchors in lists */
#sidebar li {
	border-bottom: 1px solid #ccc;
}

/* fix for browsers that don't need the hack */
html>body #sidebar li {
	border-bottom: none;
}

/* --- new box  ------------------------------------------------------------*/
ul.news {
	list-style: outside disc !important;
	margin-left: 1.5em !important;
}

/* --- tag cloud -----------------------------------------------------------*/
.tagcloud {
	overflow: hidden;
	text-align: center;
}

.tagcloud li {
	display: inline;
	padding: 0em .1em 0em .1em;
	line-height: 1.5em;
	font-size: 90%;
}

.tagcloud a,.taglist a {
	color: #069;
}

.tagcloud a:hover,.taglist a:hover {
	color: #000;
	text-decoration: none;
}

.tagtiny a,.tagtiny {
	color: #8D9964 ! important;
	padding-right:10px;
}

.tagnormal a,.tagnormal {
	color: #8C9963 ! important;
	padding-right:10px;
}

.taglarge a,.taglarge {
	color: #383d27 ! important;
	padding-right:10px;
}

.taghuge a,.taghuge {
	color: #2F3321 ! important;
	padding-right:10px;
}

.tagone a {
	color: #3399cc;
}

.tagten a {
	font-size: 140%;
	color: #3F472E;
}


/*--- simple css link buttons -----------------------------------------------*/

.linkButton {
	display: inline-block;
	padding: 2px 2px 3px;
	line-height: 1em;
	background-color: #EEEEEE;
	text-decoration: none;
	font-size: 90%;
	font-weight: normal;
	font-family: arial; /*sans-serif*/
	text-shadow: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #6F6F6F;
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
	border-bottom: 1px solid #222;
	position: relative;
	cursor: pointer;
	vertical-align: middle;
	margin-right: 1px;
}

.linkButton:hover {
	text-shadow: 0 1.5px 3px #AFAFAF;
	border: 1px solid #006699;
	-moz-box-shadow: 0 1px 3px #006699;
	-webkit-box-shadow: 0 1px 3px #999;
}

.linkButton * {
	border: none;
	vertical-align: middle;
	color: #5F5F5F;
}

/*--- relations/concepts ---------------------------------------------------*/
#relations > li {
	line-height: 1.2em;
	text-indent: -3em;
	margin-left: 3em;
}

#sidebar a.selectedConcept {
	color: rgb(51, 77, 85) !important;
	font-weight: bold;
}

#relations > li a {
	color: #2F3321 ! important;
}

#relations li ul li a {
	color: #768053 ! important;
	display: inline;
}

#relations li ul li {
	display: inline;
	font-size: 90%;
	line-height: 1.1em;
}
#relations li ul {
	display: inline;	
}


/*****************************************************************************/
/* END SIDEBAR                                                               */
/*****************************************************************************/

/* --- tabbed navigation ----------------------------------------------------*/
.tab ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.tab li {
	float: left;
	border: 1px solid #bbb;
	border-bottom-width: 0;
	margin: 0;
}

.tab a {
	text-decoration: none;
	display: block;
	background: #eee;
	padding: 3px;
	padding-left: 1em;
	padding-right: 1em;
	text-align: center;
	font-weight: bold;
	font-size: 100%;
}

.tab a:hover {
	background-color: white;
}

.tab .selected {
	border-color: #069;
}

.tab .selected a {
	position: relative;
	top: 1px;
	background: white;
	color: #069;
}

.tab_content {
	border: 1px solid #069;
	clear: both;
	padding: 0.5em 1em;
	min-width: 725px;
}

.tab_content hr {
	border: 0px;
	border-top: 1px solid #AAA;
}

/* ******************************************************************
 * forms using field sets (e.g., on /editBookmark) 
 */
.fsOuter,.fsInner,.fsVisible {
	border: 1px solid #069;
	background-color: #eee;
}

/* 
 * necessary to show the "viewable for" and "relevant for" group boxes side by side
 * <groupboxes>
 */
#fsgroupBoxleft, #fsgroupBoxright {
	border: 1px solid #069;
	background-color: #eee;
	padding: 10px;
	min-height: 15ex;
}

#groupBoxleft, #groupBoxright {
	position: relative;
	display: inline;
	width: 49.8%;
}

#groupBoxleft {
	float: left;
}

#groupBoxright {
	float: right;
}

.clearfloat {
	clear: both;
}
/*
 * </groupboxes>
 */






/*
 * jQuery UI tabs (used, for example, on /login)
 */
div.ui-tabs div.ui-tabs-panel {
	border: 1px solid #069;
	margin-top: 2.2em;
}

div.ui-tabs ul.ui-tabs-nav {
	padding: 0px;
}

div.ui-tabs ul.ui-tabs-nav li {
	border: 1px solid #bbb;
	background-color: #eee;
	top: 0px;
}

div.ui-tabs ul.ui-tabs-nav li:hover {
	background-color: #fff;
}

div.ui-tabs ul.ui-tabs-nav li.ui-tabs-selected {
	background-color: #fff;
	border: 1px solid #069;
}

div.ui-tabs ul.ui-tabs-nav li.ui-tabs-selected a:hover {
	color: #069;
}

/* --- tooltips -------------------------------------------------------------*/
span.info {
	position: relative;
	z-index: 24;
	background-color: #eee;
	border: 1px solid #ccc;
	color: #000;
}

div.help {
	float: left;
	position: relative;
	margin: 0 5px 0 0;
	font-size: 90%;
	display: inline;
	cursor: help;
}

div.help * dl {
	font-size: 90%;
}

div.help * dt {
	float: left;
	clear: left;
	width: 100px;
	text-align: right;
	margin-right: 1em;
}

div.help * dt:after {
	content: ":";
}

div.help * dd {
	margin: 0;
	padding: 0 0 .5em 0;
}

span.info:hover,div.help:hover {
	z-index: 25;
}

span.info>div,div.help>div{
	display: none;
}

div.help:hover>div {
	display: block;
	position: absolute;
	top: 2em;
	left: 2em;
	width: 30em;
	border: 1px solid #ccc;
	background-color: #eee;
	color: #000;
	padding: 5px;
}

div.widehelp:hover div {
	width: 600px;
}


div.help>a,div.help>b {
	font-weight: bold;
	color: #006699;
}

/* --- post lists -----------------------------------------------------------*/
.post {
	clear: left;
	padding: 8px;
	background-color: #ffffff;
	position: relative;
	min-height: 100px; /* to give previews images enough space */ 
	margin-left: 10px;
	margin-right: 10px
}
	
.post:hover {
	background-color: #ffffc6 !important;
}

.post .image {
	width: 100px;
	text-align: center;
	padding-top: 15px;
	background-color: white;
	left: 3px;
	bottom: 3px;
	top: 3px;
	position: absolute;
}

.post .image .entrytype {
	background: url("/resources/image/previews.png") no-repeat;
    display: block;
    float: left;
    position: relative;
    margin-left: 25px;
    margin-top: 5px;
}

.post .editTags, .post .action {
	visibility: hidden;	
}

.post:hover .editTags, .post:hover .action {
	visibility: visible;
}

.post .image .article{ background-position: 0 0; width: 49px; height: 53px; } 
.post .image .book{ background-position: 0 -54px; width: 65px; height: 46px; } 
.post .image .booklet{ background-position: 0 -101px; width: 59px; height: 65px; } 
.post .image .conference{ background-position: 0 -167px; width: 56px; height: 44px; } 
.post .image .electronic{ background-position: 0 -212px; width: 55px; height: 45px; } 
.post .image .inbook{ background-position: 0 -258px; width: 64px; height: 60px; } 
.post .image .incollection{ background-position: 0 -319px; width: 64px; height: 60px; } 
.post .image .inproceedings{ background-position: 0 -380px; width: 36px; height: 49px; } 
.post .image .manual{ background-position: 0 -430px; width: 61px; height: 46px; } 
.post .image .masterthesis{ background-position: 0 -477px; width: 58px; height: 64px; } 
.post .image .misc{ background-position: 0 -542px; width: 36px; height: 49px; } 
.post .image .patent{ background-position: 0 -592px; width: 43px; height: 55px; } 
.post .image .pdf{ background-position: 0 -648px; width: 59px; height: 30px; } 
.post .image .periodical{ background-position: 0 -679px; width: 60px; height: 41px; } 
.post .image .phdthesis{ background-position: 0 -721px; width: 59px; height: 64px; } 
.post .image .preamble{ background-position: 0 -786px; width: 50px; height: 53px; } 
.post .image .presentation{ background-position: 0 -840px; width: 55px; height: 46px; } 
.post .image .proceedings{ background-position: 0 -887px; width: 47px; height: 60px; } 
.post .image .standard{ background-position: 0 -948px; width: 42px; height: 54px; } 
.post .image .techreport{ background-position: 0 -1003px; width: 55px; height: 52px; } 
.post .image .unpublished{ background-position: 0 -1056px; width: 36px; height: 49px; } 
.post .image .web{ background-position: 0 -1106px; width: 61px; height: 37px; } 

/*
 * header logos for all pages (FIXME: must be positioned correctly)
 */
.headerLogo.image {border: 0}
.headerLogo.image {background: url("/resources/image/icons.png") no-repeat;} 
.headerLogo.image.bookmarks {background-position: 27px 2px; width: 30px; height: 30px; }
.headerLogo.image.publications {background-position: 27px -61px; width: 30px; height: 30px; }
.headerLogo.image.tags {background-position: 27px -200px; width: 30px; height: 30px; }
/*
 * FIXME: put into icons.png
 */ 
.headerLogo.image.spheres {background-image: url('/resources/image/concepts.png'); width: 30px; height: 30px; }
.headerLogo.image.relations {background-image: url('/resources/image/concepts.png'); width: 30px; height: 30px; }
.headerLogo.image.settings {background-image: url('/resources/image/settings.png'); width: 30px; height: 30px; }
.headerLogo.image.search {background-image: url('/resources/image/search.png'); width: 30px; height: 30px; }
.headerLogo.image.editTags {background-image: url('/resources/image/edit_tags.png'); width: 30px; height: 30px; }
.headerLogo.image.openid {background-image: url('/resources/image/openid-logo-small.png'); width: 30px;}


.ptitle,  .pdesc, .post .authors {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
  	-o-text-overflow: ellipsis;  /* necessary for opera 9+10 */
}

.ptitle {
	font-size: 120%;
	font-weight: bold;
}

.post .ptitle {
	margin-left: 110px;
	margin-right: 24px;
}

.post .ptitle a {
	color: #000;
}

.post .pdesc, .post .meta, .post .authors {
	font-size: 90%;
	margin-left: 110px;
}

.post .usersaves {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	background-image: url("/resources/image/dreieck_or.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 33px;
	height: 34px;
	padding-top: 2px;
	text-align: center;
	margin-top: 3px;
	margin-right: 3px;
}

.post .usersaves a {
	color: #aaaaaa;
	font-weight: bold;
	padding-right: 3px;
	padding-left: 16px;
	font-size: 90%;
}

	
.post .action {
	display: block;
	margin-top: 1ex;
	position: absolute;
	bottom: 1ex;
	left: 116px;
	background-color: inherit;
	
}


.post .action .item, #resultlist .item {
    background-repeat: no-repeat;
	background: url("/resources/image/postactions_black.png");
    display: block;
    float: left;
	height: 30px; 
    width: 30px;
}

.post .action .pick, #resultlist .pick {
    background-position: -30px 0px;
    width: 23px
}

.post .action .unpick {
    background-position: -30px -27px;
    width: 23px
}

.post .action .copy{
    background-position: 0px 0px;
    width: 26px
}

.post .action .edit{
    background-position: 0px -25px;
    width: 26px
}
	
.post .action .delete{
    background-position: 0px -53px;
    width: 28px
}

.post .action .community{
    background-position: 130px 0px;
    width: 28px
}

.post .action .remove{
    background-position: -30px -53px;
    width: 35px
}

.post .action .url, #resultlist .url {
    background-position: 98px 0px;
    width:24px
}

.post .action .bibtex , #resultlist .bibtex {
    background-position: 69px -1px;
    width: 35px
}

.post .action .doi{
    background-position: 28px 0px;
    width:24px
}

.post .action .openUrl{
    background-position: 64px -55px;
    width: 41px
}

.post .rating {
	margin-top: 1ex;
	position: absolute;
	bottom: 2ex;
	right: 2ex;
}

.post .footer {
	clear: both;
}

.post .ptags, .post form.editTags {
	margin-left: 110px;
	margin-top: 1ex;		
	margin-bottom: 5ex;		
}

.ptags li {
	margin-bottom: 0.5ex;
	color: black;
	padding: 0.3ex 0.5ex;
	display: inline;
}


.post .ptags>ul.tags {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
  	-o-text-overflow: ellipsis;  /* necessary for opera 9+10 */
	float: left;
	max-width: 86%;
	white-space: nowrap;
}

.ptags a {
	background-color: #eee;
	padding-left: 1px;
	padding-right: 1px;
}

.ptags ul div a, .ptags div div a  {
	background-color: #fff;
}

.ptags ul div a:hover, .ptags div div a:hover  {
	background-color: #fff;
}
.ptags a:hover {
	background-color: #c8dc8d;
}

.post .ptags span.editTags {
	display: inline-block;
	background-repeat: no-repeat;
	background: url("/resources/image/postactions_black.png");
	background-position: 123px -34px;
	width: 14px;
 	height: 15px;
	cursor: pointer;
    vertical-align: text-bottom;
    background-color: inherit;
    float:left;	
}

form.editTags, form.editTags input {
	display: inline;;	
}

.ptags {
	background: none;
	color: #006699;
}

.ptags .editTags:hover {
	color: #006699;
}

.ptags a.systemtags {
	background: none;
}

.ptags a.systemtags:hover {
	background: none;
}

.post .ptime {
	margin-left: 110px;
}

.puser, .ptime, .pgroup {
	display: inline;
}

.pgroup {
	padding-left: 0.5ex;
	
}

.pgroup .private {
	font-weight: bold;
	background-color: #006699;
	padding: 0 3px;
	color: #ffffff;
}

.pgroup .friends {
	font-weight: bold;
	background-color: #660099;
	padding: 0 3px;
	color: #ffffff;
}

.pgroup .other {
	font-weight: bold;
	background-color: #669900;
	padding: 0 3px;
	color: #ffffff;
}

.post.odd {
	background-color: #f8f8f8;
}		

.post.even {
	background-color: white;
}


.post .pre_pic {
    border: 1px solid #DDDDDD;
    box-shadow: 0px 0px 6px #999999;
}

#preview{
	position:absolute;
	border:1px solid #ccc;
	background:#eee;
	padding:5px;
	display:none;
	z-index: 52;
}


.post .overlay {
	position: absolute;
	left: -2px;
	top: -1px;
	z-index: 2;
}

.stars-off-0\.75 {
    float: left;
    position: relative;
    width: 60px;
}

.stars-off-0\.75, .stars-on-0\.75 {
    background: url("/resources/image/stars.gif") repeat-x scroll 0 -24px transparent;
    height: 12px;
}

.stars-on-0\.75 {
    background-position: 0 -36px;
    position: absolute;
}

.reviewInfo {
	padding-left: 0.5ex;
	font-size: 90%;
	color: #999999;	
}


.bookmarksContainer {
	width: 50%;
	float: left;
	padding-left: 0ex;
}

	
.publicationsContainer {
	width: 50%;
	float: left;
	padding-left: 0ex;
	margin-left: 0px;
}

#bookmarksheader .header {
	border-right: 1px solid #c6c6c6;
}

#publicationsheader .header {
	border-left: 1px solid #c6c6c6;
}

#bookmarksheader .header, #publicationsheader .header {
	text-transform: uppercase;
	color: #006699;
	font-weight: bold;
	font-size: 120%;
	padding-left: 121px;
	height: 40px;
    padding-top: 20px;
	background: url("/resources/image/icons.png");
    background-repeat: no-repeat;
    margin: 0;
	background-color: #ffffff;
}


#bookmarksheader .config, #publicationsheader .config {
	height: 30px;
	width: 30px;
	background: url("/resources/image/icons.png");
    background-repeat: no-repeat;
	background-position: 0px -235px;
	margin-top: 10px;
	margin-right: 20px;
	float: right;
	cursor: pointer;
}

#bookmarksheader .config a, #publicationsheader .config a {
	height: 30px;
	width: 30px;
}

#bookmarksheader .header {
	padding-left: 122px;
	background-position: 27px 2px;
}

#bookmarksfooter .footer, #publicationsfooter .footer {
	height:26px;
	padding-top:4px;
	text-align:center;
	position: relative;
	padding-left: 1em;
	padding-right: 1em;
}

#bookmarksfooter .footer {
	border-right: 1px solid #c6c6c6;
}

#publicationsfooter .footer {
	border-left: 1px solid #c6c6c6;
}

#publicationsheader .header {
	padding-left: 122px;
    background-position: 27px -61px;
}	

.postlistTitle {
	font-size: 130%;
	font-weight: bold;
	padding: 3ex 1em 1ex 1em;
}

.bookmarksContainer .posts {
	background-color: #ffffff;
}

.bookmarksContainer ul.posts {
	background-color: #ffffff;
	border-right: 1px solid #c6c6c6;
}

.publicationsContainer .posts {
	background-color: #ffffff;
}

.publicationsContainer ul.posts {
	background-color: #ffffff;
	border-left: 1px solid #c6c6c6;
}


.bookmarksContainer .desc, .publicationsContainer .desc {
	color: #666666;
	font-style: italic;
}

.publicationsContainer .authors {

}


.listOptions { 
	border:2px solid #c6c6c6; 
	z-index:70;
 	top:40px;
	position:absolute;
  	background-color: #eee;
  	position: absolute;
  	margin-top: .5em;
  	font-size: 80%;
  	padding: .5em;
  	display:none;	
}

#headercontainer {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 125px;
	height: 60px;
	padding-right: 314px;  /* 300px plus average scrollbar width - will be adjusted with javascript to correct width, depends on browser and operating system  */
	background-color: #FFFFFF;
	overflow:visible;
}

#sidebarheader {
	position: absolute;
	width: 314px;  /* 300px plus average scrollbar width - will be adjusted with javascript to correct width, depends on browser and operating system  */
	right: 0px;
	top: 0px;
	z-index: 40;
	background-color: #e4e4e4;
	padding-right: 0;
}


#bookmarksheader, #bookmarksfooter {
	width: 50%;
	float: left;
	padding-left: 0ex;
	background-color: #ffffff;
}

	
#publicationsheader, #publicationsfooter {
	width: 50%;
	float: left;
	padding-left: 0ex;
	background-color: #ffffff;
	margin-left: 0px;
}

/** header for one column content */
#panelheader {
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	margin-left: 0px;
	height: 60px;
}

/** logo for page headings */
#panelheader .headerLogo {
	width: 80px;
	height: 80px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}

/** page headings */
#panelheader .headerContent {
	float: left;
	position: absolute;
	left: 80px;
	right: 0px;
	display: block;
}

#panelheader .header {
	text-transform: uppercase;
	color: #006699;
	font-weight: bold;
	font-size: 120%;
	height: 40px;
    padding-top: 20px;
    margin: 0;
}

#footercontainer {
	position:absolute;
	height:30px;
	bottom:-20px;
	padding-right: 314px;  /* 300px plus average scrollbar width - will be adjusted with javascript to correct width, depends on browser and operating system  */
	overflow: visible;
	left: 0;
	right: 0;
	background-color: #fff;
}


#sidebar {
	position: absolute;
	width: 300px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	z-index: 40;
	background-color: #e4e4e4;
}

#postcontainer {
	position: absolute;
	left: 0px;
	bottom: 10px;
	top: 185px;
	padding-right: 300px;
	overflow: scroll;
	overflow-x:hidden;
	background-color: #fff;
	right: 0;
}


.nextprev {
	padding-left: 0.5em;
	width: 100%;
}
	
.listnav {
	border:1px solid #c6c6c6;
	margin:2px;
	padding: 2px;
	width: 20px;
	display:block;
	float:left;
	text-align:center;
	font-weight:bold;
}
	

#pageNavigation {
	clear: both;
	bottom: 0px;
	background-color: #eaeaea;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 22px;
}

#pageNavigation .pageNavigation {
    float: left;
	width: 50%;
}

#pageNavigation .pageNavigation.bookmarks .innerPageNavigation {
	border-right: 1px solid #c6c6c6;
}

#pageNavigation .pageNavigation.publications  .innerPageNavigation{
	border-left: 1px solid #c6c6c6;
}

#pageNavigation .pageNavigation .innerPageNavigation {
	text-align: center;
	padding: 4px 0;
}

#pageNavigation .pageNavigation .pageNavigationButton {
	display: inline;
	vertical-align:top;
}

#pageNavigation .pageNavigation .directPageAccess {
	display: inline;
	color: #555;
	padding-left: 1em;
	padding-right: 1em;
	vertical-align:middle;
}

#pageNavigation .pageNavigation .directPageAccess a {
	padding-left: 0.5ex;	
	padding-right: 0.5ex;	
	color: #555;
}

#pageNavigation .pageNavigation .directPageAccess a.active {
	color: #fff;
}


.hiddenElement {
	display: none !important;
}

/* login css code */
/*
 * Temporarly styling elements for the login header element
 */
 	
.login {
	float: left;
}

#loginSelect_msdd {
	margin-left: 1em;
}

/* dd.css - to be cleaned */
	/************** Skin 1 *********************/
.dd { /*display:inline-block !important;*/
	text-align: left;
	background-color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
}

.dd .ddTitle {
	background: #f2f2f2;
	border: 1px solid #c3c3c3;
	padding: 3px;
	text-indent: 0;
	cursor: default;
	overflow: hidden;
	height: 16px;
}

.dd .ddTitle span.arrow {
	background: url(dd_arrow.gif) no-repeat 0 0;
	float: right;
	display: inline-block;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.dd .ddTitle span.ddTitleText {
	text-indent: 1px;
	overflow: hidden;
	line-height: 16px;
}

.dd .ddTitle span.ddTitleText img {
	text-align: left;
	padding: 0 2px 0 0
}

.dd .ddTitle img.selected {
	padding: 0 3px 0 0;
	vertical-align: top;
}

.dd .ddChild {
	position: absolute;
	border: 1px solid #c3c3c3;
	border-top: none;
	display: none;
	margin: 0;
	width: auto;
	overflow: auto;
	overflow-x: hidden !important;
	background-color: #ffffff;
}

.dd .ddChild .opta a,.dd .ddChild .opta a:visited {
	padding-left: 10px
}

.dd .ddChild a {
	display: block;
	padding: 2px 0 2px 3px;
	text-decoration: none;
	color: #000;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
}

.dd .ddChild a:hover {
	background-color: #66CCFF;
}

.dd .ddChild a img {
	border: 0;
	padding: 0 2px 0 0;
	vertical-align: middle;
}

.dd .ddChild a.selected {
	background-color: #66CCFF;
}

.hidden {
	display: none;
}

.dd .borderTop {
	border-top: 1px solid #c3c3c3 !important;
}

.dd .noBorderTop {
	border-top: none 0 !important
}

/************** Skin 2 *********************/
.dd2 { /*display:inline-block !important;*/
	text-align: left;
	background-color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
}

.dd2 .ddTitle {
	background: transparent url(../images/msDropDown.gif) no-repeat;
	padding: 0 3px;
	text-indent: 0;
	cursor: default;
	overflow: hidden;
	height: 36px;
}

.dd2 .ddTitle span.arrow {
	background: transparent url(../images/icon-arrow.gif) no-repeat 0 0;
	float: right;
	display: inline-block;
	width: 27px;
	height: 27px;
	cursor: pointer;
	top: 5px;
	position: relative;
	right: 2px;
}

.dd2 .ddTitle span.ddTitleText {
	text-indent: 1px;
	overflow: hidden;
	line-height: 33px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	_position: relative;
	_top: 4px
}

.dd2 .ddTitle span.ddTitleText img {
	text-align: left;
	padding: 0 2px 0 0;
}

.dd2 .ddTitle img.selected {
	padding: 0 2px 0 0;
	vertical-align: top;
}

.dd2 .ddChild {
	position: absolute;
	border: 1px solid #c3c3c3;
	border-top: none;
	display: none;
	margin: 0;
	width: auto;
	overflow: auto;
	overflow-x: hidden !important;
	background-color: #ffffff;
	font-size: 14px;
}

.dd2 .ddChild .opta a,.dd2 .ddChild .opta a:visited {
	padding-left: 10px
}

.dd2 .ddChild a {
	display: block;
	padding: 3px 0 3px 3px;
	text-decoration: none;
	color: #000;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
}

.dd2 .ddChild a:hover {
	background-color: #66CCFF;
}

.dd2 .ddChild a img {
	border: 0;
	padding: 0 2px 0 0;
	vertical-align: middle;
}

.dd2 .ddChild a.selected {
	background-color: #66CCFF;
}

.dd2 .borderTop {
	border-top: 1px solid #c3c3c3 !important;
}

.dd2 .noBorderTop {
	border-top: none 0 !important
}

/************* use sprite *****************/
.dd .ddChild a.sprite,.dd .ddChild a.sprite:visited {
	background-image: url(../icons/sprite.gif);
	background-repeat: no-repeat;
	padding-left: 24px;
}

.dd .ddChild a.calendar,.dd .ddChild a.calendar:visited {
	background-position: 0 -404px;
}

.dd .ddChild a.shoppingcart,.dd .ddChild a.shoppingcart:visited {
	background-position: 0 -330px;
}

.dd .ddChild a.cd,.dd .ddChild a.cd:visited {
	background-position: 0 -439px;
}

.dd .ddChild a.email,.dd .ddChild a.email:visited {
	background-position: 0 -256px;
}

.dd .ddChild a.faq,.dd .ddChild a.faq:visited {
	background-position: 0 -183px;
}

.dd .ddChild a.games,.dd .ddChild a.games:visited {
	background-position: 0 -365px;
}

.dd .ddChild a.music,.dd .ddChild a.music:visited {
	background-position: 0 -146px;
}

.dd .ddChild a.phone,.dd .ddChild a.phone:visited {
	background-position: 0 -109px;
}

.dd .ddChild a.graph,.dd .ddChild a.graph:visited {
	background-position: 0 -73px;
}

.dd .ddChild a.secured,.dd .ddChild a.secured:visited {
	background-position: 0 -37px;
}

.dd .ddChild a.video,.dd .ddChild a.video:visited {
	background-position: 0 0;
}

/* for login.tagx */
.dd .ddTitle span.arrow {
	background: url(/resources/image/dd_arrow.png) no-repeat 0 0;
	float: right;
	display: inline-block;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.loginVisible {
	display: block;
}

.loginInvisible, div.info>div, ul.info>div {
	display: none;
}

.info:hover>div, div.help:hover>div, ul.info:hover>div{
	display: block;
	position: absolute;
	top: 3em+5px;
	border: 1px solid #069;
	background-color: #fff;
	color: #000;
	padding: 5px;
	white-space: normal;
	z-index: 25;
}

.listhButtons a {
	border: 1px solid #006699;
	background-color: #fff;
	color: #000;
	padding-left: 2px;
	padding-right: 2px;
	margin: 0;
}

.systemTags {
	position: absolute;
	display: none;
	z-index: 51;
}

.systemTags li {
	display: inline;
	margin-right: .5em;
}

.hiddenSystemTag {
/* 	cursor: pointer; */
	float: left;
	margin-right: 2px;
}

/* end of login css code */



.listOptionLine {
	margin-left: 0px;
	margin-bottom: 20px;
}

.listOptionHeading {
	margin-top: 10px;
	font-weight:bold;
}

#bibtexListExportOptions {
	display:none;
}

.italic {
	font-style: italic;
}

.reqinput {
	background-color: #e5f3fa;
}
/*
 * textarea with autoresize
 */
div.grippie {
	background: url(/resources/image/resize_grip.png) no-repeat scroll
		center 2px;
	border-color: #006699;
	border-style: solid;
	border-width: 0pt 1px 1px;
	cursor: s-resize;
	height: 8px;
	overflow: hidden;
	margin-bottom: 2px;
}

input[type=text],input[type=password],input[type=file],textarea,select {
	border: 1px solid #069;
	padding: 2px;
	font-family: monospace;
	font-weight: normal;
}


div.fsRow div.resizable-textarea {
	width: 73%;
	float: left;
}

div.reviewTextBox div.resizable-textarea {
	width: 100%;
		
}

div.fsRow div.resizable-textarea textarea {
	float: none;
	width: 100%;
	margin-bottom: 0px;
	border-bottom: none;
}

/*
 * error boxes
 */ 
.errorcontainer {
	border: 1px solid rgb(0, 102, 153);
	padding: 1em;
	margin-bottom: 1em;
}
#error {
	padding: 15px;
	border: 1px solid #aeaeae;
}

.error {
	color: #ff6600;
	max-width: 1200px;
	overflow: scroll;
}
