
@CHARSET "UTF-8";

.systemTagTooltip {
	/*background: transparent url(/resources/image/systemTag/blue_arrow.png);*/
	background-color: WHITE;
	border: 3px solid #006699;
	font-size: 12px;
	height: 110px;
	color: #111;
	text-align: center;
	z-index: 99999;
	
}

.searchSystemTagTooltip {
	/*background: transparent url(/resources/image/systemTag/blue_arrow.png);*/
	background-color: WHITE;
	border: 3px solid #006699;
	font-size: 12px;
	height: 150px;
	width: 520px;
	padding: 25px;
	color: #111;
	text-align: center;
	z-index: 99999;
	
}
.systemTagTooltip h1 {
	padding-top:0px;
	font-size: 16px;
	font-weight: bold;
}

.searchSystemTagTooltip h1 {
	padding-top:0px;
	font-size: 16px;
	font-weight: bold;
	margin-top: -15px;
}
.systemTagTooltip a {
	color: #111;
	text-decoration: none;
}
.searchSystemTagTooltip a {
	color: #111;
	text-decoration: none;
}
.systemTagTooltip a:hover{
	text-decoration: underline;
}
.searchSystemTagTooltip a:hover {
	text-decoration: underline;
}

.tag_tooltip {
	position: relative;
	border-bottom: 1px dotted #C20;
}

.tag_tooltip em {
	display: none;
	text-align: left;
	background: transparent;
}

.tag_tooltip em span {
	position: relative;
	left: -150px;
	display: block;
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;
	padding-bottom: 10px;
	width: 300px;
}

.tag_tooltip em.bottom span {
	position: relative;
	left: -285px;
	display: block;
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;
	padding-top: 35px;
	width: 300px;
}

.tag_tooltip:hover {
	color: #CC2200;
	z-index: 1;
}

.tag_tooltip:hover em {
	display: block;
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 100px;
	text-align: center;
	margin-bottom: 10px;
}

.tag_tooltip:hover em.bottom {
	display: block;
	position: absolute;
	left: 50%;
	top: 0;
	width: 100px;
	text-align: center;
	margin-top: -10px;
}

.systemTag_ul {
	float:left;
	list-style-type:disc; 
	text-align: left;
	width: 110px;
	margin-left: 20px;
}

.systemTag_ul a {
	color: #006699;
}