body{background-color:#000000}
a{color:#872708}
#container{top:14px}
#logoimage{display:block;margin-top:0;position:absolute;z-index:555}
#headerlogoimage{height:90px}
#logo{top:7px;font-size:34px}
#logoSubtitle{top:45px;line-height:2.1ex}
#logo,#logoSubtitle{left:92px}
#logo,#logo a{color:black}
#logoSubtitle{color:#666}
#header{background-color:#f7efed;border-bottom:2px solid black;height:80px}
#infoline,#infoline a{color:black}
#language,#language a{color:black}
#search{font-size:18px}
#navigation,#navigation2{background-color:#df430d;color:white}
#navigation2 .signoff{background-image:url("/resources_puma/image/signoff_white.png")}
#navigation>ul{margin-left:1px}
#navigation ul li a{color:#f7efed}
#navigation ul li.active{color:#df430d}
#navigation>ul li:hover,#navigation .pulldown:hover{color:#f7efed}
#navigation ul li.pulldown span,#navigation ul li.pulldown>a,#navigation ul li.pulldown.active:hover span,#navigation ul li.pulldown.active:hover>a{background-image:url("/resources_puma/image/pulldown-marker-medium_white.png")}
#navigation ul li.pulldown.active span,#navigation ul li.pulldown.active>a{background-image:url("/resources/image/pulldown-marker-000000.png")}
#navigation .pulldown>span{color:#f7efed}
#navigation .pulldown.active>span{color:inherit}
#navigation>ul>li>a:hover{color:#f7efed}
#navigation>ul ul li a,#navigation>ul li table a{color:black}
#navigation>ul ul li a,#navigation>ul li table{font-size:inherit;font-weight:bold}
#navigation2 a{color:#f7efed}
#postcontainer{border:1px solid #dbc3bc;border-top:0;border-right:0;border-bottom:0;top:172px}
#container.noPageNavigation #postcontainer{border-bottom:1px solid #dbc3bc}
#container.noPageNavigation{background-color:#f7efed}
#footercontainer{border:1px solid #dbc3bc;border-top:0}
#headercontainer{top:112px}
input[type="text"],input[type="password"],input[type="file"],textarea,select{border:1px solid #dbc3bc;font-size:100%}
input#inpf{font-size:14px}
.tab_content,.tab .selected{border:1px solid #dbc3bc}
.tab .selected{border-bottom:0}
.tab_content{margin:2ex 0}
.bookmarksContainer ul.posts,.publicationsContainer ul.posts{border:0}
#bookmarksheader .header,#publicationsheader .header{border:0}
#bookmarksfooter .footer,#publicationsfooter .footer{border:0}
#bookmarksheader .header,#publicationsheader .header,#panelheader .header{color:#df430d}
.pgroup .private{background-color:#df430d}
.tab .selected a{color:#df430d}
.fsOuter{padding:2ex}
.fsOuter,.fsInner,.fsVisible{background-color:#f8f8f8;border:1px solid #dbc3bc}
div.ui-tabs div.ui-tabs-panel{border:1px solid #dbc3bc}
div.ui-tabs ul.ui-tabs-nav li.ui-tabs-selected{border:1px solid #dbc3bc}
div.ui-tabs ul.ui-tabs-nav li.ui-tabs-selected a:hover{color:#872708}
.reqinput{background-color:#f7efed}
div.help>a,div.help>b{color:#df430d}
ul#gold_menu li a{background-color:#df430d;border:1px solid #dbc3bc;color:white!important}
ul.newMenu li a{background-color:#df430d;border:1px solid #dbc3bc;color:white!important}
#pumageneral{font-size:130%;font-weight:normal;margin-bottom:4ex;margin-top:3ex;text-align:center}
#wrap_btn{float:none;margin:auto;width:510px}
#wrap_advantages{margin-bottom:10px;margin-top:3ex;min-height:175px;text-align:center;width:100%}
#desc_advantages{color:#df430d;font-weight:normal;height:5ex;padding:2ex 3em;text-align:center}
#groupsList tr:hover:not(.groupsNewChar){background-color:#cabea6;color:#000}
#groupsList tr:hover:not(.groupsNewChar) td>a{color:#000}
#sidebox{background-color:#f7efed}
#sidebar a,#sidebar a:link,#sidebar a:visited{color:#2d1a13}
#sidebar a,#sidebar a:link,#sidebar a:visited{color:#2d1a13}
.tagnormal a,.taghuge{color:#2d1a13!important}
.taglarge a,.taglarge{color:#894f39!important}
.tagnormal a,.tagnormal{color:#ad6348!important}
.tagtiny a,.tagtiny{color:#e58360!important}
.dd .ddChild a.selected{background-color:inherit}
.dd .ddChild a.selected:hover{background-color:#6cf}
div.grippie{border-color:#dbc3bc}
#loginParts_LDAP:hover .loginHelp{display:block;background-image:url("http://puma.uni-kassel.de/t3pics/mufuka_beidseitig-ueberlagert400.png");background-repeat:no-repeat;background-position:50% 130px}
.loginHelp{height:350px;width:410px}
#loginParts_LDAP .loginHelp{display:none}
#loginParts_INTERNAL:hover .loginHelp{display:none}
#loginParts_INTERNAL .loginHelp{display:none}
#loginParts_HTTPBASIC:hover .loginHelp{display:none}
#loginParts_HTTPBASIC .loginHelp{display:none}
#loginParts_OPENID:hover .loginHelp{display:none}
#loginParts_OPENID .loginHelp{display:none}
.socializer .addContainer{position:static}
.systemName,h4.textPage,h3.textPage{color:#df430d}