<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bibsonomy.search.index.database.project.mybatis.ProjectIndexInformationMapper">

	<select id="getLastProjectChangeId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		SELECT value FROM ids WHERE name = #{id}
	</select>

	<select id="getLastProjectChangeLogDate" resultType="java.util.Date">
		SELECT MAX(log_date) FROM log_projects lp
	</select>
</mapper>
