/* UniK Logo */
#bannerLeft img {
	padding-top: 70px;
	padding-left: 60px;
}

/* KDE Logo */
#bannerRight img {
	padding-right: 60px;
	padding-bottom: 10px;
}

#breadcrumbs {
	display: none;
}

#leftColumn {
	margin: 0px;
	width: 180px;
	border: none;
	/* color: #fff; */
	color: #aaa;
	/* background: #a3004e; */
	background: #D8EBAE;
}

#navcolumn ul li {
	padding-bottom: 0.4em;
	font-size: small;
}

#navcolumn h5 {
	padding-bottom: 0.2em;
	font-size: medium;
	/* color: #fff */
	color: #aaa;
	border: none;
}

#navcolumn a {
	/* color: #fff; */
	color: #3399cc;
}

#bodyColumn {
	/* 60px + 160px + 20px */
	margin-left: 240px;
	margin-right: 60px;
}

#bodyColumn a {
	/* color: #a3004e; */
	color:#3399cc
}

.section h2, h3 {
	padding: 0px;
	font-family: sans-serif;
	border: none;
	border-bottom: #eee 1px solid;
	background: #fff;
	color:#aaa;
}

#footer {
	padding-right: 60px;
}

#contentBox {
	width:100%;
}

#bodyColumn {
    width:100%;
}

#contentBox ul {
   list-style:disc;
   padding-left:20px;
}
