<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	                    http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--
	   webapp independent bean configurations

       in principle, the DBlogic should be here as well, but it is currently coupled
       via FactoryBeans
	
	-->
</beans>