<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	                    http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--
	   webapp independent bean configurations

       in principle, the DBlogic should be here as well, but it is currently coupled
       via FactoryBeans
	
	-->


	<!-- extracts properties from the provided file and inserts them into this file -->
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>/WEB-INF/project.properties</value>
		</property>
	</bean>
	
	<!-- to resolve messages -->
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<!-- matches messages.properties, messages_de.properties, ... -->
		<property name="basenames" value="messages"/>
	</bean>	
	
	<!-- handles sending of mails  -->
	<bean id="mailUtils" class="org.bibsonomy.util.MailUtils" scope="singleton">
		<property name="projectHome"><value>${project.home}</value></property>
		<property name="projectName"><value>${project.name}</value></property>
		<property name="projectBlog"><value>${project.blog}</value></property>
		<property name="projectEmail"><value>${project.email}</value></property>
		<property name="projectRegistrationFromAddress"><value>${project.registrationFromAddress}</value></property>
		<property name="mailHost"><value>${mail.smtp.host}</value></property>
		<property name="messageSource" ref="messageSource"/>
	</bean>
	
	<!--+
	    | lucene index updater
	    +-->
	<bean id="luceneBibTexManager" class="org.bibsonomy.lucene.index.LuceneBibTexManager" factory-method="getInstance"/>
	<bean id="luceneBookmarkManager" class="org.bibsonomy.lucene.index.LuceneBookmarkManager" factory-method="getInstance"/>

	<!-- update jobs without index optimization -->
	<bean id="luceneUpdateBibTexJobWithoutIndexOptimization" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
	  <property name="targetObject" ref="luceneBibTexManager" />
	  <property name="targetMethod" value="updateAndReloadIndex" />
	  <property name="arguments" value="false" /> <!-- optimizeIndex true|false -->
	  <property name="concurrent" value="false" />
	</bean>
	<bean id="luceneUpdateBookmarkJobWithoutIndexOptimization" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
	  <property name="targetObject" ref="luceneBookmarkManager" />
	  <property name="targetMethod" value="updateAndReloadIndex" />
	  <property name="arguments" value="false" /> <!-- optimizeIndex true|false -->
	  <property name="concurrent" value="false" />
	</bean>

	<!-- update jobs without index optimization -->
	<bean id="luceneUpdateBibTexJobWithIndexOptimization" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
	  <property name="targetObject" ref="luceneBibTexManager" />
	  <property name="targetMethod" value="updateAndReloadIndex" />
	  <property name="arguments" value="true" /> <!-- optimizeIndex true|false -->
	  <property name="concurrent" value="false" />
	</bean>
	<bean id="luceneUpdateBookmarkJobWithIndexOptimization" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
	  <property name="targetObject" ref="luceneBookmarkManager" />
	  <property name="targetMethod" value="updateAndReloadIndex" />
	  <property name="arguments" value="true" /> <!-- optimizeIndex true|false -->
	  <property name="concurrent" value="false" />
	</bean>

	<!-- lucene index update cron jobs -->
	<bean id="luceneUpdateBibTexCronTriggerWithoutIndexOptimization" class="org.springframework.scheduling.quartz.CronTriggerBean">
 		<!-- value is like "sec  min  hour  day  month  dow year(optional)	" -->
 		<!--  http://www.opensymphony.com/quartz/api/    http://www.opensymphony.com/quartz/api/org/quartz/CronExpression.html  -->
 		<property name="cronExpression" value="22 1/2 * * * ?" /> <!-- *:01,11,..,51:22 -->
		<property name="jobDetail" ref="luceneUpdateBibTexJobWithoutIndexOptimization" />
	</bean>
	<bean id="luceneUpdateBookmarkCronTriggerWithoutIndexOptimization" class="org.springframework.scheduling.quartz.CronTriggerBean">
 		<!-- value is like "sec  min  hour  day  month  dow year(optional)	" -->
 		<!--  http://www.opensymphony.com/quartz/api/    http://www.opensymphony.com/quartz/api/org/quartz/CronExpression.html  -->
 		<property name="cronExpression" value="55 1/3 * * * ?" /> <!-- *:01,11,..,51:22 -->
		<property name="jobDetail" ref="luceneUpdateBookmarkJobWithoutIndexOptimization" />
	</bean>
 
	<bean id="luceneUpdateBibTexCronTriggerWithIndexOptimization" class="org.springframework.scheduling.quartz.CronTriggerBean">
 		<!-- value is like "sec  min  hour  day  month  dow year(optional)	" -->
 		<!--  http://www.opensymphony.com/quartz/api/    http://www.opensymphony.com/quartz/api/org/quartz/CronExpression.html  -->
 		<property name="cronExpression" value="1 0 2 * * ?" />  <!-- @02:00:01 -->
		<property name="jobDetail" ref="luceneUpdateBibTexJobWithIndexOptimization" />
	</bean>
 	<bean id="luceneUpdateBookmarkCronTriggerWithIndexOptimization" class="org.springframework.scheduling.quartz.CronTriggerBean">
 		<!-- value is like "sec  min  hour  day  month  dow year(optional)	" -->
 		<!--  http://www.opensymphony.com/quartz/api/    http://www.opensymphony.com/quartz/api/org/quartz/CronExpression.html  -->
 		<property name="cronExpression" value="1 0 2 * * ?" />  <!-- @02:00:01 -->
		<property name="jobDetail" ref="luceneUpdateBookmarkJobWithIndexOptimization" />
	</bean>

	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
	    <property name="triggers">
	        <list>
	            <ref bean="luceneUpdateBibTexCronTriggerWithoutIndexOptimization" />
	            <ref bean="luceneUpdateBookmarkCronTriggerWithoutIndexOptimization" />
	            <ref bean="luceneUpdateBibTexCronTriggerWithIndexOptimization" />
	            <ref bean="luceneUpdateBookmarkCronTriggerWithIndexOptimization" />
	        </list>
	    </property>
	</bean>
	
</beans>