<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.0.3.xsd">
	
	<beans:bean id="loginUrl" class="java.lang.String">
		<beans:constructor-arg value="/login" />
	</beans:bean>
	
	<http use-expressions="true" entry-point-ref="entryPoint" auto-config="false" security-context-repository-ref="contextRepository">
		<!-- no filtering for css and js -->
		<intercept-url pattern="/resources/**" filters="none" />
		<!-- api uses own authentication handling -->
		<intercept-url pattern="/api/**" filters="none" />
		<!-- login -->
		<intercept-url pattern="/login" access="isAnonymous()" />
		<!-- restrict admin pages to admins -->
		<intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
		<!-- everything else -->
		<intercept-url pattern="/**" access="permitAll" />

		<!-- filter definitions -->
		<custom-filter position="LOGOUT_FILTER" ref="logoutFilter" />
		
		<custom-filter position="FORM_LOGIN_FILTER" ref="usernameAndPasswordFilter" />
		
		<custom-filter after="FORM_LOGIN_FILTER" ref="ldapUsernameAndPasswordFilter" />
		
		<custom-filter position="OPENID_FILTER" ref="openIDFilter" />
		
		<http-basic />
		
		<custom-filter after="OPENID_FILTER" ref="openIDRememberMeFilter" />
		
		<custom-filter position="REMEMBER_ME_FILTER" ref="dbRememberMeFilter" />
		
		<access-denied-handler error-page="/access_denied" />
	</http>
	
	<beans:bean id="logoutFilter" class="org.springframework.security.web.authentication.logout.LogoutFilter">
		<beans:constructor-arg type="java.lang.String" value="/" />
		<beans:constructor-arg>
			<beans:list>
				<beans:ref bean="securityContextLogoutHandler" />
				<beans:ref bean="openIDRememberMeServices" /> <!-- TODO: extract openid config -->
				<beans:ref bean="dbRememberMeServices" /> <!-- TODO: extract db config -->
			</beans:list>
		</beans:constructor-arg>
		<beans:property name="filterProcessesUrl" value="/logout" />
	</beans:bean>
	
	<!-- invalidates the session -->
	<beans:bean id="securityContextLogoutHandler" class="org.springframework.security.web.authentication.logout.SecurityContextLogoutHandler" />
	
	<beans:bean id="contextRepository" class="org.bibsonomy.webapp.util.spring.security.UsernameSecurityContextRepository">
		<beans:property name="service" ref="databaseUserService" />
	</beans:bean>

	<beans:bean id="entryPoint" class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
		<beans:property name="loginFormUrl" ref="loginUrl" />
	</beans:bean>
	
	<beans:bean id="cookieKey" class="java.lang.String">
		<beans:constructor-arg value="a1d0c6e83f027327d8461063f4ac58a6" /> <!-- TODO config -->
	</beans:bean>

	<beans:bean id="abstractUsernameAndPasswordFilter" class="org.bibsonomy.webapp.util.spring.security.filter.UsernamePasswordAuthenticationFilter" abstract="true">
		<beans:property name="grube" ref="teergrube" />
		<beans:property name="authenticationFailureHandler" ref="failureHandler" />
		<beans:property name="authenticationSuccessHandler" ref="successHandler" />
		<beans:property name="usernameParameter" value="username" />
		<beans:property name="passwordParameter" value="password" />
	</beans:bean>

	<beans:bean id="successHandler" class="org.bibsonomy.webapp.util.spring.security.handler.SuccessHandler" />
	
	<beans:bean id="failureHandler" class="org.bibsonomy.webapp.util.spring.security.handler.FailureHandler" scope="singleton">
		<beans:property name="grube" ref="teergrube" />
		<beans:property name="defaultFailureUrl" ref="loginUrl" />
	</beans:bean>
	
	<!-- database login -->
	<beans:bean id="usernameAndPasswordFilter" parent="abstractUsernameAndPasswordFilter">
		<beans:property name="authenticationManager" ref="authenticationManager" />
		<beans:property name="filterProcessesUrl" value="/doLogin" />
		<beans:property name="rememberMeServices" ref="dbRememberMeServices" />
	</beans:bean>
	
	<!-- sets a remember me cookie for the database -->
	<beans:bean id="dbRememberMeServices" class="org.springframework.security.web.authentication.rememberme.TokenBasedRememberMeServices">
  		<beans:property name="userDetailsService" ref="databaseUserService"/>
  		<beans:property name="key" ref="cookieKey"/>
  		<beans:property name="alwaysRemember" value="true" />
  		<beans:property name="cookieName" value="db_user" />
	</beans:bean>
	
	<!-- filter for the db remember me cookie -->
	<beans:bean id="dbRememberMeFilter" class="org.springframework.security.web.authentication.rememberme.RememberMeAuthenticationFilter">
		<beans:property name="rememberMeServices" ref="dbRememberMeServices" />
		<beans:property name="authenticationManager" ref="authenticationManager" />
	</beans:bean>
	
	<beans:bean id="databaseUserService" class="org.bibsonomy.webapp.util.spring.security.userdetailsservice.DatabaseUserDetailsService">
		<beans:property name="adminLogic" ref="adminSecLogic" />
	</beans:bean>
	
	<authentication-manager alias="authenticationManager">
		<authentication-provider user-service-ref="databaseUserService">
			<password-encoder hash="md5" />
		</authentication-provider>
		<!-- without md5 encoding for http basic -->
		<authentication-provider user-service-ref="databaseUserService" />
	</authentication-manager>
	
	<!-- Open ID login -->
	<beans:bean id="openIDLoginUrl" class="java.lang.String">
		<beans:constructor-arg value="/doOpenIDLogin" />
	</beans:bean>
	
	<!-- open id consumer -->
	<beans:bean id="openIDConsumer" class="org.springframework.security.openid.OpenID4JavaConsumer" />
	
	<!-- filter -->
	<beans:bean id="openIDFilter" class="org.springframework.security.openid.OpenIDAuthenticationFilter">
		<beans:property name="authenticationManager" ref="openIDAuthenticatorManager" />
		<beans:property name="filterProcessesUrl" ref="openIDLoginUrl" />
		<beans:property name="authenticationSuccessHandler" ref="successHandler" />
		<beans:property name="authenticationFailureHandler" ref="failureHandler" />
		<beans:property name="rememberMeServices" ref="openIDRememberMeServices" />
		<beans:property name="consumer" ref="openIDConsumer" />
	</beans:bean>
	
	<!-- open id remember me filter -->
	<beans:bean id="openIDRememberMeFilter" class="org.springframework.security.web.authentication.rememberme.RememberMeAuthenticationFilter">
		<beans:property name="rememberMeServices" ref="openIDRememberMeServices" />
		<beans:property name="authenticationManager" ref="openIDAuthenticatorManager" />
	</beans:bean>
	
	<!-- open id remember me service -->
	<beans:bean id="openIDRememberMeServices" class="org.bibsonomy.webapp.util.spring.security.rememberMeServices.OpenIDRememberMeService">
		<beans:property name="userDetailsService" ref="databaseUserService"/>
  		<beans:property name="key" ref="cookieKey"/>
  		<beans:property name="alwaysRemember" value="true" />
  		<beans:property name="cookieName" value="openID_user" />
  		<beans:property name="filterUrl" ref="openIDLoginUrl" />
		<beans:property name="projectRoot" value="${project.home}" />
		<beans:property name="consumer" ref="openIDConsumer" />
		<beans:property name="repo" ref="contextRepository" />
	</beans:bean>
	
	<beans:bean id="openIDAuthenticationProvider" class="org.springframework.security.openid.OpenIDAuthenticationProvider">
		<beans:property name="userDetailsService" ref="openIDUserDetailsService" />
	</beans:bean>
	
	<beans:bean id="openIDUserDetailsService" class="org.bibsonomy.webapp.util.spring.security.userdetailsservice.OpenIDDatabaseUserDetailsService">
		<beans:property name="adminLogic" ref="adminSecLogic" />
	</beans:bean>
	
	<beans:bean id="openIDAuthenticatorManager" class="org.springframework.security.authentication.ProviderManager">
		<beans:property name="providers">
			<beans:list>
				<beans:ref bean="openIDAuthenticationProvider"/> 
			</beans:list>
		</beans:property>
	</beans:bean>
	
	<!-- LDAP login -->
	<beans:bean id="ldapUsernameAndPasswordFilter" parent="abstractUsernameAndPasswordFilter">
		<beans:property name="authenticationManager" ref="ldapAuthManager" />
		<beans:property name="filterProcessesUrl" value="/doLDAPLogin" />
	</beans:bean>
	
	<beans:bean id="ldapAuthManager" class="org.springframework.security.authentication.ProviderManager">
		<beans:property name="providers">
			<beans:list>
				<beans:ref bean="ldapAuthProvider"/> 
			</beans:list>
		</beans:property>
	</beans:bean>
	
	<beans:bean id="ldapBindAuthenticator" class="org.springframework.security.ldap.authentication.BindAuthenticator">
		<beans:constructor-arg ref="contextSource" />
		<beans:property name="userDnPatterns">
			<beans:list>
				<beans:value>${auth.ldap.userDnPattern}</beans:value>
			</beans:list>
		</beans:property>
	</beans:bean>

	<beans:bean id="ldapAuthProvider" class="org.springframework.security.ldap.authentication.LdapAuthenticationProvider">
		<beans:constructor-arg ref="ldapBindAuthenticator" />
		<beans:property name="userDetailsContextMapper" ref="ldapUserDetailsMapper" />
		<beans:property name="hideUserNotFoundExceptions" value="false" />
	</beans:bean>
	
	<ldap-server id="contextSource" url="${auth.ldap.server}" />

	<beans:bean id="ldapUserDetailsMapper" class="org.bibsonomy.webapp.util.spring.security.userdetailsservice.LDAPUserDetailsServiceMapper">
		<beans:property name="userDetailsService" ref="databaseUserService" />
		<beans:property name="adminLogic" ref="adminSecLogic" />
	</beans:bean>
</beans:beans>