<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:oauth="http://spring-security-oauth.codehaus.org/3.0" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						http://www.springframework.org/schema/security 
						http://www.springframework.org/schema/security/spring-security-3.0.4.xsd">
	
	<bean id="loginUrl" class="java.lang.String">
		<constructor-arg value="/login" />
	</bean>
	
	<security:http use-expressions="true" entry-point-ref="entryPoint" auto-config="false" security-context-repository-ref="contextRepository">
		<!-- no filtering for css and js -->
		<security:intercept-url pattern="/resources/**" filters="none" />
		<!-- api uses own authentication handling -->
		<security:intercept-url pattern="/api/**" filters="none" />
		<!-- login -->
		<security:intercept-url pattern="/login" access="isAnonymous()" />
		<!-- restrict admin pages to admins -->
		<security:intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
		<!-- everything else -->
		<security:intercept-url pattern="/**" access="permitAll" />

		<!-- filter definitions -->
		<security:custom-filter position="LOGOUT_FILTER" ref="logoutFilter" />
		
		<security:custom-filter position="FORM_LOGIN_FILTER" ref="usernameAndPasswordFilter" />
		
		<security:custom-filter after="FORM_LOGIN_FILTER" ref="ldapUsernameAndPasswordFilter" />
		
		<security:custom-filter position="OPENID_FILTER" ref="openIDFilter" />
		
		<security:http-basic />
		
		<security:custom-filter after="OPENID_FILTER" ref="openIDRememberMeFilter" />
		
		<security:custom-filter position="REMEMBER_ME_FILTER" ref="dbRememberMeFilter" />
		
		<security:access-denied-handler error-page="/access_denied" />
	</security:http>
	
	<bean id="logoutFilter" class="org.springframework.security.web.authentication.logout.LogoutFilter">
		<constructor-arg type="java.lang.String" value="/" />
		<constructor-arg>
			<list>
				<ref bean="securityContextLogoutHandler" />
				<ref bean="openIDRememberMeServices" /> <!-- TODO: extract openid config -->
				<ref bean="dbRememberMeServices" /> <!-- TODO: extract db config -->
			</list>
		</constructor-arg>
		<property name="filterProcessesUrl" value="/logout" />
	</bean>
	
	<!-- invalidates the session -->
	<bean id="securityContextLogoutHandler" class="org.springframework.security.web.authentication.logout.SecurityContextLogoutHandler" />
	
	<bean id="contextRepository" class="org.bibsonomy.webapp.util.spring.security.UsernameSecurityContextRepository">
		<property name="service" ref="databaseUserService" />
	</bean>

	<bean id="entryPoint" class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
		<property name="loginFormUrl" ref="loginUrl" />
	</bean>
	
	<bean id="cookieKey" class="java.lang.String">
		<constructor-arg value="a1d0c6e83f027327d8461063f4ac58a6" /> <!-- TODO config -->
	</bean>

	<bean id="abstractUsernameAndPasswordFilter" class="org.bibsonomy.webapp.util.spring.security.filter.UsernamePasswordAuthenticationFilter" abstract="true">
		<property name="grube" ref="teergrube" />
		<property name="authenticationFailureHandler" ref="failureHandler" />
		<property name="authenticationSuccessHandler" ref="successHandler" />
		<property name="usernameParameter" value="username" />
		<property name="passwordParameter" value="password" />
	</bean>

	<bean id="successHandler" class="org.bibsonomy.webapp.util.spring.security.handler.SuccessHandler" />
	
	<bean id="failureHandler" class="org.bibsonomy.webapp.util.spring.security.handler.FailureHandler" scope="singleton">
		<property name="grube" ref="teergrube" />
		<property name="defaultFailureUrl" ref="loginUrl" />
	</bean>
	
	<!-- database login -->
	<bean id="usernameAndPasswordFilter" parent="abstractUsernameAndPasswordFilter">
		<property name="authenticationManager" ref="authenticationManager" />
		<property name="filterProcessesUrl" value="/doLogin" />
		<property name="rememberMeServices" ref="dbRememberMeServices" />
	</bean>
	
	<!-- sets a remember me cookie for the database -->
	<bean id="dbRememberMeServices" class="org.springframework.security.web.authentication.rememberme.TokenBasedRememberMeServices">
  		<property name="userDetailsService" ref="databaseUserService"/>
  		<property name="key" ref="cookieKey"/>
  		<property name="alwaysRemember" value="true" />
  		<property name="cookieName" value="db_user" />
	</bean>
	
	<!-- filter for the db remember me cookie -->
	<bean id="dbRememberMeFilter" class="org.springframework.security.web.authentication.rememberme.RememberMeAuthenticationFilter">
		<property name="rememberMeServices" ref="dbRememberMeServices" />
		<property name="authenticationManager" ref="authenticationManager" />
	</bean>
	
	<bean id="databaseUserService" class="org.bibsonomy.webapp.util.spring.security.userdetailsservice.DatabaseUserDetailsService">
		<property name="adminLogic" ref="adminSecLogic" />
	</bean>
	
	<security:authentication-manager alias="authenticationManager">
		<security:authentication-provider user-service-ref="databaseUserService">
			<security:password-encoder hash="md5" />
		</security:authentication-provider>
		<!-- without md5 encoding for http basic -->
		<security:authentication-provider user-service-ref="databaseUserService" />
	</security:authentication-manager>
	
	<!-- Open ID login -->
	<bean id="openIDLoginUrl" class="java.lang.String">
		<constructor-arg value="/doOpenIDLogin" />
	</bean>
	
	<!-- open id consumer -->
	<bean id="openIDConsumer" class="org.springframework.security.openid.OpenID4JavaConsumer" />
	
	<!-- filter -->
	<bean id="openIDFilter" class="org.springframework.security.openid.OpenIDAuthenticationFilter">
		<property name="authenticationManager" ref="openIDAuthenticatorManager" />
		<property name="filterProcessesUrl" ref="openIDLoginUrl" />
		<property name="authenticationSuccessHandler" ref="successHandler" />
		<property name="authenticationFailureHandler" ref="failureHandler" />
		<property name="rememberMeServices" ref="openIDRememberMeServices" />
		<property name="consumer" ref="openIDConsumer" />
	</bean>
	
	<!-- open id remember me filter -->
	<bean id="openIDRememberMeFilter" class="org.springframework.security.web.authentication.rememberme.RememberMeAuthenticationFilter">
		<property name="rememberMeServices" ref="openIDRememberMeServices" />
		<property name="authenticationManager" ref="openIDAuthenticatorManager" />
	</bean>
	
	<!-- open id remember me service -->
	<bean id="openIDRememberMeServices" class="org.bibsonomy.webapp.util.spring.security.rememberMeServices.OpenIDRememberMeService">
		<property name="userDetailsService" ref="databaseUserService"/>
  		<property name="key" ref="cookieKey"/>
  		<property name="alwaysRemember" value="true" />
  		<property name="cookieName" value="openID_user" />
  		<property name="filterUrl" ref="openIDLoginUrl" />
		<property name="projectRoot" value="${project.home}" />
		<property name="consumer" ref="openIDConsumer" />
		<property name="repo" ref="contextRepository" />
	</bean>
	
	<bean id="openIDAuthenticationProvider" class="org.springframework.security.openid.OpenIDAuthenticationProvider">
		<property name="userDetailsService" ref="openIDUserDetailsService" />
	</bean>
	
	<bean id="openIDUserDetailsService" class="org.bibsonomy.webapp.util.spring.security.userdetailsservice.OpenIDDatabaseUserDetailsService">
		<property name="adminLogic" ref="adminSecLogic" />
	</bean>
	
	<bean id="openIDAuthenticatorManager" class="org.springframework.security.authentication.ProviderManager">
		<property name="providers">
			<list>
				<ref bean="openIDAuthenticationProvider"/> 
			</list>
		</property>
	</bean>
	
	<!-- LDAP login -->
	<bean id="ldapUsernameAndPasswordFilter" parent="abstractUsernameAndPasswordFilter">
		<property name="authenticationManager" ref="ldapAuthManager" />
		<property name="filterProcessesUrl" value="/doLDAPLogin" />
	</bean>
	
	<bean id="ldapAuthManager" class="org.springframework.security.authentication.ProviderManager">
		<property name="providers">
			<list>
				<ref bean="ldapAuthProvider"/> 
			</list>
		</property>
	</bean>
	
	<bean id="ldapBindAuthenticator" class="org.springframework.security.ldap.authentication.BindAuthenticator">
		<constructor-arg ref="contextSource" />
		<property name="userDnPatterns">
			<list>
				<value>${auth.ldap.userDnPattern}</value>
			</list>
		</property>
	</bean>

	<bean id="ldapAuthProvider" class="org.springframework.security.ldap.authentication.LdapAuthenticationProvider">
		<constructor-arg ref="ldapBindAuthenticator" />
		<property name="userDetailsContextMapper" ref="ldapUserDetailsMapper" />
		<property name="hideUserNotFoundExceptions" value="false" />
	</bean>
	
	<security:ldap-server id="contextSource" url="${auth.ldap.server}" />

	<bean id="ldapUserDetailsMapper" class="org.bibsonomy.webapp.util.spring.security.userdetailsservice.LDAPUserDetailsServiceMapper">
		<property name="userDetailsService" ref="databaseUserService" />
		<property name="adminLogic" ref="adminSecLogic" />
	</bean>
</beans>