<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE webapp>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<!-- This flag is to mark the application as distributable, which implies 
		among others that all objects which shall be stored in a session need to 
		be serializable. As a quick fix, this is commented out due to a problem in 
		admin_spammertags.jsp (trying to store a non-serializable query result object) 
		- see -->
	<distributable />


	<!-- Initialization parameters -->
	<display-name>bibsonomy</display-name>
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
	<context-param>
		<param-name>config.location</param-name>
		<param-value>${user.home}/bibsonomy.properties</param-value>
	</context-param>

	<!-- error pages -->
	<error-page>
		<error-code>404</error-code>
		<location>/errors/404</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/errors/405</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/errors/500</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/errors/503</location>
	</error-page>

	<!-- DB connection -->
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/bibsonomy</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<!-- filters -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<description>Removes the context path from all request URLs.</description>
		<filter-name>ContextPathFilter</filter-name>
		<filter-class>org.bibsonomy.webapp.filters.ContextPathFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ContextPathFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<description>Evaluates the Accept-Header for Linked-Open-Data Content Negotiation. Sends Redirects.</description>
		<filter-name>ContentNegotiationFilter</filter-name>
		<filter-class>org.bibsonomy.webapp.filters.ContentNegotiationFilter</filter-class>
		<init-param>
			<description>The pattern defines, which URLs should not be touched by the filter.</description>
			<param-name>excludePattern</param-name>
			<param-value>^/(api|resources|ajax)/.*</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>ContentNegotiationFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<param-name>contextAttribute</param-name>
			<param-value>org.springframework.web.servlet.FrameworkServlet.CONTEXT.bibsonomy2</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<description>Converts posted method parameters into HTTP methods (parameter name: _method)</description>
		<filter-name>hiddenHttpMethodFilter</filter-name>
		<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>hiddenHttpMethodFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>ActionValidationFilter</filter-name>
		<filter-class>filters.ActionValidationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ActionValidationFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>NoCacheFilter</filter-name>
		<filter-class>org.bibsonomy.webapp.filters.NoCacheFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>NoCacheFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>UrlRewriteFilter</filter-name>
		<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
		<init-param>
			<param-name>logLevel</param-name>
			<param-value>log4j</param-value>
		</init-param>
		<init-param>
			<param-name>confReloadCheckInterval</param-name>
			<param-value>-1</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>UrlRewriteFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<!--servlets -->
	<!-- old servlets -->
	<servlet>
		<servlet-name>AdminHandler</servlet-name>
		<servlet-class>servlets.AdminHandler</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SettingsHandler</servlet-name>
		<servlet-class>servlets.SettingsHandler</servlet-class>
	</servlet>
	
	<!-- events -->
	<servlet>
		<servlet-name>events_statphys23</servlet-name>
		<jsp-file>/events/statphys23/index.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>events_iswc2007</servlet-name>
		<jsp-file>/events/iswc2007/index.jsp</jsp-file>
	</servlet>

	<!-- spring MVC servlet -->
	<servlet>
		<servlet-name>bibsonomy2</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	
	<!--+ | OpenSocial - this imports the file 'web-opensocial.xml' as configured 
		in the DOCTYPE-statement + -->
	<!--   &opensocial;-->

	<!-- Servlet-Mappings  -->
	<!-- spring main servlet -->
	<servlet-mapping>
		<servlet-name>bibsonomy2</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/resources/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/resources_puma/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.eot</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.svg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.ttf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.woff</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/brokenurl.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/resources/javascript/pdf.js/web/viewer.html</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.properties</url-pattern>
	</servlet-mapping>

	<!-- events -->
	<servlet-mapping>
		<servlet-name>events_statphys23</servlet-name>
		<url-pattern>/events/statphys23</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>events_iswc2007</servlet-name>
		<url-pattern>/events/iswc2007</url-pattern>
	</servlet-mapping>

	<!-- TODO: remove -->
	<!-- old servlets -->
	<servlet-mapping>
		<servlet-name>AdminHandler</servlet-name>
		<url-pattern>/AdminHandler</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SettingsHandler</servlet-name>
		<url-pattern>/SettingsHandler</url-pattern>
	</servlet-mapping>

	<jsp-config>
		<jsp-property-group>
			<description></description>
			<url-pattern>*.jspx</url-pattern>
			<is-xml>true</is-xml>
		</jsp-property-group>
	</jsp-config>
</web-app>