<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	                    http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--
	   webapp independent bean configurations

       in principle, the DBlogic should be here as well, but it is currently coupled
       via FactoryBeans
	
	-->


	<!-- extracts properties from the provided file and inserts them into this file -->
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>/WEB-INF/project.properties</value>
		</property>
	</bean>
	
	<!-- to resolve messages -->
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<!-- matches messages.properties, messages_de.properties, ... -->
		<property name="basenames" value="messages"/>
	</bean>	
	
</beans>